node_modules
.DS_Store
npm-debug.log
.sass-cache
.css
.rendr-commit
.tern-port
*.pyc
configs/local.json
configs/commitHash.js
configs/prevCommitHash.js
public/vendor/bower
app/channelImages.js
app/templates/compiledTemplates.js
public/mergedAssets.js
public/mergedAssets.min.js
public/mergedAssets.min.map
public/styles/index.css
public/mergedAssets.min.*.js
public/styles/index.*.css
app/templates/__layout.hbs
assets/scss/forms.scss

assets/scss/popovers.scss
assets/bower

dump.rdb
