{{view "app_user" model=user}}
{{view "header_view" model=user context=.}}
{{view "global_message"}}

<section id="about-header" class="jumbotron" data-stellar-background-ratio=".8">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <h2>We're bringing the world's code to life</h2>
        <p>Discovering, collaborating and working with code should be simple. We're on a mission to empower anyone to build amazing things with software.
      </div>
    </div><!--/.row-->
  </div><!--/.container-->
</section>

<section id="about-logos">
  <div class="container">
    <div class="row">
      <a href="http://venturebeat.com/2013/10/30/dont-want-to-reinvent-the-wheel-runnables-library-lets-devs-copy-and-paste-code/" class="logo venturebeat" target="_blank"></a>
      <a href="http://www.forbes.com/sites/anthonykosner/2013/10/02/runnable-aims-to-be-the-youtube-of-code-only-with-less-cat-videos/" class="logo forbes" target="_blank"></a>
      <a href="http://techcrunch.com/2013/10/02/runnable-wants-to-become-the-youtube-of-code/" class="logo techcrunch" target="_blank"></a>
    </div><!--/.row-->
    <div class="row">
      <a href="http://www.wired.com/wiredenterprise/2013/10/runnable/" class="logo wired" target="_blank"></a>
      <a href="http://gigaom.com/2013/10/02/startup-runnable-fancies-itself-as-the-youtube-of-code/" class="logo gigaom" target="_blank"></a>
      <a href="http://pandodaily.com/2013/10/30/runnable-raises-2m-to-centralize-all-the-worlds-open-source-code/" class="logo pandodaily" target="_blank"></a>
    </div><!--/.row-->
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <blockquote>
          <p>Runnable appears to have stumbled on a much needed solution to a very real problem. The timing couldn’t be better, in terms of the shift in the way developers work and the availability of the underlying infrastructure required to run such a platform.
        </blockquote>
        <h3 class="read-the-article">
          <a href="http://pandodaily.com/2013/10/30/runnable-raises-2m-to-centralize-all-the-worlds-open-source-code/" target="_blank">Read The Article</a>
        </h3>
      </div>
    </div><!--/.row-->
  </div><!--/.container-->
</section>

<section id="about-stack" class="jumbotron">
  <div class="container">
    <img class="amazon" data-stellar-ratio="2.5" data-stellar-horizontal-offset="200" src="assets/images/stack-amazon.png">
    <img class="node" data-stellar-ratio="1.5" data-stellar-horizontal-offset="200" src="assets/images/stack-node.png">
    <img class="codeigniter" data-stellar-ratio="2" data-stellar-horizontal-offset="200" src="assets/images/stack-codeigniter.png">
    <img class="diamond" data-stellar-ratio="3" data-stellar-horizontal-offset="200" src="assets/images/stack-diamond.png">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-4">
        <h2>Node.JS, Docker and EC2</h2>
        <p>We think Javascript is the new x86, Docker the DevOps platform of the future and AWS the basic building blocks for the web.
      </div>
    </div><!--/.row-->
  </div><!--/.container-->
</section>

<section id="about-satellite" class="jumbotron">
  <div class="container">
    <div class="row">
      <h2>Located in the Heart of the Bay Area.</h2>
      <p>We're in San Francisco's SOMA neighborhood.
    </div><!--/.row-->
  </div><!--/.container-->
</section>

<section id="about-team">
  <div class="container">
    <h2>Team Runnable</h2>
    <ul>
      <li>
        <img src="assets/images/team-yash@2x.png" height="120" width="120" alt="Yash Kumar">
        <h3>Yash Kumar</h3>
        <p>CEO/Engineer
      <li>
        <img src="assets/images/team-tejesh@2x.png" height="120" width="120" alt="Tejesh Mehta">
        <h3>Tejesh Mehta</h3>
        <p>Engineer
      <li>
        <img src="assets/images/team-sundip@2x.png" height="120" width="120" alt="Sundip Patel">
        <h3>Sundip Patel</h3>
        <p>Product/Engineer
      <li>
        <img src="assets/images/team-praful@2x.png" height="120" width="120" alt="Praful Rana">
        <h3>Praful Rana</h3>
        <p>Product/Engineer
      <li>
        <img src="assets/images/team-tony@2x.png" height="120" width="120" alt="Tony Li">
        <h3>Tony Li</h3>
        <p>Designer
      <li>
        <img src="assets/images/team-anand@2x.png" height="120" width="120" alt="Anand Patel">
        <h3>Anand Patel</h3>
        <p>Engineer
      <li>
        <img src="assets/images/team-casey@2x.png" height="120" width="120" alt="Casey Flynn">
        <h3>Casey Flynn</h3>
        <p>Engineer
      <li>
        <img src="assets/images/team-bryan@2x.png" height="120" width="120" alt="Bryan Kendall">
        <h3>Bryan Kendall</h3>
        <p>Engineer
      <li title="Doobie">
        <img src="assets/images/team-nathan@2x.png" height="120" width="120" alt="Nathan Meyers">
        <h3>Nathan Meyers</h3>
        <p>Engineer
      <li>
        <img src="assets/images/team-anton@2x.png" height="120" width="120" alt="Anton Podviaznikov">
        <h3>Anton Podviaznikov</h3>
        <p>Engineer
      <li>
        <img src="assets/images/team-forrest@2x.png" height="120" width="120" alt="Forrest Junod">
        <h3>Forrest Junod</h3>
        <p>VP Engineering
      <li>
        <img src="assets/images/team-ryan@2x.png" height="120" width="120" alt="Ryan Richards">
        <h3>Ryan Richards</h3>
        <p>Engineer
      <li title="Board game Kahn">
        <img src="assets/images/team-kahn@2x.png" height="120" width="120" alt="Ryan Kahn">
        <h3>Ryan Kahn</h3>
        <p>Engineer
      <li title="Robot">
        <img src="assets/images/team-taylor@2x.png" height="120" width="120" alt="Taylor Dolan">
        <h3>Taylor Dolan</h3>
        <p>Designer
      <li>
        <img src="assets/images/team-paul@2x.png" height="120" width="120" alt="Paul Duffy">
        <h3>Paul Duffy</h3>
        <p>VP Marketing/Product
    </ul>
  </div><!--/.container-->
</section>

<section id="about-contact">
  <div class="container">
    <div>
      <address>
        <strong>Runnable Headquarters</strong>
        <br>
        1481 Folsom St.
        <br>
        San Francisco, CA 94103
        <br>
        <a href="tel:1-866-216-4762">(866) 216-4762</a>
      </address>
    </div>
    <form method="post">
      <div class="form row">
        <h2 class="col-sm-12">Contact Us</h2>
        <div class="col-sm-6">
          <input class="form-control" name="NAME" placeholder="Full Name" required>
          <input class="form-control" type="email" name="EMAIL" placeholder="Email Address" required>
          <input class="form-control" type="tel" name="PHONE" placeholder="Phone Number (optional)">
        </div>
        <div class="col-sm-6">
          <textarea class="form-control" rows="3" name="DETAILS" placeholder="Message" required></textarea>
          <button type="submit" class="orange">Send Message</button>
        </div>
      </div>
      <div class="confirmation">
        <h2>Thanks!</h2>
        <p>We've got your message and will get back to you shortly.</p>
      </div>
    </form>
    <h4>
      Having trouble with something?
    </h4>
    <p>If you’re having trouble figuring something out feel free to give us a shout!
  </div><!--/.container-->
</section>

{{view "footer_view" model=user context=.}}