	<div class="container">
		<article class="span9">
			<!-- <button id='open-blob-modal'>OPEN MODAL</button> -->
			<section class="title">
				<button class="btn-vote">833</button>
				<h1>How To Find Out Who I Love With The Twitter Node.Js And Twitter API <a href="" class="edit-link">Edit</a></h1>
			</section>

	    	<section class="title">
				<button class="btn-vote">833</button>
	    		<form>
	    			<div class="item">
	    				<input type="text" class="title-input" autofocus placeholder="Give your code example a title">
	    			</div>
	    			<button class="btn-secondary">Save title</button>
	    		</form>
	    	</section>

	    	<section class="notification warning">
	    		<p>Your code example is currently private. When you're ready to show it off to the world hit publish.</p>
	    		<p><button class="btn-primary">Publish my code example</button></p>
	    	</section>

	    	<section class="actions">
	    		<button class="run-button btn-primary" title="Run the current code"><i class="icon-play"></i> Run Code</button>
				<button class="btn-fork btn-tertiary" disabled="disabled"><i class="icon-code-fork"></i> Fork Project</button>
				<button class="btn-save btn-tertiary" title="Save changes"><i class="icon-floppy"></i> Save</button>
				<a class="btn-download download-track btn-tertiary" href='' data-bypass><i class="icon-download-alt"></i> Download Project</a>
				<a class="btn-tertiary" href=""><i class="icon-edit"></i> Edit Project</a>
	    	</section>

	    	<section class="code-container">
	    		<nav class="file-tabs">
	    			<ul class="open-file-tabs">
	    				<li class="selected"><a href="">index.html</a><i class="close-file"></i></li>
	    				<li><a href="">server.js</a><i class="close-file"></i></li>
	    				<li><a href="">styles.css</a><i class="close-file"></i></li>
	    			</ul>
	    		</nav>
				<div class="file-content">
					<div class="tab-pane active">...code...<br>...code...<br>...code...<br>...code...<br>...code...<br>...code...</div>
					<div class="tab-pane" style="display:none;">...more code...</div>
					<button class="btn-tertiary btn-small btn-show-file-browser"><i class="icon-folder-open"></i> Show file browser</button>
					<div class="file-browser">
						...files browser...
					</div>
				</div>
				<div class="terminal">
					$.
				</div>
	    	</section>

	    	<section class="module discussion">
	    		<h3>Discussion</h3>
	    		<ul class="comments">
				  <li>
				    <div class="comment-avatar">
				      <img class="avatar" alt="Henry" src="http://www.gravatar.com/avatar/">
				    </div>
				    <div class="comment-text">
				      <div class="name">Anon</div>
				      <div class="text">Wow this was super useful, thanks!</div>
				    </div>
				  </li>
				  <li>
				    <div class="comment-avatar">
				      <img class="avatar" alt="Henry" src="http://www.gravatar.com/avatar/">
				    </div>
				    <div class="comment-text">
				      <div class="name">MrCode2013</div>
				      <div class="text">Excellent overview of how to do horizontal sliders. However I'm confused how it would work if I wanted a vertical slider. Can you explain?</div>
				    </div>
				  </li>
				</ul>
	    	</section>

	    	<section class="module">
	    		<h3>Add a comment</h3>
	    		<form id="comment-form" class="comment-form">
				  <div class="item">
				    <label for="name">Name</label>
				    <input type="text" name="name" required>
				  </div>
				  <div class="item">
				    <label for="email">Email (optional)</label>
				    <input type="email" name="email">
				    <p class="note">We use this for your Gravatar only</p>
				  </div>
				  <div class="item">
				    <label for="text">Comment</label>
				    <textarea name="text" required="" rows="5"></textarea>
				  </div>
				  <button type="submit" class="btn-secondary">Submit comment</button>
				</form>
	    	</section>

		</article>
		<aside class="span3 last">

			{{! <p><a href="" class="btn-secondary block">New code example</a></p> }}

			{{! <section class="module">

				<ul class="stats nolist">
					<li><i class="icon-eye-open"></i> 1,290 views</li>
					<li><i class="icon-play"></i> 54 runs</li>
				</ul>
			</section> }}

			<section class="module tags">
				<h3>Tags</h3>
				<nav class="tags-nav">
					<a href=""><img src="/images/channels/facebook.png" alt=""> Facebook</a>
					<a href=""><img src="/images/channels/nodejs.png" alt=""> Node.js</a>
					<a href=""><img src="/images/channels/codeigniter.png" alt=""> Codeigniter</a>
					<a href=""><img src="/images/channels/jquery.png" alt=""> jQuery <i class="icon-remove remove-tag"></i></a>
				</nav>
				<form>
					<input type="text"> <button class="btn-secondary btn-small left"><i class="icon-plus"></i> Add tag</button>
				</form>
			</section>

			<section class="module">
				<h3>Related examples</h3>
				<nav class="related-nav">
					<ul>
						<li>
							<button class="btn-vote">833</button>
							<a href="">Login auth using sessions in express - Node.js</a>
						</li>
						<li>
							<button class="btn-vote">833</button>
							<a href="">Login auth using sessions in express - Node.js</a>
						</li>
						<li>
							<button class="btn-vote">2</button>
							<a href="">One liner</a>
						</li>
					</ul>
				</nav>
			</section>
		</aside>
	</div>
</section>

<footer>
	<div class="container">
		<nav class="footer-nav">
        	<a href="/providers">API Providers</a>
          	<a href="/about">About Us</a>
          	<a href="/jobs">Jobs</a>
          	<a href="mailto:support@runnable.com?subject=Hi">Contact</a>
          	<a href="/privacy">Privacy</a>
      	</nav>
      	<nav class="social-icons">
        	<a href="http://twitter.com/GetRunnable" class="twitter" title="Follow @GetRunnable on Twitter">Follow @GetRunnable</a>
          	<a href="http://github.com/runnable" class="github" title="Check us out on Github">Github Runnable</a>
      	</nav>
	</div>
</footer>

<div class="container">
	<p>############## Markup for lists of code examples #######################</p>
	<aside class="span3">
		<h3>Filter Tags</h3>
		<nav class="tags-filter">
			<a href="" class="selected"><img src="/images/channels/jquery.png" alt=""> jQuery (33) <i class="icon-remove remove-tag"></i></a>
			<a href="" class="selected"><img src="/images/channels/facebook.png" alt=""> Facebook (22) <i class="icon-remove remove-tag"></i></a>
			<a href=""><img src="/images/channels/nodejs.png" alt=""> Node.js (13)</a>
			<a href=""><img src="/images/channels/codeigniter.png" alt=""> Codeigniter (3)</a>
			<a href="">Tag without image (1)</a>
			<a href="">+ Show More</a>
		</nav>
	</aside>
	<article class="span9 last">
		<h3>19 Code examples found</h3>
		<nav class="project-nav">
			<ul>
				<li>
						<button id="vote-button-view" class="btn-vote" disabled="disabled"> 0</button>
						<h3><a href="">How to do something with Codeigniter</a></h3>
						<nav class="tags-nav">
				  		<a href="/Nodejs">
				    		<img src="/external/images/channels/Nodejs.png" alt="">
				    		<span>Nodejs</span>
				  		</a>
				  		<a href="/Nodejs">
				    		<img src="/external/images/channels/Nodejs.png" alt="">
				    		<span>Codeigniter</span>
				  		</a>
				  		<a href="/Nodejs">
				    		<img src="/external/images/channels/Nodejs.png" alt="">
				    		<span>PHP</span>
				  		</a>
						</nav>
						<div class="author">
				  		Published <time pubdate="pubdate" datetime="2013-01-28T18:52:08.169Z">4 months ago</time>
				  	</div>
				</li>
				<li>
						<button id="vote-button-view" class="btn-vote" disabled="disabled"> 0</button>
						<h3><a href="">How to do something with Codeigniter</a></h3>
						<nav class="tags-nav">
				  		<a href="/Nodejs">
				    		<img src="/external/images/channels/Nodejs.png" alt="">
				    		<span>Nodejs</span>
				  		</a>
				  		<a href="/Nodejs">
				    		<img src="/external/images/channels/Nodejs.png" alt="">
				    		<span>Codeigniter</span>
				  		</a>
				  		<a href="/Nodejs">
				    		<img src="/external/images/channels/Nodejs.png" alt="">
				    		<span>PHP</span>
				  		</a>
						</nav>
						<div class="author">
				  		Published <time pubdate="pubdate" datetime="2013-01-28T18:52:08.169Z">4 months ago</time>
				  	</div>
				</li>
				<li>
						<button id="vote-button-view" class="btn-vote" disabled="disabled"> 0</button>
						<h3><a href="">How to do something with Codeigniter</a></h3>
						<nav class="tags-nav">
				  		<a href="/Nodejs">
				    		<img src="/external/images/channels/Nodejs.png" alt="">
				    		<span>Nodejs</span>
				  		</a>
				  		<a href="/Nodejs">
				    		<img src="/external/images/channels/Nodejs.png" alt="">
				    		<span>Codeigniter</span>
				  		</a>
				  		<a href="/Nodejs">
				    		<img src="/external/images/channels/Nodejs.png" alt="">
				    		<span>PHP</span>
				  		</a>
						</nav>
						<div class="author">
				  		Published <time pubdate="pubdate" datetime="2013-01-28T18:52:08.169Z">4 months ago</time>
				  	</div>
				</li>
			</ul>
		</nav>
		<nav class="pagination">
			<a href="" class="previous"><i class="icon-chevron-left"></i> Previous page</a>
			<a href="" class="next">Next page <i class="icon-chevron-right"></i></a>
		</nav>
	</article>
</div>

<div class="container">
	<p>############## Markup for dashboard #######################</p>
	<div class="tab-container">
		<nav class="tab-nav">
			<a href="" class="selected">Published</a>
			<a href="">Drafts</a>
		</nav>
		<div class="tab-content">
			<div class="tab-pane">
				<table class="data">
					<thead>
						<tr>
							<th></th>
							<th scope="col">Votes</th>
							<th scope="col">Views</th>
							<th scope="col">Runs</th>
							<th scope="col">Copies</th>
							<th scope="col">Downloads</th>
							<th></th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<td colspan="7" class="alignright"><select><option>Actions...</option><option>Unpublish</option><option>Delete</option></select></td>
						</tr>
					</tfoot>
					<tbody>
						<tr>
							<td><a href="">How to validate forms with Codeigniter</a></td>
							<td>19</td>
							<td>3,500</td>
							<td>500</td>
							<td>400</td>
							<td>278</td>
							<td><input type="checkbox"></td>
						</tr>
						<tr class="selected">
							<td><a href="">How to upload a file using jQuery and PHP</a></td>
							<td>19</td>
							<td>1,230</td>
							<td>738</td>
							<td>126</td>
							<td>57</td>
							<td><input type="checkbox"></td>
						</tr>
						<tr>
							<td><a href="">Insert a record using MongoDB and Node.js</a></td>
							<td>19</td>
							<td>367</td>
							<td>89</td>
							<td>57</td>
							<td>12</td>
							<td><input type="checkbox"></td>
						</tr>
						<tr>
							<td><a href="">Render ejs with Express and Node.js</a></td>
							<td>19</td>
							<td>12,434</td>
							<td>5,302</td>
							<td>903</td>
							<td>800</td>
							<td><input type="checkbox"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<p>############## Modals #######################</p>
	<ul>
		<li><button onclick="$('#new-file-modal-view').show();">New File</button></li>
		<li><button onclick="$('#login').show();">Sign Up</button></li>
		<li><button onclick="$('#answer-modal-view').show();">New Code Example</button></li>
		<li><button onclick="$('.').show();"></button></li>
	</ul>
</div>

<!-- Context menu -->
<div id="file-context-menu-view" class="context-menu" style="display: block; top: 560px; left: 660px;"><ul class="menu-options">

  <li><a class="create-file" href=""><i class="icon-doc-add"></i> New file</a></li>
  <li><a class="create-dir" href=""><i class="icon-folder-add"></i> New folder</a></li>
  <li><a class="download" href="/api/projects/UTlPPF-f2W1TAAEY/zip/" data-bypass=""><i class="icon-download-alt"></i> Download file/folder</a></li>
</ul>
</div>

<div class="modals">

	<!-- For demo purposes -->
	<script>
	window.onload=function(){
		$('.btn-close').click(function(){
			$('.lightbox').hide();
		});
	};
	</script>

	<!-- New file/folder -->
	<div id="new-file-modal-view" class="new-file-modal lightbox display-none">
	  <div class="modal">
	    <section class="modal-header">
	      <h3>Add a new file to this project</h3>
	      <button type="button" class="btn-close"><i class="icon-remove"></i></button>
	    </section>
	    <section class="modal-body">
	      <form>
	        <div class="item">
	          <label for="">Name of file</label>
	          <input type="text" maxlength="50" class="input-name">
	        </div>
	        <div class="actions">
	          <button class="btn-secondary">Save file</button>
	        </div>
	      </form>
	    </section>
	  </div>
	</div>

	<!-- Login -->
	<div id="login" class="lightbox display-none login-modal">
		<article class="modal">
		  <section class="modal-header">
		    <h3>Sign in to save your example</h3>
		    <button type="button" class="btn-close"><i class="icon-remove"></i></button>
		  </section>
		  <section class="modal-body">

{{!			<!-- Main sign in modal -->
   			<div class="modal-content aligncenter">
   				<p><button class="btn-facebook"><i class="icon-facebook"></i> Sign in w/ Facebook</button></p>
   				<p><button class="btn-github"><i class="icon-github"></i> Sign in w/ GitHub</button></p>
   				<p><a href="">Sign up</a> or <a href="">log in</a> manually.</p>
   			</div> }}


		    {{! <!-- If user wants to sign in manually -->
		    <!--
		    <div class="modal-content">
		      <p>Don't have an account? <a href="/invite">Sign up here</a>.</p>
		      <form id="login-form">
		        <div class="item span8">
		          <label for="username">Username or email</label>
		          <input type="text" name="username" autofocus>
		        </div>
		        <div class="item span8">
		          <label for="password">Password</label>
		          <input type="password" name="password">
		        </div>
		        <div class="item">
		          <label><input type="checkbox">&nbsp;Remember me</label>
		        </div>
		        <div class="actions">
		          <button class="btn-secondary">Sign in</button>
		        </div>
		      </form>
		    </div>
			--> }}

			<!-- If user wants to sign up manually -->
		    <div class="modal-content">
		      <p>Already have an account? <a href="">Log in here</a>.</p>
		      <form id="login-form">
		        <div class="item span8">
		          <label for="username">Username</label>
		          <input type="text" name="username" autofocus>
		        </div>
		        <div class="item span8">
		          <label for="username">Email</label>
		          <input type="email" name="username">
		        </div>
		        <div class="item span8">
		          <label for="password">Password</label>
		          <input type="password" name="password">
		        </div>
		        <div class="actions">
		          <button class="btn-secondary">Sign up</button>
		        </div>
		      </form>
		    </div>

		  </section>
		</article>
	</div>

	<!-- New code example -->
	<div id="answer-modal-view" class="lightbox display-none">
		<div class="modal">
			<section class="modal-header">
				<h3>Create a new example</h3>
				<button type="button" class="btn-close"><i class="icon-remove"></i></button>
			</section>
			<section class="modal-body">
				<div class="modal-content">

			  		<section class="module">
			    		<h3>Start with an existing project</h3>
			    		<form class="search-form">
							<label for="search-bar-form-input">Search for a similar project, fork it and start editing.</label>
							  <div class="relative">
							  	<input id="search-bar-form-input" type="search" autofocus placeholder="Search for runnable code examples"></input><i class="icon-search"></i>
							  	<div id="search-bar-form-dropdown" class="search-auto-complete">
							  		<ul id="search-bar-form-dropdown-suggestions">
							  		</ul>
							  	</div>
							  </div>
						</form>
					</section>

					<section class="module">
						<h3>Or create a new project from scratch</h3>
						<p>Select your language or framework and we'll give you the base files.</p>
						<nav class="select-stack-nav">
							<ul>
				        <li><a href="javascript:void(0);" data-link="/new/node.js" data-bypass=""><span><img src="/images/channels/nodejs.png" alt="Node" title="Node"></span>Node.js</a></li>
				        <li><a href="javascript:void(0);" data-link="/new/php" data-bypass=""><span><img src="/images/channels/php.png" alt="PHP" title="PHP"></span>PHP</a></li>
				        <li><a href="javascript:void(0);" data-link="/new/python" data-bypass=""><span><img src="/images/channels/python.png" alt="Python" title="Python"></span>Python</a></li>
				        <li><a href="javascript:void(0);" data-link="/new/python" data-bypass=""><span><img src="/images/channels/codeigniter.png" alt="Python" title="Python"></span>Codeigniter</a></li>
				        <li><a href="javascript:void(0);" data-link="/new/python" data-bypass=""><span><img src="/images/channels/jquery.png" alt="Python" title="Python"></span>jQuery</a></li>
				      </ul>
						</nav>
					</section>
				</div>
			</section>
		</div>
	</div>


