<div class="home-title">
  <div class="container">
    <h1>Run, edit &amp; publish code in your browser</h1>
  </div>
</div>
<div class="container">
  <div class="span8">
    <div class="span6">
      <h3><a href="">Languages</a></h3>
      <nav class="tags-nav">
        <a data-bypass href="/facebook"><span class="thumbnail"><img src="/images/channels/facebook.png" alt="Facebook"></span>Facebook</a>
        <a data-bypass href="/twitter"><span class="thumbnail"><img src="/images/channels/twitter.png" alt="Twitter"></span> Twitter</a>
        <a data-bypass href="/google"><span class="thumbnail"><img src="/images/channels/google.png" alt="Google"></span> Google</a>
        <a data-bypass href="/paypal"><span class="thumbnail"><img src="/images/channels/paypal.png" alt="MongoDB"></span> PayPal</a>
        <a data-bypass href="/node-mongodb-native"><span class="thumbnail"><img src="/images/channels/node-mongodb-native.png" alt="MongoDB"></span> MongoDB</a>
        <a data-bypass href="/angularjs"><span class="thumbnail"><img src="/images/channels/angularjs.png" alt="AngularJS"></span> AngularJS</a>
      </nav>
    </div>
    <div class="span6 last">
      <h3><a href="">Frameworks</a></h3>
      <nav class="tags-nav">
          <a data-bypass href="/codeigniter"><span class="thumbnail"><img src="/images/channels/codeigniter.png" alt="Codeigniter"></span> Codeigniter</a>
          <a data-bypass href="/express"><span class="thumbnail"><img src="/images/channels/express.png" alt="Express"></span> Express</a>
          <a data-bypass href="/nodejs"><span class="thumbnail"><img src="/images/channels/nodejs.png" alt="Node.js"></span> Node.js Examples</a>
          <a data-bypass href="/php"><span class="thumbnail"><img src="/images/channels/php.png" alt="PHP"></span> PHP Examples</a>
          <a data-bypass href="/python"><span class="thumbnail"><img src="/images/channels/python.png" alt="Python"></span> Python Examples</a>
          <a data-bypass href="/jquery"><span class="thumbnail"><img src="/images/channels/jquery.png" alt="jQuery"></span> jQuery</a>
      </nav>
    </div>
    <div class="span6">
      <h3><a href="">Social Media</a></h3>
      <nav class="tags-nav">
        <a data-bypass href="/facebook"><span class="thumbnail"><img src="/images/channels/facebook.png" alt="Facebook"></span>Facebook</a>
        <a data-bypass href="/twitter"><span class="thumbnail"><img src="/images/channels/twitter.png" alt="Twitter"></span> Twitter</a>
        <a data-bypass href="/google"><span class="thumbnail"><img src="/images/channels/google.png" alt="Google"></span> Google</a>
        <a data-bypass href="/paypal"><span class="thumbnail"><img src="/images/channels/paypal.png" alt="MongoDB"></span> PayPal</a>
        <a data-bypass href="/node-mongodb-native"><span class="thumbnail"><img src="/images/channels/node-mongodb-native.png" alt="MongoDB"></span> MongoDB</a>
        <a data-bypass href="/angularjs"><span class="thumbnail"><img src="/images/channels/angularjs.png" alt="AngularJS"></span> AngularJS</a>
      </nav>
    </div>
    <div class="span6 last">
      <h3><a href="">Communication</a></h3>
      <nav class="tags-nav">
          <a data-bypass href="/codeigniter"><span class="thumbnail"><img src="/images/channels/codeigniter.png" alt="Codeigniter"></span> Codeigniter</a>
          <a data-bypass href="/express"><span class="thumbnail"><img src="/images/channels/express.png" alt="Express"></span> Express</a>
          <a data-bypass href="/nodejs"><span class="thumbnail"><img src="/images/channels/nodejs.png" alt="Node.js"></span> Node.js Examples</a>
          <a data-bypass href="/php"><span class="thumbnail"><img src="/images/channels/php.png" alt="PHP"></span> PHP Examples</a>
          <a data-bypass href="/python"><span class="thumbnail"><img src="/images/channels/python.png" alt="Python"></span> Python Examples</a>
          <a data-bypass href="/jquery"><span class="thumbnail"><img src="/images/channels/jquery.png" alt="jQuery"></span> jQuery</a>
      </nav>
    </div>
    <div class="span6">
      <h3><a href="">Data Storage</a></h3>
      <nav class="tags-nav">
        <a data-bypass href="/facebook"><span class="thumbnail"><img src="/images/channels/facebook.png" alt="Facebook"></span>Facebook</a>
        <a data-bypass href="/twitter"><span class="thumbnail"><img src="/images/channels/twitter.png" alt="Twitter"></span> Twitter</a>
        <a data-bypass href="/google"><span class="thumbnail"><img src="/images/channels/google.png" alt="Google"></span> Google</a>
        <a data-bypass href="/paypal"><span class="thumbnail"><img src="/images/channels/paypal.png" alt="MongoDB"></span> PayPal</a>
        <a data-bypass href="/node-mongodb-native"><span class="thumbnail"><img src="/images/channels/node-mongodb-native.png" alt="MongoDB"></span> MongoDB</a>
        <a data-bypass href="/angularjs"><span class="thumbnail"><img src="/images/channels/angularjs.png" alt="AngularJS"></span> AngularJS</a>
      </nav>
    </div>
    <div class="span6 last">
      <h3><a href="">Entertainment</a></h3>
      <nav class="tags-nav">
          <a data-bypass href="/codeigniter"><span class="thumbnail"><img src="/images/channels/codeigniter.png" alt="Codeigniter"></span> Codeigniter</a>
          <a data-bypass href="/express"><span class="thumbnail"><img src="/images/channels/express.png" alt="Express"></span> Express</a>
          <a data-bypass href="/nodejs"><span class="thumbnail"><img src="/images/channels/nodejs.png" alt="Node.js"></span> Node.js Examples</a>
          <a data-bypass href="/php"><span class="thumbnail"><img src="/images/channels/php.png" alt="PHP"></span> PHP Examples</a>
          <a data-bypass href="/python"><span class="thumbnail"><img src="/images/channels/python.png" alt="Python"></span> Python Examples</a>
          <a data-bypass href="/jquery"><span class="thumbnail"><img src="/images/channels/jquery.png" alt="jQuery"></span> jQuery</a>
      </nav>
    </div>
    <div class="span6">
      <h3><a href="">Money</a></h3>
      <nav class="tags-nav">
        <a data-bypass href="/facebook"><span class="thumbnail"><img src="/images/channels/facebook.png" alt="Facebook"></span>Facebook</a>
        <a data-bypass href="/twitter"><span class="thumbnail"><img src="/images/channels/twitter.png" alt="Twitter"></span> Twitter</a>
        <a data-bypass href="/google"><span class="thumbnail"><img src="/images/channels/google.png" alt="Google"></span> Google</a>
        <a data-bypass href="/paypal"><span class="thumbnail"><img src="/images/channels/paypal.png" alt="MongoDB"></span> PayPal</a>
        <a data-bypass href="/node-mongodb-native"><span class="thumbnail"><img src="/images/channels/node-mongodb-native.png" alt="MongoDB"></span> MongoDB</a>
        <a data-bypass href="/angularjs"><span class="thumbnail"><img src="/images/channels/angularjs.png" alt="AngularJS"></span> AngularJS</a>
      </nav>
    </div>
    <div class="span6 last">
      <h3><a href="">Location</a></h3>
      <nav class="tags-nav">
          <a data-bypass href="/codeigniter"><span class="thumbnail"><img src="/images/channels/codeigniter.png" alt="Codeigniter"></span> Codeigniter</a>
          <a data-bypass href="/express"><span class="thumbnail"><img src="/images/channels/express.png" alt="Express"></span> Express</a>
          <a data-bypass href="/nodejs"><span class="thumbnail"><img src="/images/channels/nodejs.png" alt="Node.js"></span> Node.js Examples</a>
          <a data-bypass href="/php"><span class="thumbnail"><img src="/images/channels/php.png" alt="PHP"></span> PHP Examples</a>
          <a data-bypass href="/python"><span class="thumbnail"><img src="/images/channels/python.png" alt="Python"></span> Python Examples</a>
          <a data-bypass href="/jquery"><span class="thumbnail"><img src="/images/channels/jquery.png" alt="jQuery"></span> jQuery</a>
      </nav>
    </div>
    <nav class="project-nav">
      <ul>
      {{#each projects.models}}
      {{view "project_item_view" model=.}}
      {{/each}}
      </ul>
    </nav>
  </div>
  <div class="span4 last">
    <h3>Popular code examples</h3>
    <nav class="project-nav">
      <ul>
        <li>
            <button id="vote-button-view" class="btn-vote"> 847</button>
            <h3><a href="">How to do something with Codeigniter</a></h3>
        </li>
        <li>
            <button id="vote-button-view" class="btn-vote"> 847</button>
            <h3><a href="">How to do something with Codeigniter</a></h3>
        </li>
        <li>
            <button id="vote-button-view" class="btn-vote"> 847</button>
            <h3><a href="">How to do something with Codeigniter</a></h3>
        </li>
        <li>
            <button id="vote-button-view" class="btn-vote"> 847</button>
            <h3><a href="">How to do something with Codeigniter</a></h3>
        </li>
        <li>
            <button id="vote-button-view" class="btn-vote"> 847</button>
            <h3><a href="">How to do something with Codeigniter</a></h3>
        </li>
      </ul>
      <p><a href="">More code &rarr;</a></p>
    </nav>
  </div>
</div>
