{{view "app_user" model=user}}
{{view "header_view" model=user context=.}}
{{view "global_message"}}

<div id="jobs-header" class="jumbotron" data-stellar-background-ratio=".5">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>Jobs at Runnable</h2>
        <p>We're looking for talented engineers and designers.</p>
        <button class="purple view-positions">View Open Positions</button>
      </div>
    </div>
  </div>
</div>

<div id="jobs-perks">
  <div class="container">
    <h2>The Perks</h2>
    <div class="row">
      <div class="col-sm-4">
        <img src="assets/images/jobs-icon-mdv.png" height="151" width="151" alt="Medical, Dental, and Vision">
        <h3>Medical, Dental, and Vision</h3>
      </div>
      <div class="col-sm-4">
        <img src="assets/images/jobs-icon-snacks.png" height="151" width="151" alt="Unlimited Snacks">
        <h3>&rdquo;Healthy&ldquo; Snacks</h3>
      </div>
      <div class="col-sm-4">
        <img src="assets/images/jobs-icon-transportation.png" height="151" width="151" alt="Healthy Snacks">
        <h3>Bart/Caltrain Pass</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <img src="assets/images/jobs-icon-tech.png" height="151" width="151" alt="Technology Budget">
        <h3>$3,000 Tech Budget</h3>
      </div>
      <div class="col-sm-4">
        <img src="assets/images/jobs-icon-gameroom.png" height="151" width="151" alt="Game Room">
        <h3><s>Game</s> Halo Room</h3>
      </div>
      <div class="col-sm-4">
        <img src="assets/images/jobs-icon-lunch.png" height="151" width="151" alt="Catered Lunch">
        <h3>Lunch, Errday</h3>
      </div>
    </div>
  </div>
</div>

<div id="jobs-you" class="jumbotron" data-stellar-background-ratio=".9">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-4">
        <h2>We're lean and agile</h2>
        <p>We believe in small teams acomplishing big things. Everyone at Runnable is an individual contributor, and has a major impact on product and engineering.
      </div>
    </div>
  </div>
</div>

<div id="jobs-open-positions">
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-sm-8">
        <h3>Open Positions</h3>
        <ul id="jobs-open-positions-list">
          <li class="row">
            <h4>Front-End Engineer</h4>
            <p>San Francisco, CA
          <li class="row">
            <h4>Back-End Engineer</h4>
            <p>San Francisco, CA
          <li class="row">
            <h4>Junior Full-Stack Engineer</h4>
            <p>San Francisco, CA
          <li class="row">
            <h4>DevOps Engineer</h4>
            <p>San Francisco, CA
        </ul>
      </div>
      <div id="jobs-about" class="col-md-3 col-sm-4">
        <h3>About Runnable</h3>
        <p>We're on a mission to empower anyone to build amazing things with software.
        <ul id="jobs-contact-list">
          <li class="row">
            <span class="glyphicons send"></span>
            <a href="mailto:support@runnable.com" target="_blank">support@runnable.com</a>
          <li class="row">
            <span class="glyphicons google-maps"></span>
            1481 Folsom St.<br>
            San Francisco, CA 94103
          <li class="row">
            <span class="glyphicons earphone"></span>
            <a href="tel:8662164762">(866) 216-4762</a>
        </ul>
      </div>
    </div>
  </div>
</div>

{{view "footer_view" model=user context=.}}
