<div class="container">
<h1>We're hiring</h1>
<h2>Are you a pirate? Join the team</h2>

  <p><img src="/images/hiring.jpg" alt="" title=""></p>
  <div class="span8">
    <div class="section">
      <h3>Android/iOS Engineer</h3>
      <p>This is not your typical Android/iOS position. Rather than building an app you will be responsible for creating a platform that empowers other developers to spin up runnable samples and code snippets in a quick and simple way.</p>
      <h4>Key responsibilities</h4>
      <ol>
        <li>Creating an API/service to build code in the cloud</li>
        <li>Writing easy to read, re-usable code</li>
        <li>Ensure quality control of all creative deliverables</li>
      </ol>
      <p><a href="mailto:jobs@runnable.com?subject=Mobile%20Engineer" class="btn-primary">Email your resume to jobs@runnable.com</a></p>
      <p><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://runnable.com/jobs" data-text="Runnable are hiring an Android/iOS Engineer" data-via="GetRunnable" data-related="GetRunnable" data-count="none">Tweet this job to your followers</a></p>
    </div>
    <hr>
    <div class="section">
      <h3>Head of Content</h3>
      <p>As Head of Content, you will be responsible for learning APIs and drafting useful code samples that will be featured on our platform for popular companies. You will need to be experienced in PHP, Python, and/or JavaScript, and should be able to quickly pickup other languages and frameworks. You should be plugged-in to the developer community to get a good sense of the current pain points users are facing today when implementing any particular API, and construct relevant code samples or runnable snippets that help alleviate that pain. The insights you acquire from this role will also help shape the direction of the product.</p>
      <p>As we scale out to other APIs and application stacks, we’ll need to scale out content generation. You’ll naturally transition to the lead who will be responsible for this effort. This will involve working directly with companies such as Google, Facebook, Twitter to create content and import it onto our platform. If needed, additional content providers may be added to help scale.</p>
      <h4>Key responsibilities</h4>
      <ol>
        <li>Learning APIs and creating code examples</li>
        <li>Working directly with API Providers to create content</li>
        <li>Heavily engaging with the developer community</li>
      </ol>
      <h4>The ideal candidate:</h4>
      <ol>
        <li>Experience working with APIs</li>
        <li>Experienced with PHP, Python, and/or JavaScript</li>
        <li>Contributes to or is actively involved in the developer community</li>
      </ol>
      <p><a href="mailto:jobs@runnable.com?subject=Head%20of%20Content" class="btn-primary">Email your resume to jobs@runnable.com</a></p>
      <p><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://runnable.com/jobs" data-text="Runnable are hiring a Head of Content" data-via="GetRunnable" data-related="GetRunnable" data-count="none">Tweet this job to your followers</a></p>
    </div>
  </div>
  <div class="span4 last">
    <h3>Perks</h3>
    <ul>
      <li>$5,000 hardware stipend</li>
      <li>Medical, dental and vision</li>
      <li>Snacks, coffee, soda, lunch</li>
      <li>Public transportation stipend</li>
      <li>The finest Scotch, Bourbon or Irish whiskey</li>
      <li>Xbox, ping-pong</li>
    </ul>
    <p><a href="#about" class="btn-secondary">Read more about our team</a></p>
  </div>
  <div class="clear"></div>
</div>
