{{view "header_view" model=user context=.}}
<div class="content">
  <div class="container">
    <article>
      <section class="title" style="padding-left:0;">
        <h1>New Runnable</h1>
      </section>
      <form>
        <label>Fork existing</label>
        <input name='id' placeholder="Runnable Id">
      </form>
      <ul>
        {{#each channels.models}}
        {{view "channel_item_view" model=.}}
        {{/each}}
      </ul>
    </article>
  </div>
</div>
{{view "footer_view" model=user context=.}}