{{view "header_view" model=user context=.}}
<div class="container">
  <article class="content">
      <h1>Code Channels for API Providers &amp; Authors</h1>
      <h2>Create a channel full of examples for your code, APIs and modules</h2>


      <div class="span6">
        <div class="feature-live">
          <h3>Live-enable docs</h3>
          <p>Use Runnable sandboxes with your documentation and witness an increase in engagement from developers.</p>
        </div>
        <div class="clear feature-adoption">
          <h3>Increase API adoption</h3>
          <p>Allow developers to safely evaluate your API without barriers; they’ll be invested with your service before they register.</p>
        </div>
        <div class="clear feature-insights">
          <h3>Gain developer insights</h3>
          <p>Learn the full picture on how developers use your API via metrics and source code written on Runnable sandboxes.</p>
        </div>
      </div>
      <div class="span6 last">
        <form id="api-form" class="provider-contact">
          <h3>Contact us to get started</h3>
          <p>To create your own channel or to learn more about Runnable, fill out the form below or call us at <strong>(415) 236-2633</strong>.</p>
          <div class="item span6">
            <label for="">Your name</label>
            <input name="fullName" type="text">
          </div>
          <div class="clear item span6">
            <label for="">Email</label>
            <input name="email" type="text">
          </div>
          <div class="clear item">
            <label for="">Tell us about your code/service and the channel you'd like to create</label>
            <textarea name="comments" rows="5" placeholder="e.g. I have an API that I'd like to set up a channel with code examples for Ruby and Python."></textarea>
          </div>
          <div class="clear actions">
            <button class="btn-primary">Send form</button>
          </div>
        </form>
      </div>
  </article>
</div>
{{view "footer_view" model=user context=.}}