<main id="embed">
  {{view "run_button" model=container collection=specifications context=.}}
  {{view "code_editor" context=. editmode=false model=image embed="true"}}
  {{view "terminal" model=container}}
  <footer>
    <a href="google.com">PROJECT TITLE</a>

    <div id="logo">
      <a href="/"></a>
      <sup>&lt;beta&gt;</sup>
    </div>
  </footer>
</main>
