@include keyframes(scaleHeart) {
  0% {
    @include scale-3d(0.5,0.5,1);
  }
  70% {
    @include scale-3d(0.7,0.7,1);
  }
  100% {
    @include scale-3d(0.5,0.5,1);
  }
}

@include keyframes(loaderText) {
  0% {
    opacity: 0;
    @include transform-3d(0,-150%,0);
  }
  100% {
    opacity: 1;
    @include transform-3d(0,-0%,0);
  }
}

@include keyframes(dropIn) {
  0% {
    opacity: 0;
    @include transform-3d(0,-100%,0);
  }
  100% {
    opacity: 1;
    @include transform-3d(0,-0%,0);
  }
}

@include keyframes(heightUp) {
  0% {
    height: 30%;
  }
  20% {
    height: 103%;
  }
  40% {
    height: 95%;
  }
  60% {
    height: 100%;
  }
  80% {
    height: 97%;
  }
  100% {
    height: 100%;
  }
  80% {
    height: 98%;
  }
  100% {
    height: 100%;
  }
}

//circular percentage
@include keyframes(closeWrapper) {
    100% {
        clip: rect(auto, auto, auto, auto);
    }
}

@include keyframes(leftSpan50) {
    0% {
        @include rotate-3d(0deg);
    }
    100% {
        @include rotate-3d(0deg);
    }
}

@include keyframes(leftSpan60) {
    0% {
        @include rotate-3d(0deg);
    }
    100% {
        @include rotate-3d(6*36deg);
    }
}

@include keyframes(leftSpan70) {
    0% {
        @include rotate-3d(0deg);
    }
    100% {
        @include rotate-3d(7*36deg);
    }
}

@include keyframes(leftSpan80) {
    0% {
        @include rotate-3d(0deg);
    }
    100% {
        @include rotate-3d(8*36deg);
    }
}

@include keyframes(leftSpan90) {
    0% {
        @include rotate-3d(0deg);
    }
    100% {
        @include rotate-3d(9*36deg);
    }
}

@include keyframes(leftSpan100) {
    0% {
        @include rotate-3d(0);
    }
    100% {
        @include rotate-3d(360deg);
    }
}

@include keyframes(rightSpan10) {
    0% {
        @include rotate-3d(0deg);
    }
    100% {
        @include rotate-3d(2*18deg);
    }
}

@include keyframes(rightSpan20) {
    0% {
        @include rotate-3d(0deg);
    }
    100% {
        @include rotate-3d(4*18deg);
    }
}

@include keyframes(rightSpan30) {
    0% {
        @include rotate-3d(0deg);
    }
    100% {
        @include rotate-3d(6*18deg);
    }
}

@include keyframes(rightSpan40) {
    0% {
        @include rotate-3d(0deg);
    }
    100% {
        @include rotate-3d(8*18deg);
    }
}

@include keyframes(rightSpan50) {
    0% {
        @include rotate-3d(0deg);
    }
    100% {
        @include rotate-3d(10*18deg);
    }
}