main {
    clear: both;
}

//profile
#profile {

    //email privacy menu
    .dropdown-menu {
        top: 30px;
        left: -170px;
    }

    @include media(xs) {
        padding: 0 20px;
    }

    @include media(md) {
        float: left;
        width: 25%;
    }

    //adding the class .no-edit disables hover effects
    &.no-edit {

        .glyphicons {

            &:hover {
                cursor: default;
            }

            &.pencil,
            &.lock,
            &.unlock {
                display: none;
                pointer-events: none;
            }
        }

        input {
            cursor: text;
        }

        .edit-inline {
            cursor: default;
        }

        .gravitar > a {
            display: none;
        }
    }

    > .gravitar {
        float: left;
        margin: 20px 60px 20px 0;
        position: relative;
        width: 25%;

        > .reputation {
            color: #fff;
            font-size: 14px;
            height: 52px;
            line-height: 52px;
            left: 115px;
            width: 52px;

            &:hover,
            &:active {
                background-color: #9A58BA;
                @include background-image(linear-gradient(rgba(107,64,155,0),#6B409B));
                @include box-shadow(inset 0 1px 0 rgba(255,255,255,0.5), 0 1px 0 rgba(0,0,0,0.1));
            }
        }

        > img {
            width: 100%;
        }

        @include media(xs) {
            float: none;
            display: block;
            margin: 20px auto 0;
            width: 200px;
        }

        @include media(md) {
            float: none;
            margin: 20px 0 0;
            width: 100%;

            > img {
                width: 50%;
            }
        }

        > img {
            border: 20px solid #fff;
            @include border-radius(50%);
            @include box-shadow(0 2px 3px rgba(0,0,0,0.3));
            display: block;
        }

        > a {
            background: #000;
            @include border-radius(50%);
            color: #fff;
            display: block;
            font-size: 18px;
            height: 100%;
            line-height: 10;
            opacity: 0;
            position: absolute;
                top: 0;
            text-align: center;
            text-decoration: none;
            @include transition(opacity 0.2s);
            width: 100%;

            &:hover {
                opacity: 0.75;
            }

            @include media(xs) {
                font-size: 20px;
            }

            @include media(md) {
                font-size: 12px;
                width: 50%;
            }

            @include media(lg) {
                font-size: 14px;
            }
        }

        span {
            color: rgba(255,255,255,0.5);
            font-size: 16px;

            &:hover {
                color: #fff;
            }

            @include media(xs) {
                font-size: 14px;
            }

            @include media(md) {
                font-size: 12px;
            }
        }
    }

    > h1,
    > div,
    > hr {
        display: inline-block;
        width: calc(75% - 60px);

        @include media(xs) {
            width: 100%;
        }
    }

    > h1 {
        font-size: 30px;
    }

    > hr {
        border-top-color: rgba(0,0,0,0.1);
        margin: 11px 0;

        @include media(md) {
            margin: 22px 40px 22px 0;
        }
    }

    .inline,
    .edit-inline {
        cursor: pointer;
        min-height: 24px;
        margin: 4px 0;
        position: relative;

        @include media(md) {
            width: 220px;
            width: calc(100% - 40px);
        }

        .glyphicons {
            color: #bbb;
            line-height: 20px;
            position: absolute;
                top: 0;

            &:first-child {
                left: -22px;
                width: 22px;
            }

            &.pencil {
                opacity: 0;
                right: 0;
                width: 20px;
            }

            &.lock,
            &.unlock {
                right: 0;
                width: 20px;

                &:hover {
                    color: #999;
                }
            }

            &.unlock {
                color: $orange;

                &:hover {
                    color: $orange;
                }
            }
        }

        &:hover > .pencil {
            opacity: 1;
        }

        .permission {
            float: right;
            position: relative;
                top: -23px;

            a:hover,
            a:active,
            a:focus {
                background: $orange;
                color: #fff;
                outline: none;

                .glyphicons {
                    color: #fff;
                }
            }

            ul .glyphicons {
                color: #333;
                font-size: 12px;
                position: relative;
                    left: 0;
            }
        }
    }

    input {
        background: none;
        border: none;
        color: #bbb;
        cursor: pointer;
        display: block;
        font-size: 15px;
        overflow: hidden;
        position: relative;
        text-overflow: ellipsis;
        width: 200px;
        width: calc(100% - 20px);
        white-space: nowrap;

        &:focus {
            border-bottom: 1px dashed $purple-light;
            color: #333;
            cursor: text;
            outline: none;
        }

        &:focus ~ .pencil {
            color: $purple-light;
            opacity: 1;
        }

        &[disabled] {
            cursor: text;
            -webkit-text-fill-color:#bbb;
        }
    }

    #full-name {
        font-weight: bold;
    }
}

//dashboard
#dashboard {
    padding-top: 40px;

    @include media(md) {
        float: right;
        width: 75%;
    }

    //tabs
    .nav-tabs {
        border-bottom: none;
        position: relative;
            z-index: 1;

        li {
            margin-bottom: -2px;

            &.active {
                a {
                    background: #fff;
                    border: 1px solid transparent;
                    @include box-shadow(0 2px 5px rgba(0,0,0,0.1));
                }

                span {
                    border: 1px solid #333;
                    color: #333;
                }
            }

            &:hover {
                span {
                    border: 1px solid #452759;
                    color: #452759;
                }
            }

            a {
                height: 42px;
                line-height: 42px;
                padding: 0 15px;
            }

            span {
                border: 1px solid #6e3e8e;
                @include border-radius(50%);
                color: #6e3e8e;
                display: inline-block;
                font-size: 10px;
                height: 16px;
                line-height: 0;
                margin-right: 6px;
                padding: 7px 0 5px;
                text-align: center;
                width: 16px;
            }
        }
    }

    //select
    .dropdown {
        height: 36px;
        float: right;
        top: -5px;
        width: 82px;

        button {
            background: none;
            @include box-shadow(none);
            border: 1px solid #bbb;
            color: #bbb;
            font-size: 12px;
            font-weight: bold;
            height: 36px;
            line-height: 36px;
            padding: 0 12px;
            width: 82px;

            &:before {
                color: #bbb;
                content: 'Sort by';
                position: absolute;
                    left: -52px;
            }
        }

        .caret {
            border-top-color: #bbb;
            float: right;
            margin-top: 16px;
        }
    }

    select {
        cursor: pointer;
        min-height: 100%;
        opacity: 0;
        position: absolute;
            top: -5px;
            left: 0;
            z-index: 2;
        width: 100%;
    }
}

.dashboard-runnables {
    background: #fff;
    @include border-radius(0 5px 5px 5px);
    @include box-shadow(0 2px 5px rgba(0,0,0,0.1));
    padding: 0;
    position: relative;
        z-index: 2;
    width: 100%;

    li {
        border-bottom: solid 1px #eee;
        list-style: none;
        margin: 0;
        padding: 0 25px 25px 25px;
        position: relative;
        @include transition(background 0.2s ease-in-out);

        &:hover {
            background: #FCF7FF;
        }

        &:first-child {
            border-top: 1px solid transparent;

            &:hover {
                border-top: 1px solid #eee;
            }
        }

        .active {
            border-top: 1px solid rgba(0,0,0,0.2);
        }

        button {
            background: none;
            border: none;
            color: rgba(0,0,0,0.2);
            font-size: 14px;
            font-weight: bold;
            outline: none;
            position: absolute;
                top: 7px;
                right: 10px;
            text-shadow: 0 1px 0 rgba(255,255,255,0.2);
            @include transition(all 0.2s ease-in-out);

            &:hover {
                color: rgba(0,0,0,0.6);
                text-shadow: 0 1px 0 rgba(255,255,255,0.6);
            }
        }
    }

    h3 {
        margin: 0;

        a {
            color: #333;
            display: block;
            font-weight: bold;
            font-size: 20px;
            padding: 25px 0 0 0;
        }
    }

    p {
        font-size: 12px;
        font-weight: bold;
        color: #bbb;
        margin: 8px 0 0 0;
    }
}

li {
    .tags {

        img {
            margin-right: 4px;
        }
            margin-right: 5px;
    }
}

//reputation
.reputation {
    @include border-radius(50%);
    display: block;
    font-size: 11px;
    height: 32px;
    line-height: 32px;
    margin: 0 auto;
    padding: 0;
    position: absolute;
        top: 0;
        z-index: 1;
    width: 32px;
}

//reputation
#reputation {
    height: 100px;
    margin: 0 0 30px;
    padding: 0;

    li {
        display: inline-block;
        margin-left: 30px;

        &:first-child {
            margin-left: 0;
        }

        //tooltips
        .tooltip {
            margin-top: -3px;
        }
        .tooltip-inner {
            white-space: nowrap;
        }

        $width32: 32px;

        //author link & img
        > a:first-child {
            background: #fff;
            @include border-radius(50%);
            display: block;
            height: $width32*2;
            margin: 0 auto;
            position: relative;
            width: $width32*2;

            > img {
                border: 10px solid transparent;
                @include border-radius(50%);
                @include box-shadow(0 2px 3px rgba(0,0,0,0.3));
                float: left;
                height: 60px;
                overflow: hidden;
                position: absolute;
                    z-index: 1;
                width: 62px;
            }
        }
    }

    figcaption {
        color: #bbb;
        font-size: 12px;
        font-weight: bold;
        margin-top: 14px;

        > a + a {
            margin-right: 6px;
        }
    }

    figure {
        @include animation(closeWrapper 0s 0.5s 1 forwards linear);
        @include border-radius(50%);
        clip: rect(0px, 62px, 60px, 31px);
        height: 60px;
        pointer-events: none;
        position: absolute;
        width: 62px;

        div {
            border: 10px solid $purple-lighter;
            @include border-radius(50%);
            clip: rect(0px, 31px, 60px, 0px);
            height: 60px;
            position: absolute;
            width: 62px;
        }

        &[class^='_1'], &[class^='_2'], &[class^='_3'], &[class^='_4'], &[class^='_5'] {
            > div:first-child {
                border-color: #fff;
                z-index: 1;
            }
        }

        &[class^='_5'], &[class^='_6'], &[class^='_7'], &[class^='_8'], &[class^='_9'], &._100 {
            > div:last-child {
                @include animation(rightSpan50 0.5s 1 forwards linear);
            }
        }

        &[class^='_1'] > div:last-child {
            @include animation(rightSpan10 0.1s 1 forwards linear);
        }

        &[class^='_2'] > div:last-child {
            @include animation(rightSpan20 0.2s 1 forwards linear);
        }

        &[class^='_3'] > div:last-child {
            @include animation(rightSpan30 0.3s 1 forwards linear);
        }

        &[class^='_4'] > div:last-child {
            @include animation(rightSpan40 0.4s 1 forwards linear);
        }

        &[class^='_5'] > div:last-child {
            @include animation(rightSpan50 0.5s 1 forwards linear);
        }

        &[class^='_6'] > div:first-child {
            @include animation(leftSpan60 0.2s 1 forwards linear);
        }

        &[class^='_7'] > div:first-child {
            @include animation(leftSpan70 0.4s 1 forwards linear);
        }

        &[class^='_8'] > div:first-child {
            @include animation(leftSpan80 0.6s 1 forwards linear);
        }

        &[class^='_9'] > div:first-child {
            @include animation(leftSpan90 0.8s 1 forwards linear);
        }

        &._100 > div:first-child {
            @include animation(leftSpan100 1s 1 forwards linear);
        }
    }
}