#code-editor {
  border-left: 1px solid rgba(0,0,0,.1);
  overflow: hidden;
  position: relative;
}

// default tabs
#project-editor-tabs {
  border: none;
  height: 36px;
  position: relative;
    left: 38px;
  overflow-x: auto;
  overflow-y: hidden;
  @include transition-transforms(.2s ease-in-out);
  white-space: nowrap;
  width: calc(100% - 72px);

  li {
    display: inline-block;
    float: none;
    position: relative;

    > a {
      cursor: pointer;
    }

    > .tab-body {
      background: $grey-light;
      border-color: rgba(0,0,0,.1);
      border-bottom: none;
      @include border-radius(0);
      color: $grey-darker;
      font-size: 12px;
      line-height: 36px;
      height: 36px;
      padding: 0 40px 0 10px;
      text-align: center;

      &:hover {
        background: $grey-lighter;
      }

      &:active {
        color: $purple-light;
      }
    }

    > .remove-2 {
      background: none;
      border: none;
      color: darken($grey,10%);
      font-size: 11px;
      padding: 0;
      position: absolute;
        top: 12px;
        right: 10px;

      &:hover {
        color: darken($grey,20%);
        top: 8px;
        right: 8px;
      }

      &:hover:before {
        content: '\E193';
        font-size: 16px;
      }

      &:active {
        color: darken($grey,30%);
      }
    }

    &.active {

      > .tab-body {
        background-color: $grey-lighter;
        color: $purple-light;
        cursor: default;
      }

      > .remove-2 {
        color: darken($grey,20%);

        &:hover {
          color: darken($grey,30%);
        }

        &:active {
          color: darken($grey,40%);
        }
      }
    }
  }
}

// select menu tabs
#project-select-tabs {
  background: $grey-lighter;
  position: absolute;
    top: 0;
    right: 0;

  &:hover > .dropdown {

    &:before {
      border-bottom-color: $grey-dark;
    }

    &:after {
      border-top-color: $grey-dark;
    }
  }

  > .dropdown {
    border: none;
    position: relative;

    &:before,
    &:after {
      right: 13px;
    }
  }
}

#project-editor-container {
  border-top: 1px solid rgba(0,0,0,.1);
  border-right: 1px solid transparent;
  border-bottom: 1px solid rgba(0,0,0,.1);
  position: relative;
    top: -1px;
  @include transform-3d(0,0,0);
  @include transition-transforms(.2s ease-in-out, width 0s ease-in-out);
  width: 100%;

  #project-editor {
    border-right: 1px solid rgba(0,0,0,.1);
  }
}

// file explorer icon
.open-file-explorer {
  background: $purple-light;
  color: $grey-light;
  cursor: pointer;
  display: block;
  font-size: 18px;
  height: 36px;
  line-height: 36px;
  position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  text-align: center;
  width: 36px;

  &:hover {
    background: lighten($purple-light,5%);
    color: $grey-light;
    text-decoration: none;
  }

  &:active {
    background: darken($purple-light,5%);
  }
}

#file-explorer {
  background: $grey-light;
  border-bottom: 1px solid rgba(0,0,0,.1);
  float: left;
  height: calc(100% - 36px);
  position: absolute;
  @include transform-3d(-100%,0,0);
  @include transition-transforms(.2s ease-in-out, width 0s ease-in-out);
  width: 240px;

  // file explorer controls
  .controls {
    background: $purple-light;
    height: 36px;
    margin: 0;
    padding: 0;
    position: absolute;
      top: -36px;
      left: 36px;
      z-index: 1;
    width: 204px;

    li {
      color: $grey-lighter;
      cursor: pointer;
      display: block;
      float: left;
      font-size: 16px;
      height: 36px;
      line-height: 36px;
      list-style: none;
      margin: 0;
      top: 0;
      text-align: center;
      width: 36px;

      &.dark-theme,
      &.light-theme {
        &:after {
          border: 1px solid transparent;
          @include border-radius(50%);
          content: '';
          display: block;
          height: 18px;
          margin: 8px auto;
          width: 18px;
        }
      }

      &.dark-theme:after {
        background: $purple;
      }

      &.light-theme:after {
        background: $grey-lighter;
      }

      &.active {
        cursor: default;

        &:after {
          border: 1px solid $orange;
        }
      }
    }
  }

  // file tree
  .nav {
    font-size: 12px;
    height: calc(100% - 54px);
    overflow: scroll;
    padding: 1px 0 36px 0;

    ul {
      padding: 0;
    }

    > li {
      cursor: pointer;
    }

    // style folders and files
    li {
      list-style-type: none;

      &.active > div > a, {
        background-color: $grey-lighter;
        color: $purple-light;

        &.arrow:before {
          border-top: 6px solid #fff !important;
        }
      }

      &.ui-draggable-hover {
        background: rgba(0,0,0,.05);
        @include transition(background .1s ease-in-out);
      }

      &.folder {

        .arrow:before {
          border-top: 6px solid #bbb;
          border-left: 4px solid transparent;
          border-right: 4px solid transparent;
          content: '';
          float: left;
          margin: 6px 5% 0 0;
          @include transition-transforms(.1s linear);
        }

        .collapsed:before {
          @include rotate-3d(-90deg);
        }
      }
    }

    a,
    img,
    span {
      color: $grey-dark;
      display: block;
      padding: 6px 5%;
      white-space: nowrap;

      &:hover {
        text-decoration: none;
      }

      &:before {
        border-top: 6px solid transparent;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
        content: '';
        float: left;
        margin: 6px 10px 0 0;

      }
    }
  }

  // file tree item
  .ui-draggable:hover {
    background: $grey-lighter;
    text-decoration: none;
  }
}

// nested folders
#file-explorer .nav {

  li {

    img {
      @include box-sizing(content-box);
    }

    ul {
      padding-left: 0;

      li {

        a,
        img,
        input,
        span {
          // padding-left: 0;
        }

        li {
          a, img, input, span, form {
            padding-left: 13%;
          }
        }

        li li {
          a, img, input, span, form {
            padding-left: 21%;
          }
        }

        li li li {
          a, img, input, span, form {
            padding-left: 29%;
          }
        }

        li li li li {
          a, img, input, span, form {
            padding-left: 37%;
          }
        }

        li li li li li {
          a, img, input, span, form {
            padding-left: 45%;
          }
        }

        li li li li li li {
          a, img, input, span, form {
            padding-left: 53%;
          }
        }

        li li li li li li li {
          a, img, input, span, form {
            padding-left: 61%;
          }
        }

        li li li li li li li li {
          a, img, input, span, form {
            padding-left: 69%;
          }
        }

        li li li li li li li li li {
          a, img, input, span, form {
            padding-left: 77%;
          }
        }

        li li li li li li li li li li {
          a, img, input, span, form {
            padding-left: 85%;
          }
        }
        li li li li li li li li li li li {
          a, img, input, span, form {
            padding-left: 93%;
          }
        }
      }
    }
  }

  .name-input {
    padding: 6px 14px;
    width: 100%;
  }
}

// upload
#drop-to-add {
  background: #fff;
  @include box-shadow(0 1px 0 rgba(0,0,0,.1));
  color: $grey-dark;
  font-size: 14px;
  font-weight: bold;
  display: block;
  height: 54px;
  line-height: 58px;
  text-align: center;
  @include user-select(none);

  .glyphicons {
    border: 2px dotted #ccc;
    @include border-radius(50%);
    height: 26px;
    top: 8px;
    width: 26px;

    &::before,
    &::after {
      position: absolute;
        right: 0;
        left: 0;
    }

    &::before {
      top: 4px;
    }

    &::after {
      content: "\E213";
      opacity: 0;
      top: 4px;
      @include transform-3d(0,-100%,0);
    }
  }

  &:hover {
    text-decoration: none;
  }

  &.in {

    .glyphicons {

      &::before {
        @include animation(dropIn reverse .2s ease-in-out forwards);
      }

      &::after {
        @include animation(dropIn .2s ease-in-out forwards);
      }
    }
  }
}

// when file explorer is open
#code-editor.in {

  // file explorer icon
  .open-file-explorer {
    background: $purple-light;

    &:before {
      content: '\E145';
    }

    &:hover {
      background: lighten($purple-light, 5%);
    }

    &:active {
      background: darken($purple-light,5%);
    }
  }

  // file explorer
  #file-explorer {
    @include transform-3d(0%,0,0);
    z-index: 10;
  }

  // tabs
  #project-editor-tabs {
    @include transform-3d(204px,0,0);
    width: calc(100% - 276px);
  }

  // ace editor
  #project-editor-container {
    @include transform-3d(240px,0,0);
    width: calc(100% - 240px);
    @include transition-transforms(.2s ease-in-out, width .2s ease-in-out);
  }
}