#embed {
  border: 1px solid rgba(0,0,0,.1);
  margin: 100px; // delete this
  position: relative;

  // run button
  > button {
    background: $green;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    position: absolute;
      top: 0;
      right: 0;
      z-index: 3;
    width: 80px;
  }

  // code editor
  #code-editor {
    border: 0;
  }

  #project-editor-tabs-wrapper {
    width: calc(100% - 116px);
  }

  #project-select-tabs {
    right: 80px;
  }

  #project-editor-tabs > li {
    border-top: 0;
  }

  // terminal
  .terminal-title {
    display: none;
  }

  .terminal-view {
    height: 150px;
  }

  // footer
  footer {
    background: $purple;
    border: 0;
    box-shadow: none;
    height: 36px;
    line-height: 36px;

    > a {
      color: #fff;
      float: left;
      font-size: 13px;

      &:first-child:active {
        transform: translate3d(0,1px,0);
      }
    }
  }

  #logo {
    float: right;
    height: 36px;

    > span {
      margin: 7px 0 0;
      width: 28px;
    }
  }
}