#embed {
  border: 1px solid rgba(0,0,0,.1);
  height: 100%;
  margin: 0;
  position: relative;
  width: 100%;
    min-width: 240px;

  &.with-terminal {

    #code-editor-embed {
      height: calc(100% - 81px);
    }

    .terminal-view {
      display: block;
      height: 45px;
      transition: height .2s cubic-bezier(.19,1,.22,1);
    }
  }

  &.in {

    #code-editor-embed {
      height: calc(100% - 286px);
    }

    .terminal-view {
      height: 250px;
    }
  }

  // run button
  > button {
    height: 24px;
    line-height: 22px;
    padding: 0 8px;
    position: absolute;
      top: 6px;
      right: 6px;
      z-index: 3;

    > img {
      margin: -4px 3px 0 0
    }
  }

  // code editor
  #code-editor-embed,
  #project-editor-container {
    height: calc(100% - 36px);
  }

  #code-editor-embed {
    border: 0;

    &.in {

      #open-file-explorer {
        height: 36px;
      }

      #project-editor-tabs-wrapper {
        transform: translate3d(204px,0,0);
        width: calc(100% - 330px);
      }
    }

    &:after {
      display: none;
    }
  }

  #open-file-explorer {
    height: 37px;
    transition: height 0s .1s;
  }

  #project-editor-tabs-wrapper {
    border-bottom: 0;
    width: calc(100% - 126px);
  }

  #project-select-tabs {
    border-left: 1px solid rgba(0,0,0,.1);
    border-right: 1px solid rgba(0,0,0,.1);
    position: absolute;
      top: -1px;
      right: 68px;
  }

  #project-editor-tabs > li {
    border-top: 0;
  }

  #project-editor-container {
    border-top: 1px solid rgba(0,0,0,.1);
    min-height: 0;
    overflow: auto;
  }

  // terminal
  .terminal-title {
    display: none;
  }

  .terminal-view {
    display: none;
  }

  .terminal-loader {
    display: none;
  }

  // footer
  footer {
    background: $gray-light;
    border-top: 1px solid rgba(0,0,0,.1);
    box-shadow: none;
    height: 36px;
    line-height: 36px;

    > a {
      color: $gray-dark;
      float: left;
      font-size: 13px;

      &:hover {
        color: $gray-darker;
      }

      &:active {
        transform: translate3d(0,1px,0);
      }
    }
  }

  #logo {
    float: right;
    height: 36px;
    margin-right: 6px;
    padding: 0;
    width: 36px;

    > svg {
      height: 36px;
      width: 36px;
    }
  }
}