#error {

  #logo {
    background: url(../images/sprite-runnable-logo-2.png) no-repeat;
    @include background-image-retina('../images/sprite-runnable-logo-2@2x.png');
    display: block;
    height: 22px;
    margin-top: 15px;
    width: 140px;

    @media (min-device-pixel-ratio: 1.3),
           (min-resolution: 1.3dppx) {
      background-size: 100%;
    }

    &:hover {
      background-position: 0 100%;
    }
  }

  .hero-animate {
    display: block;
    height: 125%;
    margin: 0 auto;
    max-width: 100%;
    position: absolute;
      right: 0;
      bottom: -45%;
      left: 0;
      z-index: -1;

    &.globe {
      @include animation(leftSpan100 10s infinite reverse linear);
    }

    &.cog {
      @include animation(cogError 1.5s infinite linear);
    }
  }

  h1 {
    color: #ac87c6;
    margin: 20% auto 30px;
    text-align: center;

    @include media(xs) {
      font-size: 20px;
    }

    @include media(sm) {
      font-size: 28px;
    }

    @include media(md) {
      font-size: 36px;
    }
  }

  //link
  p {
    color: #ac87c6;
    font-size: 18px;
    font-weight: bold;
    text-align: center;

    > a {
      color: lighten(#ac87c6,20%);

      &:hover {
        color: lighten(#ac87c6,25%);
        text-decoration: none;
      }

      &:active {
        color: lighten(#ac87c6,30%);
      }
    }
  }

  //or
  .or {
    height: 30px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 30%;
      max-width: 350px;

    > span {
      color: #ac87c6;
      font-size: 18px;
      font-weight: bold;
      line-height: 1.2;

      &:before,
      &:after {
        border-top: 1px solid #ac87c6;
        content: '';
        display: block;
        margin: 11px auto;
        width: 45%;
      }

      &:before {
        float: left;
      }

      &:after {
        float: right;
      }
    }

    @include media(xs) {
      width: 80%;
    }
  }

  //search
  .input-group {
    margin: 0 auto;
    width: 40%;

    > input {
      @include border-radius(3px);
      font-size: 18px;
      font-weight: bold;
      height: 50px;
      width: 100%;
    }

    > button {
      @include border-radius(0 3px 3px 0);
      font-size: 20px;
      height: 52px;
      position: absolute;
        top: -1px;
        right: 0;
    }

    @include media(xxs) {
      width: 100%;
    }

    @include media(xs) {
      width: 80%;
    }
  }

  aside {
    color: #ac87c6;
    position: absolute;
      bottom: 10px;
      left: 20px;
  }

  #bear {
    @include animation(bearUp 4s 30s linear forwards);
    position: absolute;
      right: 20px;
      bottom: -244px;
  }
}