.form-group {
  position: relative;
}

//.saved label
.saved {
  background: $light-yellow;
  border: 1px solid darken($light-yellow, 50%);
  @include border-radius(3px);
  color: darken($light-yellow, 70%);
  display: none;
  font-size: 11px;
  font-weight: bold;
  height: 20px;
  line-height: 20px;
  padding: 0 4px;
  position: absolute;
  pointer-events: none;
    right: 10px;
    bottom: 10px;
    z-index: -1;

  &.in {
    display: block;
    z-index: 1;
  }
}

// search
#search {
  position: relative;

  @media (max-width: 500px) {
    clear: both;
    margin-top: 15px;
    width: 100%;
  }

  .form-group {
    margin-bottom: 0;
  }

  .twitter-typeahead {
    background: #fff;
    border-radius: 3px;
  }

  input {
    border-radius: 3px;
    height: 36px;
    transition: width .3s cubic-bezier(.19,1,.22,1);
    -webkit-appearance: none;
  }

  button {
    background: #fff;
    border: 0;
    box-shadow: none;
    color: $gray-dark;
    height: 34px;
    position: absolute;
      top: 1px;
      right: 1px;
      z-index: 2;
    text-shadow: none;
  }
}

// header search
header {

  #search {
    height: 36px;
    line-height: 1;
    margin: 9px auto;
    // top: 54px;
    // width: calc(100% - 30px);

    input {
      box-shadow: none;
      width: 100%;

      &:focus {
        border-color: transparent;
        width: 100%;
      }
    }

    button {
      right: 15px;
    }

    // @include media(sm) {
    //   margin: 9px auto;
    //   top: 0;
    //   width: 20%;
    // }
  }
}

//feed search
#feed-nav {

  #search {
    float: right;

    input {
      width: 105px;

      &:focus {
        width: 200px;
      }

      @media (max-width: 500px) {
        width: 100%;

        &:focus {
          width: 100%;
        }
      }
    }
  }
}

// inline editing
form.inline {
  margin-bottom: 1px;
  position: relative;

  input {
    -webkit-appearance: none;
    background: transparent;
    border: 1px solid transparent;
    border-radius: 0;
    box-shadow: 0 1px 0 rgba(0,0,0,.1), 0 2px 0 #fff;
    color: $gray-dark;
    height: 36px;
    line-height: 36px;
    outline: none;
    padding: 0 15px;
    width: 100%;

    &:hover {
      background: #fff;
      cursor: pointer;
    }

    &:focus {
      background: #fff;
      border-color: $orange;
      cursor: text;
    }

    &[disabled],
    &[disabled]:hover {
      background: transparent;
      cursor: text;
    }
  }

  .menu {
    position: absolute;
      top: 0;
      right: 0;

    > a {
      color: $gray-dark;
      padding: 11px;
    }

    > ul {
      margin-top: 0;
      min-width: 190px;

      .glyphicons {
        font-size: 10px;
        top: 12px;
      }
    }
  }
}