.global-well {
  background: linear-gradient(to bottom,lighten($purple-light,5%),$purple-light) 0 100%;
  border: 1px solid rgba($black,.1);
  border-radius: 3px;
  box-shadow: inset 0 1px 0 rgba($white,.3), 0 1px 2px rgba($black,.2), inset 0 1px 0 rgba($black,.05);
  display: table;
  line-height: 36px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  position: relative;
  white-space: nowrap;

  @media (min-width: 992px) {
    padding: 15px 45px;
  }

  @media (max-width: 992px) {
    padding: 15px;
  }

  @media (max-width: 700px) {
    line-height: 1.4;
    padding: 15px;
    white-space: normal;
  }

  .new {
    @extend .btn;
    @extend .purple;
    @extend .btn-label;
    margin: 0;
    position: relative;
    top: -1px;

    @media (max-width: 700px) {
      display: table;
      margin: 0 auto;
    }
  }

  .p {
    color: rgba($purple-lighter,.75);
    display: inline;
    font-size: 18px;
    margin: 0 15px 0 9px;

    @media (max-width: 992px) {
      font-size: 16px;
    }

    @media(max-width: 768px) {
      font-size: 14px;
    }

    @media (max-width: 700px) {
      display: block;
      font-size: 18px;
      margin: 9px 0;
      max-width: 330px;
    }
  }

  .orange {

    @media (max-width: 700px) {
      display: table;
      margin: 0 auto;
    }

    &:hover,
    &:active,
    &:focus {
      color: $white;
    }
  }
}
