.right {
  float: right;
}
.left {
  float: left;
}
.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}
.clear {
  clear: both;
}
.hide {
  display: none;
}
.inline-block {
  display: inline-block;
}