// global layout
html {
  height: 100%;
}

body {
  background: #eee;
}

main {
  clear: both;
  margin-bottom: 60px;
  overflow: hidden;
}

#content {
  background: #f9f9f9;
}

// utility
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.clearfix:after {
  clear: both;
}

.right {
  float: right;
}

.left {
  float: left;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.clear {
  clear: both;
}

.hide {
  display: none;
}

.inline-block {
  display: inline-block;
}

.center {
  margin: 0 auto;
}

.center-text {
  text-align: center;
}