.right {
  float: right;
}

.left {
  float: left;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.clear {
  clear: both;
}

.hide {
  display: none;
}

.inline-block {
  display: inline-block;
}

.center {
  margin: 0 auto;
}

.center-text {
  text-align: center;
}

// global layout
html {
  height: 100%;
}

body {
  background: #eee;
}

#content {
  background: #f6f6f6;
}