#home-header {
  .hero-content {
    padding-top: 110px;
    width: 100%;
  }
}

.hero {
  background: $purple-dark;
  color: #fff;
  height: 300px;
  position: relative;
  text-align: center;

  img {
    height: 60px;
  }

  p {
    font-size: 18px;
    color: #AC87C6;
    margin: 15px 0 30px;
  }

  #searchbox {
    margin: 0 auto 80px auto;
    width: 60%;

    @include breakpoint(screen-md) {
      width: 90%;
    }

    input {
      @include border-radius(3px);
      border: none;
    }

    button {
      @include animation(shine 5s ease-in-out infinite .5s);
      @include border-radius(0 3px 3px 0);
      font-size: 20px;
      height: 52px;
      line-height: 52px;
      position: absolute;
        top: -1px;
        right: 0;
        z-index: 2;
      width: 56px;
    }
  }

  .hero-content {
    position: relative;
  }
}


.bubbles-container {
  position: absolute;
  width: 100%;
  height: 300px;
  overflow: hidden;
  .bubbles {
  img {
    opacity: .1;
    padding: 3px;
    &.small  {
    width: 5%;
    height: auto;
    &.hero-animate {
      -moz-animation:     bounceySmall 16s infinite ease;
      -webkit-animation:  bounceySmall 16s infinite ease;
      -ms-animation:      bounceySmall 16s infinite ease;
      animation:          bounceySmall 16s infinite ease;
      &.reverse {
      -moz-animation:     bounceySmallReverse 16s infinite ease;
      -webkit-animation:  bounceySmallReverse 16s infinite ease;
      -ms-animation:      bounceySmallReverse 16s infinite ease;
      animation:          bounceySmallReverse 16s infinite ease;
      }
    }
    }
    &.medium {
    width: 10%;
    height: auto;
    &.hero-animate {
      -moz-animation:     bounceyMedium 32s infinite ease;
      -webkit-animation:  bounceyMedium 32s infinite ease;
      -ms-animation:      bounceyMedium 32s infinite ease;
      animation:          bounceyMedium 32s infinite ease;
      &.reverse {
      -moz-animation:     bounceyMediumReverse 32s infinite ease;
      -webkit-animation:  bounceyMediumReverse 32s infinite ease;
      -ms-animation:      bounceyMediumReverse 32s infinite ease;
      animation:          bounceyMediumReverse 32s infinite ease;
      }
    }
    }
    &.large  {
    width: 15%;
    height: auto;
    &.hero-animate {
      -moz-animation:     bounceyLarge 64s infinite ease;
      -webkit-animation:  bounceyLarge 64s infinite ease;
      -ms-animation:      bounceyLarge 64s infinite ease;
      animation:          bounceyLarge 64s infinite ease;
      &.reverse {
      -moz-animation:     bounceyLargeReverse 64s infinite ease;
      -webkit-animation:  bounceyLargeReverse 64s infinite ease;
      -ms-animation:      bounceyLargeReverse 64s infinite ease;
      animation:          bounceyLargeReverse 64s infinite ease;
      }
    }
    }
  }
  height: 400px;
  }
}

#framework-filters {
  background: $gray;
  border-bottom: solid 1px #ccc;
  &.navbar {
  min-height: 0;
  margin-bottom: 10px;
  }
  @include box-shadow(none);
  li {
  margin: 0 12px;
  a {
    padding: 8px 5px;
  }
  &.active {
    border-bottom: solid 3px $orange;
    a {
    background: none;
    font-weight: bold;
    }
  }
  }
}
