.hero {
  background: $purple;
  color: #fff;
  height: 430px;
  position: relative;
  text-align: center;

  img {
    height: 190px;
  }

  p {
    color: #ac87c6;
    font-size: 18px;
    margin: 15px 0 30px;
  }

  .hero-content {
    position: relative;
  }
}


.bubbles-container {
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%;

  .bubbles {
    height: 100%;
    position: absolute;

    img {
      // opacity: 0;
      padding: 3px;
      transition: opacity .5s;

      &.small {
        height: auto;
        width: 5%;

        &.hero-animate {
          animation: bounceySmall 16s infinite ease;

          &.reverse {
            animation: bounceySmallReverse 16s infinite ease;
          }
        }
      }

      &.medium {
        height: auto;
        width: 10%;

        &.hero-animate {
          animation: bounceyMedium 32s infinite ease;

          &.reverse {
            animation: bounceyMediumReverse 32s infinite ease;
          }
        }
      }

      &.large  {
        height: auto;
        width: 15%;

        &.hero-animate {
          animation: bounceyLarge 64s infinite ease;

          &.reverse {
            animation: bounceyLargeReverse 64s infinite ease;
          }
        }
      }
    }

    &.in img {
      opacity: 1;
    }
  }
}

// home header
#home-header {
  background: $purple-darker;
  height: 380px;
  overflow: hidden;

  $channel-width: 70px;

  .bubbles {
    animation: bubbleIn 1 1s 1s linear forwards;
    opacity: 0;
  }

  h1 {
    font-size: 40px;
    font-weight: bold;
    margin-top: 60px;
  }

  h2 {
    font-size: 18px;
    color: rgba($purple-lighter,.5);
    margin: 0;
  }

  li {
    background: linear-gradient(to bottom,$purple-light,rgba($purple-light,.75));
    border-radius: 50%;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.3), 0 2px 0 rgba(0,0,0,.5);
    cursor: pointer;
    height: $channel-width;
    position: absolute;
    user-select: none;
    width: $channel-width;

    img {
      display: block;
      height: $channel-width - 12px;
      margin: 6px auto;
      width: $channel-width - 12px;
    }

    &:after {
      background: rgba(255,255,255,.2);
      border-radius: 50%;
      border-top: 2px solid rgba(0,0,0,.2);
      content: '';
      display: block;
      height: $channel-width - 12px;
      position: absolute;
        top: 6px;
        left: 6px;
      transition: background .2s cubic-bezier(.19,1,.22,1);
      width: $channel-width - 12px;
    }

    &:hover:after {
      background: rgba(255,255,255,0);
    }

    &:active {
      transform: translate3d(0,1px,0);
    }
  }

  ul {
    list-style-type: none;
    height: 160px;
    margin: 40px auto 0;
    padding: 0;
    position: relative;
      z-index: 1;
    width: ($channel-width*6) + 45px;

    li {
      animation: stackOut 1 1s .2s cubic-bezier(.19,1,.22,1) forwards;

      &:nth-child(1) {
        left: 0;
        top: $channel-width;
        transform: translate3d($channel-width + 30px,100px,0);
      }

      &:nth-child(2) {
        left: $channel-width;
        top: 15px;
        transform: translate3d($channel-width,30px+100px,0);
      }

      &:nth-child(3) {
        left:$channel-width*2 + 15px;
        top: 0;
        transform: translate3d(15px,30px+100px,0);
      }

      &:nth-child(4) {
        right: $channel-width*2 + 15px;
        top: 0;
        transform: translate3d(-15px,30px+100px,0);
      }

      &:nth-child(5) {
        right: $channel-width;
        top: 15px;
        transform: translate3d(-$channel-width,30px+100px,0);
      }

      &:nth-child(6) {
        right: 0;
        top: $channel-width;
        transform: translate3d(-$channel-width - 30px,100px,0);
      }

      &:nth-child(7) {
        left: $channel-width + 45px;
        top: $channel-width + 15px;
        transform: translate3d(30px,-15px+100px,0);
      }

      &:nth-child(8) {
        left: 0;
        margin: 0 auto;
        right: 0;
        top: $channel-width;
        transform: translate3d(0,100px,0);
      }

      &:nth-child(9) {

        right: $channel-width + 45px;
        top: $channel-width + 15px;
        transform: translate3d(-30px,-15px+100px,0);
      }

      &:active {
        margin-top: 1px;
      }
    }
  }

  .glyphicons {
    color: $purple-light;
    cursor: pointer;
    display: block;
    font-size: 28px;
    opacity: .5;
    position: relative;
      z-index: 0;
    transform: rotate3d(0,0,1,90deg);

    &:hover {
      opacity: 1;
      text-decoration: none;
    }
  }
}