.hero {
  background: $purple;
  color: #fff;
  height: 430px;
  position: relative;
  text-align: center;

  img {
    height: 190px;
  }

  p {
    color: #ac87c6;
    font-size: 18px;
    margin: 15px 0 30px;
  }

  .hero-content {
    position: relative;
  }
}


.bubbles-container {
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%;

  .bubbles {
    height: 100%;
    position: absolute;

    img {
      padding: 3px;

      &.small {
        height: auto;
        width: 5%;

        &.hero-animate {
          animation: bounceySmall 16s infinite ease;

          &.reverse {
            animation: bounceySmallReverse 16s infinite ease;
          }
        }
      }

      &.medium {
        height: auto;
        width: 10%;

        &.hero-animate {
          animation: bounceyMedium 32s infinite ease;

          &.reverse {
            animation: bounceyMediumReverse 32s infinite ease;
          }
        }
      }

      &.large  {
        height: auto;
        width: 15%;

        &.hero-animate {
          animation: bounceyLarge 64s infinite ease;

          &.reverse {
            animation: bounceyLargeReverse 64s infinite ease;
          }
        }
      }
    }
  }
}

// home header
#home-header {

  h1 {
    font-size: 40px;
    margin-top: 100px;
  }

  h2 {
    font-size: 18px;
    color: rgba($purple-lighter,.5);
    margin: 15px 0 30px;
  }
}