// feed_filters
#filters {
  color: $gray-dark;
  padding-top: 15px;

  h3 {
    font-size: 16px;
    font-weight: 600;
    padding: 0 10px;

    span {
      opacity: 0;
      pointer-events: none;
      transition: opacity .2s cubic-bezier(.19,1,.22,1);

      &.in {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    cursor: pointer;
    display: block;
    padding: 8px 10px;
    position: relative;

    &:hover {
      background: $gray;

      span {
        opacity: .5;
      }
    }

    &:active span,
    &.active span {
      color: $orange;
      opacity: 1;
    }

    &.active:active span {
      color: $gray-dark;
      opacity: .5;
    }
  }

  // check icons
  .glyphicons {
    line-height: 36px;
    opacity: 0;
    position: absolute;
      right: 10px;
  }
}

// feed nav
#feed-nav {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 0 15px;

  // toggle for trending & popular
  > div {
    background: $gray;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 3px;
    display: inline-block;
    float: left;
    position: relative;

    > button {
      background: none;
      border: 0;
      box-shadow: none;
      color: $gray-dark;
      position: relative;
        z-index: 2;
      text-shadow: none;
      transition: color .2s linear;
      width: 90px;

      &.in {
        color: $orange;
        cursor: default;
      }

      &.out:hover {
        color: $gray-darker;
      }
    }

    > div {
      @extend .btn;
      @extend .silver;
      background: #fff;
      border-top: 0;
      border-bottom: 0;
      pointer-events: none;
      position: absolute;
        top: 0;
        left: -1px;
        z-index: 1;
      transition: transform .2s cubic-bezier(.19,1,.22,1);
      width: 90px;
    }
  }

  // toggle and hover states
  #trending.in ~ div {
    transform: translate3d(0,0,0);
  }

  #popular.in ~ div {
    transform: translate3d(96px,0,0);
  }

  #trending.out:hover ~ div {
    transform: translate3d(92px,0,0);
  }

  #popular.out:hover ~ div {
    transform: translate3d(4px,0,0);
  }

  // search
  > form {
    float: right;
    position: relative;

    .form-group {
      margin-bottom: 0;
    }

    .twitter-typeahead {
      background: #fff;
    }

    input {
      height: 36px;
      transition: width .4s cubic-bezier(.19,1,.22,1);
      width: 110px;

      &:focus {
        width: 200px;
      }
    }

    button {
      background: #fff;
      border: 0;
      box-shadow: none;
      color: $gray;
      height: 34px;
      position: absolute;
        top: 1px;
        right: 1px;
        z-index: 2;
      text-shadow: none;
    }
  }
}

// runnable-feed
#runnable-feed {
  list-style-type: none;
  margin: 0;
  padding: 0;

  > li {
    border-bottom: 1px solid $gray;
    padding: 20px 0;
    position: relative;
  }

  // runnable title
  h2 {
    cursor: pointer;
    display: inline-block;
    font-size: 24px;
    font-weight: 600;
    margin: 10px 0;
    width: auto;
  }

  a:hover {
    text-decoration: none;
  }

  // runs
  data {
    color: $gray-dark;
    margin-right: 10px;
  }

  // tags
  div {

    > ul {
      display: inline-block;
      margin: 0;
      padding: 0;
    }
  }

  .tag {
    margin-right: 10px;
  }

  // time
  time {
    color: darken($gray,10%);
    float: right;
  }

  // user image
  .user-img {
    border-radius: 50%;
    cursor: pointer;
    display: block;
    height: 26px;
    overflow: hidden;
    position: absolute;
      top: 30px;
      right: 15px;
    width: 26px;
  }
}