//if no channel image
.no-img {
  background: $purple;
  border-radius: 50%;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
}

//on channel page
#tags-main h1 .no-img {
  float: left;
  height: 58px;
  line-height: 58px;
  margin-right: 15px;
  width: 58px;

  & ~ span {
    line-height: 50px;
  }
}

//on profile page
#reputation .no-img {
  font-size: 24px;
  height: 36px;
  overflow: hidden;
  position: absolute;
    top: 9px;
    right: -1px;
    left: -1px;
    z-index: 1;
  width: 36px;
}