//if no channel image
.no-img {
  @include border-radius(50%);
  font-weight: bold;
  line-height: 1.428571429;
  margin: 0 auto;
  padding: 0;
}

  //home and create new pages
  #cards .no-img {
    float: left;
    font-size: 20px;
    height: 30px;
    width: 31px;
      max-width: 12.5%;
  }

  //on channel page
  #tags-main .no-img {
    font-size: 24px;
    height: 39px;
    margin: 10px 0;
    width: 40px;
  }

  //on profile page
  #reputation .no-img {
    float: left;
    font-size: 24px;
    height: 40px;
    overflow: hidden;
    position: absolute;
      top: 10px;
      right: 0;
      left: 0;
      z-index: 1;
    width: 42px;
  }