// spinner
.overlay-loader {
  background: rgba(0,0,0,.75);
  height: 100%;
  opacity: 0;
  position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -10000000000;
  @include transition(opacity .2s ease-in-out);
  width: 100%;

  &.loading {
    opacity: 1;
    z-index: 10000000000;

    .loader {
      display: block;
    }
  }
}

// spinner
.loader {
  background: url(/images/loader-play.svg) no-repeat center center;
  background-size: 25px 38px;
  display: none;
  height: 80px;
  margin: -50px auto 0;
  position: relative;
    top: 50%;
  width: 80px;

  > div {
    background-color: #999;
    @include border-radius(50%);
    height: 8px;
    opacity: 0;
    position: absolute;
    width: 8px;

    &:nth-child(1) {
      @include animation(spin 1s linear -.875s infinite);
      left: 50%;
      margin: 0 0 -4px;
      top: 0;
    }

    &:nth-child(2) {
      @include animation(spin 1s linear -.75s infinite);
      left: 20%;
      margin: -4px 0 0 -4px;
      top: 20%;
    }

    &:nth-child(3) {
      @include animation(spin 1s linear -.625s infinite);
      left: 0;
      margin: -4px 0 0;
      top: 50%;
    }

    &:nth-child(4) {
      @include animation(spin 1s linear -.5s infinite);
      left: 20%;
      margin: -4px 0 0 -4px;
      top: 82%;
    }

    &:nth-child(5) {
      @include animation(spin 1s linear -.375s infinite);
      left: 50%;
      margin: -4px 0 0 -4px;
      top: 95%;
    }

    &:nth-child(6) {
      @include animation(spin 1s linear -.25s infinite);
      left: 80%;
      margin: -4px 0 0 -4px;
      top: 82%;
    }

    &:nth-child(7) {
      @include animation(spin 1s linear -.125s infinite);
      left: 95%;
      margin: -4px 0 0 -4px;
      top: 50%;
    }

    &:nth-child(8) {
      @include animation(spin 1s linear 0s infinite);
      left: 80%;
      margin: -4px 0 0 -4px;
      top: 20%;
    }
  }
}

// spinner on output
#output-results-container {

  .loader {
    display: block;
    top: 40%;
  }

  .loader-text {
    margin-top: 40px;
    top: 40%;
  }
}

// loaders with text
.with-text {

  > .loader {
    top: 30%;
  }

  > .loader-text {
    position: relative;
      top: calc(30% + 80px);
  }

  h1,
  a,
  p {
    text-align: center;
    text-shadow: 0 0 20px #000;
  }

  h1 {
    color: darken($grey,10%);
    margin-bottom: 20px;
  }

  a {
    color: $grey-dark;
    cursor: pointer;
    display: table;
    font-size: 14px;
    margin: 0 auto;

    &:hover {
      color: darken($grey,10%);
      text-decoration: none;
    }
  }

  p {
    color: darken($grey,10%);
    display: block;
    font-size: 20px;
    margin: 0 auto;
  }

  button {
    display: block;
    margin: 20px auto;
  }

  // if there are steps
  .progress-steps {

    h1,
    p {
      color: darken($grey,10%);
      opacity: 0;
    }

    h1 {
      position: absolute;
        right: 0;
        left: 0;
      @include transform-3d(0,-300%,0);
      @include transition(all 1.5s 50ms);

      &.in {
        opacity: 1;
        @include transform-3d(0,-175%,0);
      }

      &.out {
        opacity: 0;
        @include transform-3d(0,0%,0);
      }
    }

    p {
      @include animation(dropIn .5s forwards 1s ease-in-out);
      @include transform-3d(0,-100%,0);
    }

    a {
      @include animation(dropIn .5s forwards 15s ease-in-out);
      opacity: 0;
      @include transform-3d(0,-100%,-1px);
      @include transition(none);
    }
  }
}

// build loader
#output-results-container h1 {
  color: $grey-dark;
  margin: 0;
}
