// spinner
.overlay-loader {
  background: rgba(0,0,0,.75);
  height: 100%;
  opacity: 0;
  position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $z-hide;
  transition: opacity .2s ease-in-out;
  width: 100%;

  &.loading {
    opacity: 1;
    z-index: $z-show;

    .loader {
      display: block;
    }
  }
}

// spinner
.loader {
  animation: rotate 2s infinite linear;
  display: none;
  height: 108px;
  margin: -108px auto 0;
  position: relative;
    top: 50%;
  width: 108px;


  > div {
    animation: spin 2s infinite ease-in;
    background-color: $gray;
    border-radius: 50%;
    display: inline-block;
    height: 60%;
    position: absolute;
    top: 0;
    width: 60%;

    &:nth-child(2) {
      animation-delay: -1s;
      bottom: 0;
      top: auto;
    }
  }
}

// spinner on output
#output-results-container {

  .loader {
    display: block;
    top: 40%;
  }

  .loader-text {
    margin-top: 40px;
    top: 40%;
  }
}

// loaders with text
.with-text {

  > .loader {
    top: 30%;
  }

  > .loader-text {
    position: relative;
      top: calc(30% + 80px);
  }

  h1,
  a,
  p {
    text-align: center;
    text-shadow: 0 0 20px #000;
  }

  h1 {
    color: darken($gray,10%);
    margin-bottom: 20px;
  }

  a {
    color: $gray-dark;
    cursor: pointer;
    display: table;
    font-size: 14px;
    margin: 0 auto;

    &:hover {
      color: darken($gray,10%);
      text-decoration: none;
    }
  }

  p {
    color: darken($gray,10%);
    display: block;
    font-size: 20px;
    margin: 0 auto;
  }

  button {
    display: block;
    margin: 20px auto;
  }

  // if there are steps
  .progress-steps {

    h1,
    p {
      color: darken($gray,10%);
      opacity: 0;
    }

    h1 {
      position: absolute;
        right: 0;
        left: 0;
      @include transform-3d(0,-300%,0);
      @include transition(all 1.5s 50ms);

      &.in {
        opacity: 1;
        @include transform-3d(0,-175%,0);
      }

      &.out {
        opacity: 0;
        @include transform-3d(0,0%,0);
      }
    }

    p {
      @include animation(dropIn .5s forwards 1s ease-in-out);
      @include transform-3d(0,-100%,0);
    }

    a {
      @include animation(dropIn .5s forwards 15s ease-in-out);
      opacity: 0;
      @include transform-3d(0,-100%,-1px);
      @include transition(none);
    }
  }
}

// build loader
#output-results-container h1 {
  color: $gray-dark;
  margin: 0;
  text-shadow: none;
}

// rebuild-loader
#rebuild-loader {
  background: rgba(255,255,255,.75);
  height: 100%;
  opacity: 0;
  position: absolute;
    left: 0;
    top: 0;
    z-index: $z-hide;
  transition: opacity .2s ease-in-out;
  width: 100%;

  #project.out & {
    opacity: 1;
    z-index: $z-show;

    .loader {
      display: block;

      > div {
        background: rgba(0,0,0,.2);
      }
    }
  }
}