$terminal-color:#383734;
$dropzone-height:75px;

pre {
  margin:0;
}

#project-editor-container{
  height:auto;
  min-height: 350px; /*same as pre.code*/
}

pre.code{
  min-height: 350px;
}

$tree-padding:15px;

//page-title
h2.page-title{
  button, input, form{
    line-height: normal;
  }
}
.relative{
  position:relative;
}

.terminal-view.loading .loader{
  display: block;
}

//runnable index
#project-author h4.author-title b {
  font-size: 15px;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

//runnable list
#tags-content li p b {
  color: #222222;
}
#tags-content li p span.vote-up span {
  color: #bbb;
  text-decoration: none;
  position: relative;
  display: inline-block;
  padding-left: 15px;
}
#tags-content li p span.vote-up span:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 32%;
  left: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 7px solid #bbb;
  -webkit-transition: -webkit-transform 0.25s linear;
  -moz-transition: -moz-transform 0.25s linear;
  -ms-transition: -o-transform 0.25s linear;
  -o-transition: -o-transform 0.25s linear;
  transition: transform 0.25s linear;
}

//home page
.container.home {
  margin: 20px auto;
  h1{
    font-size:30px;
  }
  img{
    width:79%;
  }
}
.center {
  text-align: center;
  margin:0 auto;
}
.super-heavy{
  font-weight: 900;
}
.square {
  height: 460px;
  width: 500px;
  margin:0 auto;
  padding: 150px 0;
  @include box-sizing(border-box);
  @include border-radius(25px);
  background: lightgrey;
}

// about page uses 8-col css
#about, #jobs {
  .col-sm-1 {
    width: 12.5%;
  }
  .col-sm-2 {
    width: 25%;
  }
  .col-sm-3 {
    width: 37.5%;
  }
  .col-sm-4 {
    width: 50%;
  }
  .col-sm-5 {
    width: 62.5%;
  }
  .col-sm-6 {
    width: 75%;
  }
  .col-sm-offset-1 {
    margin-left: 12.5%;
  }
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11 {
    float: left;
  }
  .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
  }
}


div.search-results{
  position:relative;
  ul{
    z-index: 1;
    position:absolute;
    width: 290px;
    background: white;
    margin:0 16px;
    padding: 0;
    padding: 10px 15px;
    top: 45px;
    box-sizing:auto;
    li{
      border-bottom: solid 1px #eee;
      box-sizing:auto;
      list-style-type: none;
    }
    li:first-child,
    li:last-child{
      border-bottom: none;
    }
  }
}

.search-bar{
  display:inline-block;
}

.no-padding{
  padding:0 !important;
  margin: 0 !important;
}
.no-margin{
  margin: 0 !important;
}
.no-bg-image{
  background-image: none !important;
}
.normal-line-height{
  line-height: normal !important;
}

button.btn-sm, .btn-xs {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.services-body button {
  width: 100%;
}

#runnable-tags-edit {

  .form-control {
    display:inline-block;
    width: calc(100% - 95px);
  }

  button {
    float: right;
    min-width: 85px;
  }
}

#output #primary .form-control {
  width: 600px;
}

#output-results-container .loader{
  color: black;
}
.nprogress .bar{
  position: absolute;
  top: 50px;
}
.nprogress .peg{
  -webkit-transform: rotate(1deg) translate(0px, -1px);
  -moz-transform: rotate(1deg) translate(0px, -1px);
  -ms-transform: rotate(1deg) translate(0px, -1px);
  -o-transform: rotate(1deg) translate(0px, -1px);
  transform: rotate(1deg) translate(0px, -1px);
}
#output #output-results-container .ui-resizable-handle{
  position:absolute;
}

#output #output-results-container #output-results {
  padding-top: 50px;
  box-sizing: border-box;
}

#framework-filters{
  z-index:1;
}
.modal-page{
  height: 700px;
}

#project-editor-container aside#file-explorer .controls li.light-theme {
  margin-right:0;
}

.container > .navbar-header, .container > .navbar-collapse {
  text-align: center;
  height: 38px !important;
  @media (max-width: 1000px) {
    height: auto !important;
  }
  .navbar-nav {
    float: none;
    display: inline-block;
    margin: 0;
  }
}

#about #about-team #team-list h3 {
  white-space: normal;
}

button.silver img {
  margin-right: 0;
}

#site-credits {
  margin-top: 60px;
}

.terminal-view.relative{
  height: 250px;
}

.display-none {
  display: none;
}

ul.clearfix.right li{
  float:right;
}
.red{
  color:red;
}
.hero #searchbox {
  margin: 0 auto 100px auto;
}


$searchbox-height:50px;
#home-header.hero{
  .bubbles-container{
    height: 100%;
  }

  h1, .h1 {
    font-size: 40px;
  }

  .hero-content > p {
    font-size: 22px;
  }

  h1{
    margin-top: 120px;
    div {
      width: 220px;
    }
  }

  #searchbox{
    margin-bottom: 155px;
    .input-group{
      width: 100%;
      input{
        font-size: 18px;
        height: $searchbox-height;
      }
    }
  }
}

.searchbar input{
  font-weight: bold;
}

#primary .nav .dropdown-menu li:first-child a:before {
  border-bottom: 8px solid #fff;
}

#project-details{
  .runnable-description{
    .edit-image{
      display: inline-block;
      width: 16px;
      height: 17px;
      background-size: 16px auto;
      background-image: url(../images/sprite-edit-title.png);
      margin-left: 8px;
      background-repeat: no-repeat;
      vertical-align: middle;
      @include background-image-retina('../images/sprite-edit-title@2x.png');
      &:hover, &.active {
          background-position: 0 -18px;
      }
      &.active {
          margin-left: 14px;
          margin-bottom: -3px;
      }
    }
  }
}

#project-details h2.page-title form{
  margin-bottom: 5px;
}

#project-details h2.page-title input.form-control{
  margin: 0 0 5px 0px;
}

.runnable-description{
  input{
    margin: 15px 0;
  }
}

#hundo{
  height: 100%;
}

.terminalload {
  height: 100%;
}

.terminal-view.lock{
  .terminal-loader{
    height:30%;
  }
}
#searchbox{
  .tt-hint{
    width: 100%;
  }
}

