@mixin modernizr($test) {
  html.#{$test} & {
    @content;
  }
}

@mixin animation($animation) {
  -moz-animation: $animation;
  -o-animation: $animation;
  -webkit-animation: $animation;
  animation: $animation;
}

@mixin transform-3d($x: 0, $y: 0, $z: 0) {
  -ms-transform: translate3d($x, $y, $z);
  -webkit-transform: translate3d($x, $y, $z);
  transform: translate3d($x, $y, $z);

  @include modernizr(no-csstransforms3d) {
    -ms-transform: translate($x, $y);
    -webkit-transform: translate($x, $y);
    transform: translate($x, $y);
  }

  @include modernizr(no-csstransforms) {
    top: $y;
  }
}

@mixin transition-3d($transitionA, $transitionB) {
  -o-transition: $transitionA, transform $transitionB;
  -webkit-transition: $transitionA, -webkit-transform $transitionB;
  transition: $transitionA, transform $transitionB;
}