@mixin modernizr($test) {
  html.#{$test} & {
    @content;
  }
}

@mixin animation($animation) {
  -moz-animation: $animation;
  -o-animation: $animation;
  -webkit-animation: $animation;
  animation: $animation;
}


//transform3d mixin with fallback for top
@mixin transform-3d($x: 0, $y: 0, $z: 1) {
  -moz-transform: translate3d($x, $y, $z);
  -ms-transform: translate3d($x, $y, $z);
  -webkit-transform: translate3d($x, $y, $z);
  transform: translate3d($x, $y, $z);

  @include modernizr(no-csstransforms3d) {
    -moz-transform: translate($x, $y);
    -ms-transform: translate($x, $y);
    -webkit-transform: translate($x, $y);
    transform: translate($x, $y);
  }

  @include modernizr(no-csstransforms) {
    top: $y;
  }
}

//scale3d mixin
@mixin scale-3d($x: 0, $y: 0, $z: 1) {
  -moz-transform: scale3d($x, $y, $z);
  -ms-transform: scale3d($x, $y, $z);
  -webkit-transform: scale3d($x, $y, $z);
  transform: scale3d($x, $y, $z);

  @include modernizr(no-csstransforms3d) {
    -moz-transform: scale($x, $y);
    -ms-transform: scale($x, $y);
    -webkit-transform: scale($x, $y);
    transform: scale($x, $y);
  }

  @include modernizr(no-csstransforms) {
    height: $y;
    width: $x;
  }
}

//rotate3d mixin
@mixin rotate-3d($a: 0deg) {
  -moz-transform: rotate3d(0,0,1,$a);
  -ms-transform: rotate3d(0,0,1,$a);
  -webkit-transform: rotate3d(0,0,1,$a);
  transform: rotate3d(0,0,1,$a);

  @include modernizr(no-csstransforms3d) {
    -moz-transform: rotate($a);
    -ms-transform: rotate($a);
    -webkit-transform: rotate($a);
    transform: rotate($a);
  }
}

//
@mixin transform-origin($x: 50%, $y: 50%) {
  -moz-transform-origin: $x, $y;
  -ms-transform-origin: $x, $y;
  -webkit-transform-origin: $x, $y;
  transform-origin: $x, $y;
}

//transition mixin for transforms
@mixin transition-transforms($transition) {
  -o-transition: transform+" "+$transition;
  -webkit-transition: -webkit-transform+" "+$transition;
  transition: transform+" "+$transition;
}

//bootstrap's LESS media queries for SASS
@mixin media($point) {
  @if $point == xs {
    @media (max-width: 768px) { @content; }
  }
  /* Small devices (tablets, 768px and up) */
  @else if $point == sm {
    @media (min-width: 768px) { @content; }
  }
  /* Medium devices (desktops, 992px and up) */
  @else if $point == md {
    @media (min-width: 992px) { @content; }
  }
  /* Large devices (large desktops, 1200px and up) */
  @else if $point == lg {
    @media (min-width: 1200px) { @content; }
  }
}