#dashboard,
#tags-details {
    .nav-tabs {
        border-bottom: none;
        position: relative;
            z-index: 1;

        li {
            margin-bottom: -2px;

            &:hover {
                span {
                    border: 1px solid #452759;
                    color: #452759;
                }
            }

            &.active {
                a {
                    background: #fff;
                    border: 1px solid transparent;
                    @include box-shadow(0 2px 5px rgba(0,0,0,0.1));
                }

                span {
                    border: 1px solid #333;
                    color: #333;
                }
            }

            a {
                height: 42px;
                line-height: 42px;
                padding: 0 15px;
            }

            span {
                border: 1px solid #6e3e8e;
                @include border-radius(50%);
                color: #6e3e8e;
                display: inline-block;
                font-size: 10px;
                height: 16px;
                line-height: 0;
                margin-right: 6px;
                padding: 7px 0 5px;
                text-align: center;
                width: 16px;
            }
        }
    }
}