#output {
    &.terminal {
        .terminal {
            border: none;
            position: absolute;
            height: auto;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }
    &.results {
        margin-top: 50px;
        padding: 2.5%;
    }
    #primary {
        height: 50px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000000000;
        #output-reload {
            display: inline-block;
            width: 18px;
            height: 23px;
            background-image: url('../images/sprite-icon-reload.png');
            @include background-image-retina('../images/sprite-icon-reload@2x.png');
            background-size: 18px auto;
            margin: 13px 0 0 30px;
            float: left;
            &.disabled {
                background-position: 0 -23px;
                cursor: default;
            }
        }
        .form-control {
            border: none;
            margin: 8px 0 0 15px;
            min-height: 30px;
            width: 400px;
            color: #bcbcbc;
            font-weight: normal;
            float: left;
            &:focus {
                color: #333;
            }
            @include breakpoint(screen-sm) {
                width: 64%;
            }
        }
        #output-popout {
            display: inline-block;
            width: 23px;
            height: 23px;
            background-image: url('../images/icon-popout.png');
            @include background-image-retina('../images/icon-popout@2x.png');
            background-size: 23px 23px;
            margin: 12px 0 0 15px;
            float: left;
        }
    }
    #output-results-container {
        height: 70%;
        position: absolute;
            top: 0;
            right: 0;
            left: 0;

        &.out {
            display: none;
        }

        .build-message {
            padding-top: 100px
        }
        #output-results {
            border: none;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
        .ui-resizable-handle {
            text-align: center;
            bottom: 10px;
            height: 14px;
            width: 100%;
            background-image: url('../images/icon-resize.png');
            @include background-image-retina('../images/icon-resize@2x.png');
            background-size: 20px 14px;
            background-position: center center;
            background-repeat: no-repeat;
            z-index: 1000000;
            cursor: ns-resize;
        }
        &.full-height {
            height: 100%;
        }
    }

    #output-terminal-container {
        height: 30%;
        position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
        width: 100%;

        &.in {
            @include animation(heightUp 0.75s ease-in-out forwards);
        }

        #output-terminal {
            border: none;
            height: 100%;
            padding-left: 30px;
            position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
            width: 100%;
        }
        &.full-height {
            height: 100%;
            top: 0;
            bottom: auto;
        }
    }
}