// profile
#profile {
  background: $gray-lighter;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 3px;
  margin-top: 40px;
  margin-bottom: 90px;
  padding: 0;
}

#gravitar {
  @extend .clearfix;
  border-bottom: 1px solid rgba(0,0,0,.1);
  box-shadow: inset 0 1px 0 #fff, 0 1px 0 #fff;
  padding-bottom: 15px;

  > div {
    border-radius: 50%;
    float: none;
    margin: 30px auto 15px;
    padding: 66.66666666666666% 0 0;
    position: relative;

    > img,
    &::before {
      border-radius: 50%;
      display: block;
      position: absolute;
        top: 0;
    }

    &::before {
      background: rgba(255,255,255,.1);
      border-top: 3px solid rgba(0,0,0,.2);
      content: '';
      height: calc(100% - 10px);
      position: absolute;
        top: 5px;
        right: 5px;
        left: 5px;
        z-index: 1;
      width: calc(100% - 10px);
    }

    > img {
      border: 6px solid $purple-light;
      box-shadow: 0 2px 0 rgba(0,0,0,.2);
      height: 100%;
      user-select: none;
      width: 100%;
    }

    > a {
      color: #fff;
      font-size: 24px;
      height: 36px;
      line-height: 36px;
      margin: 0 auto;
      opacity: .8;
      position: absolute;
        top: auto;
        right: 0;
        bottom: 10px;
        left: 0;
        z-index: 1;
      text-align: center;
      text-shadow: 0 0 2px #000;
      transition: opacity .15s;
      width: 36px;

      &:hover {
        opacity: 1;
        text-decoration: none;
      }

      // offset edit icon to visual center
      &:before {
        margin-left: 6px;
      }
    }
  }

  // reputation
  .reputation {
    font-size: 14px;
    height: 36px;
    line-height: 36px;
    right: 6px;
    top: 6px;
    width: 36px;

    // tooltip positions
    &:before {
      top: 42px;
    }

    &:after {
      left: 12px;
      top: 36px;
    }
  }

  > h1,
  > p {
    color: $gray-darker;
    margin-bottom: 0;
    text-align: center;
    white-space: normal;
    word-break: break-all;
  }
}

// dashboard
#dashboard {
  padding-top: 20px;

  @include media(md) {
    padding-top: 40px;
  }

  .toggles {
    margin: 0 0 15px 15px;
  }

  .runnable-feed {
    display: none;

    &.in {
      display: block;
    }
  }

  time {
    margin-right: 0;
  }
}

// .reputation
.reputation {
  background: $purple-light;
  border-radius: 50%;
  box-shadow: -1px 1px 0 rgba(0,0,0,.2);
  color: #fff;
  display: block;
  font-size: 11px;
  height: 32px;
  line-height: 32px;
  margin: 0 auto;
  padding: 0;
  position: absolute;
    top: 0;
    z-index: 1;
  text-align: center;
  user-select: none;
  width: 32px;
}

// #reputation
#reputation {
  @extend .clearfix;
  border-bottom: 1px solid rgba(0,0,0,.1);
  box-shadow: 0 1px 0 #fff;
  list-style-type: none;
  margin: 0;
  padding: 15px 0;

  a {
    border-radius: 50%;
    display: block;
    height: 100%;
    position: relative;
    width: 100%;

    &:hover {
      text-decoration: none;

      > img,
      > .no-img {
        border-color: lighten($purple-light,10%);
      }

      + span {
        background: lighten($purple-light,10%);
      }
    }

    &:active {
      > img,
      + span {
        transform: translate3d(0,1px,0);
      }
    }

    &::before {
      background: rgba(255,255,255,.1);
      border-radius: 50%;
      border-top: 2px solid rgba(0,0,0,.2);
      box-shadow: 0 1px 0 rgba(255,255,255,.2);
      content: '';
      display: block;
      height: calc(100% - 6px);
      position: absolute;
        top: 3px;
        right: 3px;
        left: 3px;
        z-index: 1;
      width: calc(100% - 6px);
    }
  }

  img {
    border: 3px solid $purple-light;
    border-radius: 50%;
    box-shadow: inset 0 0 1px $purple, 0 1px 0 rgba(0,0,0,.2);
    display: block;
    user-select: none;
  }

  .no-img {
    border: 3px solid #804ea8;
    height: 0;
    padding: calc(20% - 3px) 0 calc(80% - 3px);
  }

  .reputation {
    height: 24px;
    line-height: 24px;
    right: 8px;
    top: -4px;
    width: 24px;

    // tooltip positions
    &::before {
      left: -4px;
    }

    &::after {
      left: 6px;
    }
  }
}