#html-readme {
  padding: 5px 10px;
}

.readme-help {
  color: darken(desaturate($light-yellow, 90), 30);
  margin: 100px auto 0;
  text-align: center;
  width: 100%;

  h3 > a {
    cursor: pointer;
    text-decoration: underline;
  }

  a {
    color: darken(desaturate($light-yellow, 90), 30);

    &:hover {
      color: darken(desaturate($light-yellow, 100), 40);
    }
  }

  > a {
    display: table;
    font-size: 12px;
    margin: 15px auto 0;
  }
}

.in #html-readme h3 {
  @include media(xxs) {
    font-size: 18px;
  }
}