#output {
  visibility: hidden;

  &.in {
    visibility: visible;
  }
}

.services-body {

  .name {
    font-size: 16px;
    margin: 10px 0;
  }

  li {
    display: inline-block;

    > a {
      opacity: .8;
      padding: 10px 2px;

      &.hover {
        opacity: 1;
      }
    }
  }
}

// image/container title
.page-title {

  h1 {
    @extend .clearfix;
    color: $gray-darker;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.6;
    margin: 0;

    > span {
      display: block;
      float: left;
      max-width: calc(100% - 34px);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    form {
      margin-bottom: 10px;
    }
  }
}

.runnable-stats {
  color: $gray-dark;
  font-size: 14px;
  margin: 0;

  > h2 {
    clear: both;
    font-size: 14px;
    margin: 0 0 15px;

    > a {
      font-weight: 700;
    }
  }

  data {
    color: $gray-dark;
    margin-right: 10px;
  }

  .tooltip {
    margin-right: 6px;
  }

  .glyphicons {
    color: $orange;
    font-size: 12px;
    margin-left: 8px;
    margin-right: 4px;

    &:first-child {
      margin-left: 0;
    }

    &.eye-open {
      font-size: 13px;
    }
  }

  .share {
    transform: rotate3d(1,0,0,180deg);
  }
}

.runnable-description {
  margin-top: 5px;

  > p {
    color: $gray-dark;
    margin: 15px 0;
  }
}

// edit title and description
#project-details {

  input {
    margin-bottom: 5px;
  }

  textarea {
    height: 72px;
    margin-bottom: 6px;
    max-height: 144px;
    resize: vertical;
  }

  .cancel {
    font-size: 13px;
    font-weight: 400;
    padding: 0 8px;
  }

  .glyphicons.edit {
    font-size: 18px;
    line-height: 0;
    padding: 0 8px;
  }
}

// improve-btn
#improve-btn {
  margin-left: 10px;

  > button {
    font-size: 16px;

    &+button {
      border-radius: 0 3px 3px 0;
    }
  }

  .thumbs-up {

    &:hover {
      color: rgba($green,.8);
    }

    &:active,
    &.active {
      color: $green;
    }
  }

  .thumbs-down {

    &:hover {
      color: rgba($orange,.8);
    }

    &:active,
    &.active {
      color: $orange;
    }
  }
}

// ??
#project-details, #tags-details {

  p.description {

    a.more {
      display: inline-block;
      color: #fff;
      background: #ccc;
      padding: 0 5px;
      line-height: 1.2em;
      margin-left: 5px;
      @include border-radius(3px);
      @include transition(all 0.25s ease-in-out);
      &:hover {
        text-decoration: none;
        background: #999;
      }
    }
  }
  .main-controls {
    margin: 30px 0 35px 0;

    > .btn-group,
    > button {
      float: left;
    }

    > .silver {
      margin-left: 10px;

      @include media(xxs) {
        float: right;
        width: 60%;
      }
    }

    > .green {

      &:hover,
      &:focus {
        color: #fff;
      }

      @include media(xxs) {
        margin-bottom: 10px;
        width: 100%;
      }
    }

    //if run options
    .btn-group {
      display: block;

      > .run-button {
        @include border-radius(3px 0 0 3px);
        float: left;
      }

      > .run-options {
        @include border-radius(0 3px 3px 0);
        margin-left: -1px;
        padding: 0 9px 0 8px;

        &:before {
          top: 38px;
          left: 0;
        }

        &:after {
          top: 32px;
          left: 9px;
        }
      }

      .caret {
        border-top-color: #fff;
      }

      @include media(xxs) {
        clear: both;
        margin-bottom: 10px;
        margin-left: 0;

        > button {
          margin-left: 0;
        }
      }
    }
  }
}

// author
#project-author {
  margin: 30px 0 0 0;
  padding-left: 0;

  @include media(xs) {
    margin: 30px 0;
  }

  @include media(xl) {
    padding-left: 15px;
  }

  > [class^='col'] {

    @include media(sm) {
      padding-left: 0;
    }

    @include media(xl) {
      padding-left: 15px;

      &.col-lg-8 {
        padding-left: 0;
      }
    }
  }

  > a {
    display: inline-block;
    height: 73px;
    position: relative;

    @include media(xs) {
      float: left;
      height: 120px;
      margin-right: 20px;
    }

    > span {
      position: absolute;
        top: -8px;
        right: 0;

      @include media(lg) {
        right: 4px;
      }

      @include media(xl) {
        right: 16px;
      }

      &:before {
        top: 38px;
        left: 0;
      }

      &:after {
        top: 32px;
      }
    }

    //project author icon
    > img {
      border: 10px solid #fff;
      @include border-radius(50%);
      @include box-shadow(0 2px 3px rgba(0, 0, 0, 0.3));
      float: left;
      overflow: hidden;
      width: 73px;
    }
  }

  //author title
  h4 {

    a {
      font-size: 15px;
      font-weight: bold;
      color: #333;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    span {
      color: #bcbcbc;
      display: block;
      font-size: 13px;
      margin: 5px 0 0 0;
      padding: 0;
      white-space: nowrap;
    }
  }

  ul {

    > li {
      color: #bbb;
      font-size: 12px;
      list-style-type: none;
      margin-bottom: 8px;
    }
  }

  h4,
  ul {
    @include media(lg) {
      padding-left: 25px;
    }
  }
}
