@import "compass/css3/opacity";

.services-body {

  .name {
    font-size: 16px;
    margin: 10px 0;
  }

  .nav > li {
    display: inline-block;

    > a {
      padding: 10px 2px;
      @include opacity(.8);

      &.hover {
        @include opacity(1)
      }
    }
  }
}

.page-title {

  .vote {
    float: left;
    height: 40px;
    line-height: 0;
    width: 40px;

    > button {
      @include border-radius(50%);
      color: $link-off;
      font-size: 14px;
      height: 50px;
      padding: 0;
      width: 50px;
    }

    .heart {
      color: $purple-light;
      display: block;
      font-size: 16px;
      margin-bottom: 4px;
    }
  }
}
