/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

// @import "compass/reset";
@import "compass/css3/images";
@import "compass/css3/transition";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/transform";
@import "compass/css3/background-size";
@import "compass/utilities/general/clearfix";

$cursive-font: 'Shadows Into Light Two', cursive;

// Colors
$purple: 		#5B3777;
$purple-light: 	#834DAB;
$orange:		#FD7022;
$grey: 			#E8E8E8;
$grey-light:	#EEEEEE;
$grey-lighter:	#F6F6F6;

// Ugly hack to get rid of the blue focus on inputs
textarea:focus, input:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus { @include box-shadow(none) }

a::-moz-focus-inner, button::-moz-focus-inner,  {
  border: 0;
}

// Responsive Mixins
@mixin breakpoint($point) {
	@if $point == screen-lg {
		@media (max-width: 1200px) { @content; }
	}
	@else if $point == screen-md {
		@media (max-width: 992px) { @content; }
	}
	@else if $point == screen-sm {
		@media (max-width: 768px)  { @content; }
	}
	@else if $point == screen-xs {
		@media (max-width: 480px)  { @content; }
	}
}

// Retina Mixin
// http://37signals.com/svn/posts/3271-easy-retina-ready-images-using-scss
@mixin background-image-retina($image) {
	@media (min--moz-device-pixel-ratio: 1.3),
		(-o-min-device-pixel-ratio: 2.6/2),
		(-webkit-min-device-pixel-ratio: 1.3),
		(min-device-pixel-ratio: 1.3),
		(min-resolution: 1.3dppx) {
	/* on retina, use image that's scaled by 2 */
	background-image: url($image);
	}
}

// Animations ------------------------- //

@-webkit-keyframes bounceySmall {
	0% {
		@include transform(scale(1.1) rotate(0));
	}
	50% {
		@include transform(scale(0.7) rotate(360deg));
	}
	100% {
		@include transform(scale(1.1) rotate(0));
	}
}

@-webkit-keyframes bounceyMedium {
	0% {
		@include transform(scale(1.1) rotate(0));
	}
	50% {
		@include transform(scale(0.7) rotate(360deg));
	}
	100% {
		@include transform(scale(1.1) rotate(0));
	}
}

@-webkit-keyframes bounceyLarge {
	0% {
		@include transform(scale(1.1) rotate(0));
	}
	50% {
		@include transform(scale(0.7) rotate(360deg));
	}
	100% {
		@include transform(scale(1.1) rotate(0));
	}
}

@-webkit-keyframes bounceySmallReverse {
	0% {
		@include transform(scale(0.7) rotate(0));
	}
	50% {
		@include transform(scale(1.1) rotate(-360deg));
	}
	100% {
		@include transform(scale(0.7) rotate(0));
	}
}

@-webkit-keyframes bounceyMediumReverse {
	0% {
		@include transform(scale(0.7) rotate(0));
	}
	50% {
		@include transform(scale(1.1) rotate(-360deg));
	}
	100% {
		@include transform(scale(0.7) rotate(0));
	}
}

@-webkit-keyframes bounceyLargeReverse {
	0% {
		@include transform(scale(0.7) rotate(0));
	}
	50% {
		@include transform(scale(1.1) rotate(-360deg));
	}
	100% {
		@include transform(scale(0.7) rotate(0));
	}
}

@-moz-keyframes bounceySmall {
	0% {
		@include transform(scale(1.1) rotate(0));
	}
	50% {
		@include transform(scale(0.7) rotate(360deg));
	}
	100% {
		@include transform(scale(1.1) rotate(0));
	}
}

@-moz-keyframes bounceyMedium {
	0% {
		@include transform(scale(1.1) rotate(0));
	}
	50% {
		@include transform(scale(0.7) rotate(360deg));
	}
	100% {
		@include transform(scale(1.1) rotate(0));
	}
}

@-moz-keyframes bounceyLarge {
	0% {
		@include transform(scale(1.1) rotate(0));
	}
	50% {
		@include transform(scale(0.7) rotate(360deg));
	}
	100% {
		@include transform(scale(1.1) rotate(0));
	}
}

@-moz-keyframes bounceySmallReverse {
	0% {
		@include transform(scale(0.7) rotate(0));
	}
	50% {
		@include transform(scale(1.1) rotate(-360deg));
	}
	100% {
		@include transform(scale(0.7) rotate(0));
	}
}

@-moz-keyframes bounceyMediumReverse {
	0% {
		@include transform(scale(0.7) rotate(0));
	}
	50% {
		@include transform(scale(1.1) rotate(-360deg));
	}
	100% {
		@include transform(scale(0.7) rotate(0));
	}
}

@-moz-keyframes bounceyLargeReverse {
	0% {
		@include transform(scale(0.7) rotate(0));
	}
	50% {
		@include transform(scale(1.1) rotate(-360deg));
	}
	100% {
		@include transform(scale(0.7) rotate(0));
	}
}

@-ms-keyframes bounceySmall {
	0% {
		@include transform(scale(1.1) rotate(0));
	}
	50% {
		@include transform(scale(0.7) rotate(360deg));
	}
	100% {
		@include transform(scale(1.1) rotate(0));
	}
}

@-ms-keyframes bounceyMedium {
	0% {
		@include transform(scale(1.1) rotate(0));
	}
	50% {
		@include transform(scale(0.7) rotate(360deg));
	}
	100% {
		@include transform(scale(1.1) rotate(0));
	}
}

@-ms-keyframes bounceyLarge {
	0% {
		@include transform(scale(1.1) rotate(0));
	}
	50% {
		@include transform(scale(0.7) rotate(360deg));
	}
	100% {
		@include transform(scale(1.1) rotate(0));
	}
}

@-ms-keyframes bounceySmallReverse {
	0% {
		@include transform(scale(0.7) rotate(0));
	}
	50% {
		@include transform(scale(1.1) rotate(-360deg));
	}
	100% {
		@include transform(scale(0.7) rotate(0));
	}
}

@-ms-keyframes bounceyMediumReverse {
	0% {
		@include transform(scale(0.7) rotate(0));
	}
	50% {
		@include transform(scale(1.1) rotate(-360deg));
	}
	100% {
		@include transform(scale(0.7) rotate(0));
	}
}

@-ms-keyframes bounceyLargeReverse {
	0% {
		@include transform(scale(0.7) rotate(0));
	}
	50% {
		@include transform(scale(1.1) rotate(-360deg));
	}
	100% {
		@include transform(scale(0.7) rotate(0));
	}
}

@keyframes bounceySmall {
	0% {
		@include transform(scale(1.1) rotate(0));
	}
	50% {
		@include transform(scale(0.7) rotate(360deg));
	}
	100% {
		@include transform(scale(1.1) rotate(0));
	}
}

@keyframes bounceyMedium {
	0% {
		@include transform(scale(1.1) rotate(0));
	}
	50% {
		@include transform(scale(0.7) rotate(360deg));
	}
	100% {
		@include transform(scale(1.1) rotate(0));
	}
}

@keyframes bounceyLarge {
	0% {
		@include transform(scale(1.1) rotate(0));
	}
	50% {
		@include transform(scale(0.7) rotate(360deg));
	}
	100% {
		@include transform(scale(1.1) rotate(0));
	}
}

@keyframes bounceySmallReverse {
	0% {
		@include transform(scale(0.7) rotate(0));
	}
	50% {
		@include transform(scale(1.1) rotate(-360deg));
	}
	100% {
		@include transform(scale(0.7) rotate(0));
	}
}

@keyframes bounceyMediumReverse {
	0% {
		@include transform(scale(0.7) rotate(0));
	}
	50% {
		@include transform(scale(1.1) rotate(-360deg));
	}
	100% {
		@include transform(scale(0.7) rotate(0));
	}
}

@keyframes bounceyLargeReverse {
	0% {
		@include transform(scale(0.7) rotate(0));
	}
	50% {
		@include transform(scale(1.1) rotate(-360deg));
	}
	100% {
		@include transform(scale(0.7) rotate(0));
	}
}

// ----------------------------------- //

// inputs
.form-control {
		min-height: 40px;
		font-weight: bold;
		@include box-shadow(none);
		&:focus {
			box-shadow: none;
			border-color: $purple-light;
		}
	}

// buttons
button {
	@include border-radius(3px);
	@include transition(all 0.2s ease-in-out);
	&.green {
		border: solid 1px #538823;
		font-weight: bold;
		@include box-shadow(inset 0 1px 0 #A7CC45, 0 1px 0 #C5C5C5);
		background-color: #81B638;
		@include background-image(linear-gradient(rgba(88,148,39,0), #589427));
		@include box-shadow(inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 0 rgba(0,0,0,0.1));
		color: #fff;
		text-shadow: 0 -1px 0 #4F7C20;
		font-size: 13px;
		padding: 8px 18px 8px 16px;
		img, span {
			vertical-align: middle;
			display: inline-block;
		}
		img {
			margin-right: 8px;
		}
		&:hover {
			background-color: adjust-lightness(#81B638,5);
			@include background-image(linear-gradient(rgba(88,148,39,0), #589427));
			border-color: adjust-lightness(#538823, -5);
		}
		&:active {
			background-color: #629C2B;
			@include background-image(linear-gradient(rgba(90,143,40,0),adjust-lightness(#629C2B,-5)));
			@include box-shadow(inset 0 0 2px rgba(0,0,0,0.5));
			@include transition(all 0.05s ease-in-out);
		}
	}
	&.silver {
		border: solid 1px #ccc;
		background-color: #E4E4E4;
		font-weight: bold;
		@include background-image(linear-gradient(#F8F8F8,rgba(248,248,248,0)));
		@include box-shadow(inset 0 1px 0 rgba(255,255,255,0.5), 0 1px 0 rgba(0,0,0,0.1));
		color: #999;
		text-shadow: 0 1px 0 #fff;
		font-size: 13px;
		padding: 8px 18px 8px 16px;
		img, span {
			vertical-align: middle;
			display: inline-block;
		}
		img {
			margin-right: 8px;
			margin-top: 1px;
		}
		&:hover {
			background-color: #ddd;
			border-color: #aaa;
		}
		&:active {
			background-color: #DADADA;
			@include background-image(linear-gradient(rgba(224,224,224,0),#E0E0E0));
			@include box-shadow(inset 0 0 2px rgba(0,0,0,0.5));
			@include transition(all 0.05s ease-in-out);
		}
	}
	&.purple {
		border: solid 1px #56349E;
		background-color: #9A58BA;
		font-weight: bold;
		@include background-image(linear-gradient(rgba(107,64,155,0),#6B409B));
		@include box-shadow(inset 0 1px 0 rgba(255,255,255,0.5), 0 1px 0 rgba(0,0,0,0.1));
		color: #fff;
		text-shadow: 0 -1px 0 #633791;
		font-size: 13px;
		padding: 8px 18px 8px 16px;
		img, span {
			vertical-align: middle;
			display: inline-block;
		}
		img {
			margin-right: 8px;
			margin-top: 1px;
		}
		&:hover {
			background-color: #AC67C6;
		}
		&:active {
			background-color: #7B49A5;
			@include background-image(linear-gradient(rgba(141,83,177,0),#8D53B1));
			@include box-shadow(inset 0 0 2px rgba(0,0,0,0.5));
			@include transition(all 0.05s ease-in-out);
		}
	}
	&.orange {
		border: solid 1px #C3531E;
		background-color: #FD8524;
		font-weight: bold;
		@include background-image(linear-gradient(rgba(252,91,32,0),#FC5B20));
		@include box-shadow(inset 0 1px 0 rgba(255,255,255,0.5), 0 1px 0 rgba(0,0,0,0.1));
		color: #fff;
		text-shadow: 0 -1px 0 #F06B20;
		font-size: 13px;
		padding: 8px 18px 8px 16px;
		img, span {
			vertical-align: middle;
			display: inline-block;
		}
		img {
			margin-right: 8px;
			margin-top: 1px;
		}
		&:hover {
			background-color: #FD9F28;
		}
		&:active {
			background-color: #DA5A1B;
			@include background-image(linear-gradient(rgba(224,106,30,0),#E06A1E));
			@include box-shadow(inset 0 0 2px rgba(0,0,0,0.2));
			@include transition(all 0.05s ease-in-out);
		}
	}
}

// Expandable
.expandable {
	display: none;
	opacity: 0;
	&.expanded {
		opacity: 1;
		display: inline;
	}
}

#primary {
	background: $purple-light;
	#logo {
		margin-right: 60px;
	}
	.nav {
		margin: 8px 0;
		> li {
			margin-left: 35px;
			@include breakpoint(screen-xs) {
				margin-left: 6px;
				padding: 0;
			}
		}
		a {
			color: #fff;
			font-size: 12px;
			padding: 10px;
			line-height: 1em;
			@include border-radius(3px);
			@include transition(all 0.2s ease-in-out);
			&:hover {
				text-decoration: underline;
			}
		}
		> li.active a {
			border: solid 1px $purple;
			@include box-shadow(inset 0 1px 0 rgba(255,255,255,0.1), 0 1px 0 rgba(0,0,0,0.3));
			&:hover {
				background: #B48BD1;
				text-decoration: none;
				color: adjust-lightness($purple,-15);
			}
			&:active {
				background: adjust-lightness($purple,-5);
				@include box-shadow(inset 0 0 10px rgba(0,0,0,0.5));
				@include transition(all 0.1s ease-in-out);
				color: adjust-saturation($purple-light, -18);

			}
		}
		&.signed-out {
			> li.active a {
			}
		}
		&.signed-in {
			> li.dropdown a {
				padding: 0;
				@include breakpoint(screen-xs) {
					margin-top: 4px;
					margin-left: 8px;
				}
			}
			img {
				width: 32px;
				height: 32px;
				@include border-radius(3px);
				overflow: hidden;
				margin-right: 12px;
				@include breakpoint(screen-xs) {
					width: 24px;
					height: 24px;
					margin-right: 4px;
				}
			}
			.caret {
				border-top-color: #B48BD1;
				border-bottom-color: #B48BD1;
				border-top-width: 6px;
				border-left-width: 5px;
				border-right-width: 5px;
				margin-left: 12px;
				@include breakpoint(screen-xs) {
					margin-left: 4px;
				}
			}
			.dropdown-menu {
				top: 170%;
				padding: 0;
				margin: 0;
				left: 0;
				width: 100%;
				// overflow: hidden;
				@include box-shadow(0 2px 3px rgba(0,0,0,0.3));
				li {
					overflow: hidden;
					&:first-child {
						@include border-radius(3px 3px 0 0);
						a:before {
							content: "";
							position: absolute;
							top: -6px;
							right: 22px;
							width: 0;
							height: 0;
							border-left: 5px solid transparent;
							border-right: 5px solid transparent;
							border-bottom: 6px solid #fff;
							@include transition(all 0.2s ease-in-out);
							z-index: 100;
						}
						a:after {
							content: "";
							position: absolute;
							top: -7px;
							right: 21px;
							width: 0;
							height: 0;
							border-left: 6px solid transparent;
							border-right: 6px solid transparent;
							border-bottom: 7px solid #C6C6C6;
						}
						a:hover:before {
							border-bottom: 6px solid $orange;
						}
					}
					&:last-child  { @include border-radius(0 0 3px 3px) }
					a {
						color: #333;
						font-size: 12px;
						padding: 8px 12px;
						display: block;
						@include border-radius(0);
						&:hover {
							background: $orange;
							color: #fff;
							text-decoration: none;
						}
					}
				}
			}
		}
	}
	.navbar-form {
		input {
			border: none;
			@include border-radius(3px);
			font-size: 12px;
			min-height: 32px;
			margin-top: 3px;
			width: 290px;
			margin: 4px auto 0 auto;
		}
	}
}

#login {
	.modal-dialog {
		width: 30%;
		position: fixed;
		left: 0;
		right: 0;
		top: 25%;
		.modal-content {
			background: #f6f6f6;
			@include border-radius(3px);
			border: none;
			.modal-header {
				@include border-radius(3px 3px 0 0);
				@include box-shadow(inset 0 1px 0 rgba(255,255,255,0.25));
				background: $purple-light;
				color: #fff;
				padding: 10px 20px;
				h4 {
					font-weight: bold;
					font-size: 14px;
				}
			}
			.modal-body {
				input {
					margin-bottom: 20px;
				}
				button {
					width: 100%;
					margin-bottom: 20px;
				}
				p {
					text-align: center;
					a {
						color: #bcbcbc;
						font-size: 12px;
						text-shadow: 0 1px 0 #fff;
					}
				}
			}
		}
	}
}

#home-header {
	.hero-content {
		bottom: 0;
		width: 100%;
		@include breakpoint(screen-sm) {
			bottom: -55px;
		}
	}
}

.hero {
	// background: $purple url(/images/hero-bg.png) no-repeat center -16px;
	background: $purple;
	color: #fff;
	text-align: center;
	h1 {
		margin-top: 60px;
		div {
			font-family: "Shadows Into Light Two", cursive;
			display: inline-block;
			border-bottom: solid 2px #7F5F97;
			padding: 0 7px 3px;
			width: 190px;
			@include transition(width 0.2s ease-in-out);
		}
	}
	p {
		font-size: 18px;
		color: #AC87C6;
		margin: 15px 0 30px;
	}
	form {
		width: 40%;
		margin: 0 auto 80px auto;
		.form-control {
			background: #fff;
			border: none;
			outline: none;
			font-size: 13px;
			@include border-radius(3px 0 0 3px);
		}
		.btn-default {
			border: none;
			background: $orange;
			padding: 8px 20px;
			@include border-radius(0 3px 3px 0);
			height: 40px;
		}
	}
	.hero-content {
		position: absolute;
		bottom: 0;
		left: 0;
	}
}

.bubbles-container {
	overflow: hidden;
	height: 300px;
	.bubbles {
		top: -50px;
		img {
			position: absolute;
			padding: 3px;
			&.small  {
				width: 5%;
				height: auto;
				&.hero-animate {
					-moz-animation: 	bounceySmall 16s infinite ease;
					-webkit-animation: 	bounceySmall 16s infinite ease;
					-ms-animation: 		bounceySmall 16s infinite ease;
					animation: 			bounceySmall 16s infinite ease;
					&.reverse {
						-moz-animation: 	bounceySmallReverse 16s infinite ease;
						-webkit-animation: 	bounceySmallReverse 16s infinite ease;
						-ms-animation: 		bounceySmallReverse 16s infinite ease;
						animation: 			bounceySmallReverse 16s infinite ease;
					}
				}
			}
			&.medium {
				width: 10%;
				height: auto;
				&.hero-animate {
					-moz-animation: 	bounceyMedium 32s infinite ease;
					-webkit-animation: 	bounceyMedium 32s infinite ease;
					-ms-animation: 		bounceyMedium 32s infinite ease;
					animation: 			bounceyMedium 32s infinite ease;
					&.reverse {
						-moz-animation: 	bounceyMediumReverse 32s infinite ease;
						-webkit-animation: 	bounceyMediumReverse 32s infinite ease;
						-ms-animation: 		bounceyMediumReverse 32s infinite ease;
						animation: 			bounceyMediumReverse 32s infinite ease;
					}
				}
			}
			&.large  {
				width: 15%;
				height: auto;
				&.hero-animate {
					-moz-animation: 	bounceyLarge 64s infinite ease;
					-webkit-animation: 	bounceyLarge 64s infinite ease;
					-ms-animation: 		bounceyLarge 64s infinite ease;
					animation: 			bounceyLarge 64s infinite ease;
					&.reverse {
						-moz-animation: 	bounceyLargeReverse 64s infinite ease;
						-webkit-animation: 	bounceyLargeReverse 64s infinite ease;
						-ms-animation: 		bounceyLargeReverse 64s infinite ease;
						animation: 			bounceyLargeReverse 64s infinite ease;
					}
				}
			}
		}
		height: 400px;
	}
}

#framework-filters {
	background: $grey;
	border-bottom: solid 1px #ccc;
	&.navbar {
		min-height: 0;
		margin-bottom: 10px;
	}
	@include box-shadow(none);
	li {
		margin: 0 12px;
		a {
			padding: 8px 5px;
		}
		&.active {
			border-bottom: solid 3px $orange;
			a {
				background: none;
				font-weight: bold;
			}
		}
	}
}

#cards {
	.card {
		padding: 3.5%;
		border: solid 1px #ccc;
		display: block;
		min-height: 95px;
		margin: 10px 0;
		@include box-shadow(inset 0 1px 0 rgba(255,255,255,0.75), 0 2px 3px rgba(0,0,0,0.05));
		@include border-radius(5px);
		background-color: #f4f4f4;
		@include background-image(linear-gradient(#fcfcfc, rgba(252,252,252,0)));
		@include transition(all 0.2s ease-in-out);
		img {
			float: left;
			max-width: 12.5%;
			height: auto;
		}
		.description {
			margin: 0 12.5% 0 10%;
			h2 {
				margin: 0;
				color: #333;
				font-weight: bold;
				font-size: 20px;
			}
			p {
				margin: 5px 0 0 0;
				color: #999;
				font-size: 14px;
			}
		}
		.count {
			float: right;
			color: #999;
			font-size: 12px;
		}
		&:hover {
			text-decoration: none;
			background-color:  #F7ECFE;
			@include background-image(linear-gradient(#FDFAFF, rgba(253,250,255,0)));
			border-color: $purple-light;
		}
	}
	.load-more {
		border-top: solid 1px #ddd;
		border-bottom: solid 1px #fdfdfd;
		height: 0;
		text-align: center;
		margin: 20px 0 40px;
		position: relative;
		a {
			font-weight: bold;
			color: #ccc;
			font-size: 14px;
			position: absolute;
			left: 0;
			right: 0;
			top: -10px;
			text-shadow: 0 1px 0 #fdfdfd;
			@include transition(all 0.2s ease-in-out);
			span {
				background: #f6f6f6;
				padding: 0 15px;
			}
			&:hover {
				color: adjust-lightness(#ccc,-8);
				text-decoration: none;
			}
		}
	}
}

#project-details, #tags-details {
	h2.page-title {
		color: #333;
		font-size: 29px;
		margin-bottom: 5px;
		> span {
			margin: 7px 0 0 14px;
			line-height: 1.6em;
		}
		.vote-up {
			float: left;
			color: #bcbcbc;
			text-align: center;
			line-height: 0.7em;
			img {
				margin: 0 auto;
			}
			span {
				display: block;
				font-size: 16px;
			}
			&:hover {
				text-decoration: none;
			}
		}
	}
	p.description {
		color: #ababab;
		font-size: 15px;
		a.more {
			display: inline-block;
			color: #fff;
			background: #ccc;
			padding: 0 5px;
			line-height: 1.2em;
			margin-left: 5px;
			@include border-radius(3px);
			@include transition(all 0.25s ease-in-out);
			&:hover {
				text-decoration: none;
				background: #999;
			}
		}
	}
	.main-controls {
		margin: 25px 0;
		button {
			margin-right: 10px;
		}
	}
}

#project-author {
	margin: 30px 0;
	img {
		width: 52px;
		@include border-radius(3px);
		overflow: hidden;
		float: left;
		margin-right: 10px;
	}
	p.publish-date {
		color: #bcbcbc;
		font-size: 13px;
		padding: 0;
		margin: 0;
	}
	h4.author-title {
		padding: 0;
		margin: 0;
		a {
			font-size: 15px;
			font-weight: bold;
			color: #333;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

#project-editor-tabs {
	border-bottom: solid 1px #bbb;
	li {
		position: relative;
		margin-right: 0.1%;
		font-weight: bold;
		a.tab-body {
			background: #F6F6F6;
			@include border-radius(0);
			border-color: #bbb;
			padding: 7px 30px 5px 30px;
			text-align: center;
			font-size: 11px;
			color: #bcbcbc;
		}
		a.close-tab {
			padding: 0;
			margin: 0;
			float: none;
			border: none;
			display: inline-block;
			position: absolute;
			background: none;
			top: 16.5%;
			right: 14%;
			bottom: 0;
			z-index: 100;
		}
		&.active a {
			background: #fff;
			color: #8447ad;
			&.tab-body:after {
				content: "";
				position: absolute;
				width: 100%;
				height: 2px;
				background: #fff;
				bottom: -1px;
				left: 0;
				z-index: 100;
			}
		}
	}
}

#project-editor-container {
	padding: 5px;
	height: 500px;
	border: solid 1px #bbb;
	border-top: none;
	background: #fff;
	overflow: hidden;
	position: relative;
	#project-editor {
		position: absolute;
		top: 1%;
		bottom: 1%;
		left: 0.6%;
		width: 98.9%;
		margin: 0;
		border: none;
		font-family: 'Source Code Pro', 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
	}
	a.open-file-explorer {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		background: #fff;
		padding: 8px 6px;
		z-index: 50;
	}
	aside#file-explorer {
		position: absolute;
		width: 26%;
		top: 0;
		right: 0;
		bottom: 0;
		z-index: 100;
		background: #fff;
		@include transition(all 0.2s ease-in-out);
		&.closed {
			right: -26%;
		}
		.controls {
			background: $purple-light;
			text-align: center;
			margin: 0;
			padding: 4px 8px;
			li {
				list-style: none;
				margin: 0 5px;
				line-height: 1.25em;
				&.left  { float: left  }
				&.right { float: right }
				&.dark-theme {
					display: inline-block;
					margin: 0;
					a {
						display: inline-block;
						width: 10px;
						height: 10px;
						background: #3F2651;
						@include border-radius(50%);
					}
				}
				&.light-theme {
					display: inline-block;
					margin-right: 20px;
					a {
						display: inline-block;
						width: 10px;
						height: 10px;
						background: #F2E3FE;
						@include border-radius(50%);
					}
				}
				&.active {
					a {
						border: solid 1px $purple-light;
						@include box-shadow(0 0 0 1px $orange);
					}
				}
			}
			.tooltip {
				top: -34px  !important;
				.tooltip-inner {
					background: $orange; /* is the new black */
					@include border-radius(3px);
				}
				&.top .tooltip-arrow {
					border-top-color: $orange;
				}
			}
		}
		.nav {
			font-size: 12px;
			padding: 6px 0;
			li {
				padding: 0;
				margin: 0;
				a {
					padding: 6px 15%;
					margin: 0;
					color: #333;
					position: relative;
					&:hover {
						text-decoration: none;
						color: $purple-light;
					}
				}
				&.active a {
					background: $orange;
					color: #fff;
					@include border-radius(0);
				}
				&.folder a:before {
					content: "";
					position: absolute;
					width: 0;
					height: 0;
					top: 43%;
					left: 6%;
					border-left: 4px solid transparent;
					border-right: 4px solid transparent;
					border-top: 6px solid #bbb;
					@include transition(transform 0.25s linear);
				}
				&.folder a.collapsed:before {
					@include transform(rotate(-90deg));
				}
				ul li {
					list-style: none;
					a {
						display: block;
						padding: 6px 0;
						&:before { display: none }
					}
				}
			}
		}
	}
}

h3.terminal-title {
	font-size: 14px;
	color: #bcbcbc;
	margin-top: 25px;
	img, span {
		vertical-align: middle;
		margin-right: 5px;
	}
}

div.terminal {
	background: #5D5B56;
	font-family: "Anonymous Pro", monospace;
	color: #fff;
	font-size: 11px;
	white-space: pre;
	border: solid 1px #000;
	padding: 2%;
	letter-spacing: 1px;
	height: 200px;
}

#disqus_thread {
	margin: 40px 0;
}

#sidebar {
	padding-top: 10px;
	> li {
		margin-bottom: 50px;
		list-style: none;
		h3.widget-title {
			font-size: 13px;
			color: #bcbcbc;
			border-bottom: solid 1px #bbb;
			padding: 0 0 4px 0;
			margin: 0 0 8px 0;
			font-weight: bold;
		}
		&.tags {
			ul {
				margin: 0;
				padding: 0;
				li {
					list-style: none;
					float: left;
					margin: 0 9px 9px 0;
					padding: 0;
					a {
						display: block;
						background: #F1DEFE;
						border: solid 1px #BC9FD0;
						font-size: 11px;
						font-weight: bold;
						padding: 2px 4px;
						@include border-radius(3px);
						@include transition(all 0.2s ease-in-out);
						&:hover {
							color: $purple;
							border-color: $purple;
							text-decoration: none;
						}
					}
				}
			}
		}
		&.related-code {
			ul {
				margin: 0;
				padding: 0;
				li {
					margin: 10px 0;
					padding: 0;
					list-style: none;
					a {
						position: relative;
						font-weight: bold;
						font-size: 11px;
						color: #878787;
						span {
							font-size: 14px;
							margin: 0 6px 0 20px;
						}
						&:before {
							content: "";
							width: 0;
							height: 0;
							border-left: 6px solid transparent;
							border-right: 6px solid transparent;
							border-bottom: 8px solid #878787;
							position: absolute;
							left: 0;
							top: 2px;
						}
						&:hover {
							text-decoration: none;
							color: #333;
							&:before {
								border-bottom: 8px solid $purple-light;
							}
							span {
								color: $purple-light;
							}
						}
					}
				}
			}
		}
	}
}

#tags-main {
	h2.page-title {
		span, select { vertical-align: middle }
		span.icon-container {
			display: inline-block;
			background: #fff;
			margin-right: 5px;
			@include border-radius(50%);
			height: 60px;
			width: 62px;
			text-align: center;
			@include box-shadow(0 2px 3px rgba(0,0,0,0.3));
			overflow: hidden;
			img {
				margin: 10px 0;
			}
		}
		.bootstrap-select {
			margin-left: 10px;
			width: 115px;
			display: inline-block;
			background: none;
			vertical-align: middle;
			margin-top: 14px;
			.btn {
				background: none;
				box-shadow: none;
				border-color: #bbb;
				color: #bbb;
				font-size: 12px;
				font-weight: bold;
				.caret { border-top-color: #bbb }
			}
			&.open {
				.btn {
					background: #ccc;
					color: #fff;
					text-shadow: none;
					border: solid 1px #999;
					.caret { border-top-color: #fff }
					&:focus {
						outline: none !important;
					}
				}
			}
			.dropdown-menu > li > a { padding: 3px 14px }
			.dropdown-menu li a:hover { background: $orange }
		}
	}
	#tags-content {
		background: #fff;
		overflow: hidden;
		padding: 0;
		margin: 20px 0 40px 0;
		@include border-radius(5px);
		@include box-shadow(0 2px 5px rgba(0,0,0,0.1));
		li {
			list-style: none;
			padding: 0 25px 25px 25px;
			margin: 0;
			border-bottom: solid 1px #eee;
			@include transition(background 0.2s ease-in-out);
			h3 {
				margin: 0;
				a {
					display: block;
					padding: 25px 0 0 0;
					font-weight: bold;
					font-size: 20px;
					color: #333;
				}
			}
			p {
				margin: 8px 0 0 0;
				font-size: 12px;
				color: #bbb;
				font-weight: bold;
				a {
					color: $purple-light;
					&:hover {
						img {
							text-decoration: none;
						}
					}
				}
				span {
					margin: 0 5px;
					&.vote-up {
						margin-left: 0;
						a {
							color: #bbb;
							text-decoration: none;
							position: relative;
							display: inline-block;
							padding-left: 15px;
							&:before {
								content: "";
								position: absolute;
								width: 0;
								height: 0;
								top: 32%;
								left: 0;
								border-left: 5px solid transparent;
								border-right: 5px solid transparent;
								border-bottom: 7px solid #bbb;
								@include transition(transform 0.25s linear);
							}
							&:hover {
								color: #777;
								&:before {
									border-bottom: 7px solid #777;
								}
							}
						}
					}
					&.tags {
						img {
							margin-right: 4px;
						}
						a {
							margin-right: 5px;
						}
					}
				}
			}
			&:hover {
				background: #FCF7FF;
			}
		}
	}
	#tags-sidebar {
		ul {
			margin: 0;
			padding: 0;
			li {
				margin: 0 0 15px 0;
				padding: 0;
				list-style: none;
				h3 {
					font-size: 15px;
					margin: 5px 0 0 0;
					color: #999;
					font-weight: bold;
				}
				a {
					color: #999;
					display: block;
					padding-right: 25%;
					span {
						margin-top: 2px;
						float: right;
						border: solid 1px #999;
						font-size: 10px;
						height: 16px;
						min-width: 16px;
						text-align: center;
						@include border-radius(50%);
					}
					@include legacy-pie-clearfix;
				}
				&.active, &:hover {
					a {
						color: $orange;
						text-decoration: none;
						span {
							background: $orange;
							color: #fff;
							border: none;
							@include border-radius(7px);
							padding: 1px 6px;
						}
					}
				}
			}
		}
	}
}

#about {

	.jumbotron {
		margin: 0;
		background-repeat: no-repeat;
		@include background-size(cover);
		min-height: 480px;
		h2 {
			font-weight: bold;
			font-size: 36px;
			margin-bottom: 15px;
		}
		p {
			font-size: 18px;
			line-height: 1.2em;
		}
	}

	#about-header {
		background-image: url('/images/about-header-plx.jpg');
		@include background-image-retina('/images/about-header-plx@2x.jpg');
		color: #fff;
		text-shadow: 0 3px 20px rgba(0,0,0,0.75);
		h2 {
			margin-top: 225px;
		}
		p {
			margin-right: 30%;
		}
	}

	#about-logos {
		text-align: center;
		padding: 75px 0;
		.logo {
			display: inline-block;
			margin: 0 28px 60px 28px;
			&.engadget {
				background: url(/images/sprite-engadget.png);
				@include background-image-retina('/images/sprite-engadget@2x.png');
				@include background-size(100% auto);
				width: 150px;
				height: 51px;
			}
			&:hover {
				background-position: 0 -100%;
			}
		}
		blockquote {
			border: none;
			margin: 0;
			padding: 0;
			font-family: Georgia, serif;
			font-style: italic;
			color: $purple-light;
			p {
				position: relative;
				font-size: 24px;
				&:before {
					content: "“";
					position: absolute;
					top: -40px;
					left: -55px;
					font-size: 120px;
					color: #E1E3E5;
				}
				&:after {
					content: "”";
					position: absolute;
					top: 40px;
					right: -35px;
					font-size: 120px;
					color: #E1E3E5;
				}
			}
		}
		h3.read-the-article {
			margin-top: 40px;
			a {
				font-size: 18px;
				text-transform: uppercase;
				color: #C8C9CB;
				font-weight: bold;
				&:hover {
					text-decoration: underline;
					color: $purple-light;
				}
			}
		}
	}

	#about-stack {
		background-image: url('/images/about-stack.jpg');
		@include background-image-retina('/images/about-stack@2x.jpg');
		@include background-size(cover);
		color: #fff;
		overflow: hidden;
		.container {
			position: relative;
			img {
				position: absolute;
				height: auto;
				&.amazon {
					width: 15%;
					top: -20px;
					left: 0;
				}
				&.node {
					width: 28%;
					top: 130px;
					left: 7%;
				}
				&.codeigniter {
					width: 11%;
					top: 100px;
					right: -10%;
				}
				&.diamond {
					width: 5%;
					top: 0;
					right: 0;
				}
			}
		}
		h2 {
			margin-top: 160px;
		}
		p {
			font-size: 18px;
			margin-right: 15%;
		}
	}

	#about-satellite {
		background-image: url('/images/about-satellite.jpg');
		@include background-image-retina('/images/about-satellite@2x.jpg');
		@include background-size(cover);
		color: #fff;
		text-shadow: 0 3px 20px rgba(0,0,0,0.75);
		h2 {
			font-size: 36px;
			font-weight: bold;
			margin-top: 160px;
			margin-bottom: 18px;
		}
		p {
			font-size: 18px;
		}
	}

	#about-team {
		text-align: center;
		padding: 40px 0;
		img {
			max-width: 100%;
			height: auto;
		}
		h2 {
			font-weight: bold;
			font-size: 36px;
		}
		p {
			font-size: 18px;
			font-weight: bold;
		}
		#team-list {
			margin-top: 40px;
			h3 {
				font-size: 16px;
				font-weight: bold;
				margin-bottom: 0;
				white-space: nowrap;
			}
			p {
				font-weight: normal;
				font-size: 14px;
				margin: 0;
			}
		}
	}
}

#jobs {

	.jumbotron {
		margin: 0;
		background-repeat: no-repeat;
		@include background-size(cover);
		min-height: 700px;
		h2 {
			font-weight: bold;
			font-size: 36px;
			margin-bottom: 15px;
		}
		p {
			font-size: 18px;
			line-height: 1.2em;
		}
	}

	#jobs-header {
		background-image: url('/images/jobs-header.jpg');
		@include background-image-retina('/images/jobs-header@2x.jpg');
		@include background-size(cover);
		color: #fff;
		text-align: center;
		height: 700px;
		h2 {
			margin-top: 215px;
		}
		p {
			margin-bottom: 50px;
		}
		button {
			height: 60px;
			font-size: 17px;
			padding: 0 40px;
		}
	}

	#jobs-perks {
		text-align: center;
		padding: 75px 0 15px 0;
		color: #aaa;
		h2 {
			font-weight: bold;
			margin: 0 0 60px 0;
		}
		h3 {
			font-size: 18px;
			font-weight: bold;
			margin-bottom: 60px;
		}
	}

	#jobs-you {
		background-image: url('/images/jobs-you.jpg');
		@include background-image-retina('/images/jobs-you@2x.jpg');
		@include background-size(cover);
		color: #fff;
		height: 700px;
		h2 {
			margin-top: 415px;
		}
	}

	#jobs-open-positions {
		h3 {
			font-weight: bold;
			font-size: 18px;
			margin-top: 75px;
		}
		#jobs-open-positions-list {
			@include box-shadow(0 2px 6px rgba(0,0,0,0.1));
			background: #fff;
			margin: 25px 0 75px 0;
			padding: 0;
			@include border-radius(3px);
			li {
				border-bottom: solid 1px #eee;
				list-style: none;
				margin: 0;
				padding: 0;
				h4, p, div {
					margin: 0;
					padding: 2.5%;
					font-size: 14px;
				}
				h4 {
					font-weight: bold;
					margin-top: 12px;
				}
				p {
					margin-top: 12px;
				}
				div {
					text-align: right;
				}
			}
		}
		#jobs-about {
			h3 {
				margin-bottom: 21px;
			}
			p {
				font-size: 17px;
				color: #999;
				margin: 0 0 25px 0;
				padding: 0 0 25px 0;
				line-height: 1.3em;
				border-bottom: solid 1px #ccc;
			}
			#jobs-contact-list {
				margin: 0;
				padding: 0;
				li {
					list-style: none;
					font-weight: bold;
					text-align: left;
					font-size: 14px;
					margin-bottom: 25px;
					a {
						color: #333;
					}
				}
			}
		}
	}
}

#contact-header {
	text-align: center;
	#contact-mid {
		background-color: $purple;
		color: #fff;
		height: 200px;
		h2 {
			margin: 0;
			font-size: 36px;
			font-weight: bold;
			padding: 40px 0 10px 0;
		}
		p {
			color: #c49cdf;
			font-size: 18px;
		}
	}
	#contact-body {
		margin-top: -45px;
		background-color: #fff;
		background-image: url('/images/contact-body.png');
		@include background-image-retina('/images/contact-body@2x.png');
		text-align: left;
	}
}

#contact-body, #about-contact-body {
	background-color: #fff;
	background-image: url('/images/about-contact.jpg');
	@include background-image-retina('/images/about-contact@2x.png');
	@include background-size(100% auto);
	background-repeat: no-repeat;
	@include border-radius(3px);
	margin-bottom: 40px;
	@include box-shadow(inset 0 1px 0 rgba(255,255,255,0.3), 0 2px 7px rgba(0,0,0,0.1));
	address {
		height: 200px;
		text-align: center;
		p {
			padding: 40px 0 0 0;
			margin: 0;
		}
		h3 {
			margin: 12px 0 0 0;
			padding: 0;
		}
	}
	h2 {
		font-weight: bold;
		font-size: 24px;
		color: $purple-light;
		margin: 10px 0 30px 0;
	}
	input.form-control {
		margin-bottom: 20px;
	}
	textarea.form-control {
		margin-top: 66px;
		min-height: 100px;
		margin-bottom: 20px;
	}
	button {
		width: 100%;
		height: 40px;
	}
	h4 {
		font-weight: bold;
		margin-top: 20px;
	}
	p {
		margin-bottom: 30px;
		font-size: 14px;
	}
}

#providers {
	.hero {
		min-height: 430px;
		.bubbles-container {
			min-height: 430px;
		}
		overflow: visible;
	}
	.container {
		position: relative;
	}
	.providers-section {
		padding: 80px 0 60px 0;
		border-bottom: solid 1px #ddd;
		h2 {
			margin-top: 40px;
			font-weight: bold;
		}
		p {
			font-size: 18px;
		}
	}
	.providers-image {
		text-align: center;
	}
	#providers-text {
		position: absolute;
		left: 0;
		bottom: 90px;
		text-align: left;
		width: 33%;
	}
	#providers-hero {
		position: absolute;
		bottom: -15px;
		right: 0;
		width: 62%;
		height: auto;
	}

	#providers-documentation {
		h2 {
			margin-top: 105px;
		}
	}

	#providers-insights {
		border-bottom: none;
		h2 {
			margin-top: 90px;
		}
	}

	#providers-register {
		height: 580px;
		.bubbles-container {
			height: 580px;
			@include box-shadow(inset 0 10px 100px rgba(0,0,0,0.3));
		}
		#providers-register-form {
			position: absolute;
			bottom: 50px;
			left: 17.5%;
			width: 65%;
			margin-bottom: 0;
			.input-group {
				padding: 20px 10px;
				margin: 0 12%;
				@include background-image(linear-gradient(#2E1340, #441E5B));
				@include box-shadow(inset 0 0 4px rgba(0,0,0,0.2), 0 1px 0 rgba(255,255,255,0.15));
				@include border-radius(5px);
				text-align: center;
				.input-group-addon {
					font-size: 30px;
					font-weight: bold;
					background: none;
					border: none;
				}
				.form-control {
					@include border-radius(3px);
					margin-right: 4%;
					width: 96%;
				}
			}
			.row {
				text-align: left;
				margin: 0 10%;
				label {
					color: #C39EDD;
					font-weight: normal;
					margin-top: 30px;
				}
				.form-control {
					@include border-radius(3px);
					border: solid 1px #fff;
				}
				textarea.form-control {
					height: 135px;
				}
				.providers-register-submit {
					text-align: right;
					button {
						padding: 10px 30px;
						margin-top: 50px;
					}
				}
			}
		}
	}
}

#site-credits {
	background: #eee;
	.navbar-brand {
		font-size: 13px;
		color: #aaa;
	}
	.navbar-nav a {
		font-weight: bold;
		color: #aaa;
		font-size: 13px;
		&:hover {
			color: #777;
		}
	}
}