.tag {
  background: $gray-lighter;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 #fff, 0 1px 0 rgba(0, 0, 0, 0.05);
  color: $gray-dark;
  display: inline-block;
  font-size: 11px;
  font-weight: 400;
  height: 20px;
  line-height: 20px;
  padding: 0 6px;
  position: relative;
  transition: all .2s ease-in-out;

  > a {
    color: $gray-dark;
    text-transform: uppercase;
  }

  &:hover {
    color: $gray-darker;
    text-decoration: none;
  }

  &.can-edit {
    padding: 0 20px 0 4px;

    &:hover {
      color: $purple;
    }

    > span {
      color: darken($purple-lighter,10);
      cursor: pointer;
      line-height: 18px;
      position: absolute;
        right: 4px;

      &:hover {
        color: $purple;
        font-size: 14px;
        right: 2px;

        &:before {
          content: '\E193';
        }
      }

      &:active {
        color: darken($purple,10);
      }
    }
  }
}