.tag {
  background: $purple-lighter;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 3px;
  display: inline-block;
  font-size: 11px;
  font-weight: 400;
  height: 21px;
  line-height: 21px;
  padding: 0 4px;
  position: relative;
  @include transition(all .2s ease-in-out);

  &:hover {
    color: darken($purple,10);
    text-decoration: none;
  }

  &.can-edit {
    padding: 0 20px 0 4px;

    &:hover {
      color: $purple;
    }

    > span {
      color: darken($purple-lighter,10);
      cursor: pointer;
      line-height: 18px;
      position: absolute;
        right: 4px;

      &:hover {
        color: $purple;
        font-size: 14px;
        right: 2px;

        &:before {
          content: '\E193';
        }
      }

      &:active {
        color: darken($purple,10);
      }
    }
  }
}