.tag {
    background: $purple-lighter;
    border: 1px solid lighten($purple,40);
    @include border-radius(3px);
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    height: 21px;
    line-height: 21px;
    padding: 0 4px;
    @include transition(all 0.2s ease-in-out);

    &:hover {
        border-color: darken($purple,10);
        color: darken($purple,10);
        text-decoration: none;
    }
}