// terminal
.terminal-title {
  font-size: 14px;
  color: $grey-dark;
  margin-top: 25px;

  .glyphicons {
    color: $grey-dark;
  }

  a:hover {
    color: $grey-darker;
    text-decoration: none;
  }
}

// terminal-help
#terminal-help {
  border: 1px solid rgba(0, 0, 0, .1);
  @include border-radius(3px 3px 0 0);
  color: $grey-dark;
  font-size: 12px;
  height: 36px;
  line-height: 36px;
  position: absolute;
    top: 28px;
    right: 0;
    z-index: 0;
  @include transition-transforms(.1s);

  &.in {
    @include transform-3d(0,-36px,0);
  }

  a {
    background: $grey-light;
    color: $grey-dark;
    cursor: pointer;
    display: block;
    float: left;
    padding: 0 8px;

    &:hover {
      background: $grey-lighter;
    }
  }

  a + a {
    border-left: 1px solid rgba(0,0,0,.1);
  }

  span {
    display: none;

    @include media (lg) {
      display: inline;
    }
  }

  .glyphicons {
    margin: 0 2px;
  }
}

// ifram
.terminal-view,
#output-terminal-container {

  iframe {
    background: $terminal-color;
    position: relative;
  }
}