.tooltip {

  &.top {
    margin-top: -14px;

    .tooltip-arrow {
      border-top-color: $orange;
    }
  }

  &.bottom {
    margin-top: 7px;

    .tooltip-arrow {
      border-bottom-color: $orange;
    }
  }
}

.tooltip-inner {
    background: $orange; /* is the new black */
    @include border-radius(3px);
    font-weight: normal;
    white-space: no-wrap;
}