// setup tooltips
.tooltip {
  position: relative;
}

.tooltip::before,
.tooltip::after {
  display: block;
  pointer-events: none;
  position: absolute;
    z-index: $ztooltip;
}

.tooltip::before {
  background: rgba(0,0,0,.75);
  border-bottom: 2px solid #000;
  border-radius: 2px;
  color: #fff;
  content: attr(data-title);
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  opacity: .5;
  padding: 8px 10px 6px;
  top: 26px;
  @include transform(translate3d(0,-10px,0) scale3d(0,0,1));
  @include transform-origin(0,-10px);
  white-space: nowrap;
}

.tooltip::after {
  border-right: 6px solid transparent;
  border-bottom: 6px solid rgba(0,0,0,.75);
  border-left: 6px solid transparent;
  content: '';
  height: 0;
  left: 10px;
  opacity: .5;
  top: 20px;
  @include transform(translate3d(0,-10px,0) scale3d(0,0,1));
  @include transition(all .15s ease-in-out);
  width: 0;
}

.tooltip:hover::before {
  @include animation(bounceIn .2s ease-in-out forwards);
}

.tooltip:hover::after {
  @include animation(bounceInArrow .2s ease-in-out forwards);
}