$br:2px;
$primary-color: #198dd2;
/*Link colors*/
$link-off:#999; /* e.g. subtle links with icons */
$link-on:#555;
/*Gray toolbar top of code and web output*/
$toolbar-height:30px;
$border-color: #e5e5e5;