ul.channel-list{
  list-style:none;
  margin:0 0 $padding;
  padding:0;
  @include clearfix;
  li{
    @extend .span2;
    text-align:center;
    &:nth-child(6n){
      @extend .last;
    }
    &:nth-child(6n+1){
      clear:both;
      margin-bottom:$padding/2;
    }
    a, span{
      text-decoration:none;
      display:block;
      span.tile{
        display:block;
        height:82px;
        line-height:60px;
        @include box-sizing(border-box);
        padding:10px 0;
        border:1px solid #ccc;
        @include background-image(linear-gradient(#fff,#f2f2f2));
        @include box-shadow(0 1px 3px (rgba(0,0,0,.1)));
        @include clearfix;
        margin-bottom:5px;
      }
      img{
        max-width:80%;
        max-height:60px;
      }
      span.img{
        max-height:50px;
      }
      &:hover,&:focus{
        color:$blue-dark;
        span{
          border-color:$blue-dark;
        }
      }
    }
    &.add-channel{
      span{
        background:transparent;
        border:none;
        @include box-shadow(none);
        font-size:60px;
      }
    }
  }
}