#console {
	background:$console;
	& #project-tail-view {
		height: 100%;
		width : 100%;
		overflow: auto;
		@include box-sizing(border-box);
	}

	& #project-tail-view > .tail-logs {
		font-family: courier;
		background-color: #262822;
		color: white;
		border: none;
		line-height: 16px;
		font-size: 14px;
		resize: none; /*hides resize corner*/
		width : 97%;
	}

	.loading-animation{
		position:absolute;
		right:10px;
		top:$toolbar-height + 10px;
	}
}

.terminal{
	background:#111;
	padding:10px;
	resize:vertical;
	color:#fff;
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	margin-top:10px;
	overflow:auto;
}


// Tabs for controlling terminal/output
// .console-tabs{
// 	list-style:none;
// 	margin:0;
// 	padding:0;
// 	@include clearfix;
// 	width:100%;
// 	position:relative;
// 	li{
// 		float:left;
// 		width:50%;
// 		button{
// 			display:block;
// 			width:100%;
// 			line-height:$toolbar-height;
// 			height:$toolbar-height;
// 			float:left;
// 			padding:0 10px;
// 			background:$console-tab;
// 			color:$console-tab-off;
// 			text-align:left;
// 			border:none;
// 			text-transform:uppercase;
// 			@include box-sizing(border-box);
// 			&:hover,&:focus{
// 				color:$console-tab-on;
// 			}
// 		}
// 		&.selected{
// 			button{
// 				color:$console-tab-off;
// 				background:transparent;
// 			}
// 		}
// 	}
// }