// Lightbox covers full screen with semi-transparent color
.lightbox{
	background:rgba(0,0,0,.9);
	position:fixed;
	z-index:100;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

// Modal shows middle of screen
.modal{
	@include clearfix;
	@include box-shadow(0 0 20px rgba(0,0,0,.1));
	margin:50px auto 0;
	width:600px;
	.modal-header{
		padding:0 20px;
		background:$header;
		position:relative;
		height:50px;
		h3{
			color:#fff;
			margin:0;
			font-size:18px;
			font-weight:normal;
			line-height:50px;
			text-transform: capitalize;
		}
		.btn-close{
			position:absolute;
			right:0;
			top:0;
			color:rgba(255,255,255,.6);
			border:none;
			background:none;
			height:50px;
			padding:0 15px;
			border-left:1px solid rgba(255,255,255,.2);
			&:hover,&:focus{
				color:rgba(255,255,255,1);
			}
		}
	}
	.modal-body{
		//color:$font-color-primary;
		background:$toolbar;
		max-height:500px;
		overflow:auto;
	}
	.modal-content{
		padding:20px;
		@include clearfix;
		p:last-child{
			margin-bottom:0;
		}
	}
}


// Sharing
.share-modal .modal{
	width:400px;
	.share-options{
		list-style:none;
		margin:0;
		padding:0;
	}
	.modal-body{
		label{
			display:block;
			margin-bottom:5px;
		}
		input.share-url{
			border:none;
			background:#fff;
			padding:20px;
			color:#999;
			width:100%;
			font-size:1em;
			@include box-sizing(border-box);
		}
	}
}

// Share buttons
.btn-post-to{
	display:inline-block;
	width:100%;
	@include box-sizing(border-box);
	padding:20px;
	border:none;
	@include background-image(linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.05)));
	color:#fff;
	text-align:left;
	&:hover{
		@include background-image(linear-gradient(rgba(0,0,0,.05),rgba(0,0,0,.2)));
	}
	i{
		font-size:1.6em;
		vertical-align:middle;
	}
	&.facebook{
		border-color:#284789;
		background-color:#3d63b3;
	}
	&.twitter{
		border-color:#318b89;
		background-color:#74cbca;
	}
	&.download{
		border-color:darken($primary-color,5%);
		background-color:$primary-color;
	}
	&.github{
		border-color:#999;
		background-color:#444;
	}
}

// Log in modal
// When a user clicks an action that requires them to be logged in
.login-modal{
	.modal{
		width:400px;
		.btn-github,.btn-facebook{
			width:200px;
			text-transform: none;
		}
	}
}

// Friendly image, for friendly modal when things go wrong
.friendly-image{
	position:absolute;
	bottom:0;
	right:20px;
	max-width:200px;
}

// New file in file browser
.new-file-modal{
	.modal{
		width:400px;
	}
	.modal-body{
		padding:$padding;
	}
}
