// Dropdown menus
.dropdown{
	position:relative;
	z-index:10;
	@include clearfix;
	.dropdown-toggle{
		position:relative;
		z-index:11;
		&:after{
			content: "\f0d7";
			font-family: FontAwesome;
			font-weight: normal;
			font-style: normal;
			text-decoration: inherit;
			-webkit-font-smoothing: antialiased;
			font-size:16px;
			margin:0 0 0 5px;
		}
	}
	.dropdown-menu{
		display:none;
		position:absolute;
		top:100%;
		left:0;
		width:100%;
		a{
			display:block;
			float:none;
			@include box-sizing(border-box);
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
			font-weight:normal;
			&:hover,&:focus{
				text-decoration:none;
			}
		}
	}
	&.active{
		a{
			background:#fff;
		}
		& > ul{
			background:#fff;
			@include box-shadow(0 0 50px rgba(0,0,0,.4));
		}
	}
}

// User dropdown navigation
header .user-nav{
	float:right;
	a{
		background:rgba(255,255,255,.1);
		padding:5px 10px;
		line-height:25px;
		display:block;
		color:rgba(255,255,255,.8);
		text-decoration: none;
		&:hover{
			color:#fff;
		}
	}
	.thumbnail{
		display:inline-block;
		max-width:25px;
		max-height:25px;
		text-align:center;
		float:left;
		margin-right:10px;
	}
	.dropdown-menu{
		a{
			display:block;
			background:$header;
			line-height:25px;
			padding:5px 10px;
			color:rgba(255,255,255,.8);
			&:hover{
				color:#fff;
			}
		}
	}
}

// Header nav
// Beside the search bar
.header-nav{
	float:left;
	margin:5px 0;
	a{
		line-height:25px;
		padding:5px 7px;
		color:#ccc;
		&:hover{
			color:#fff;
			text-decoration:none;
		}
	}
}

// Tags navigation
// For individual examples and lists of examples
.tags-nav{
	@include clearfix;
	a{
		display:inline-block;
		//float:left;
		margin:0 5px 5px 0;
		@include border-radius($br);
		background:$cta-tertiary;
		border:1px solid darken($cta-tertiary,3%);
		padding:0 5px;
		//line-height:0;
		&:hover{
			text-decoration:none;
			background:darken($cta-tertiary,2%);
		}
		img{
			//max-width:16px;
			max-height:16px;
			vertical-align: middle;
			//float:left;
			margin:0 2px 0 0;
		}
	}
	.remove-tag{
		color:rgba($bad-color,.6);
		font-size:12px;
		&:hover{
			cursor: pointer;
			color:$bad-color;
		}
	}
}

// Tags filter
// For code results and lists
.tags-filter{
	@include clearfix;
	a{
		display:inline-block;
		float:left;
		clear:both;
		margin:0 5px 5px 0;
		@include border-radius($br);
		padding:2px 5px;
		//line-height:0;
		&:hover{
			//text-decoration:none;
			//background:darken($cta-tertiary,2%);
		}
		&.selected{
			background:$cta-tertiary;
			border:1px solid darken($cta-tertiary,3%);
			&:hover{
				text-decoration:none;
			}
		}
		img{
			//max-width:16px;
			max-height:16px;
			vertical-align: middle;
			//float:left;
			margin:0 2px 0 0;
		}
	}
	.remove-tag{
		color:rgba($bad-color,.6);
		font-size:12px;
		&:hover{
			cursor: pointer;
			color:$bad-color;
		}
	}
}


// Related navigation
// For individual examples
.related-nav{
	ul{
		list-style:none;
		margin:0;
		padding:0;
		li{
			margin:0 0 $padding;
			position:relative;
			// padding-left:40px;
			.btn-vote{
				position:absolute;
				top:0;
				left:0;
				width:30px;
				margin:0 auto;
			}
		}
	}
}


// Project nav
// List of projects on homepage, search results, channels etc.
.project-nav{
	ul{
		list-style:none;
		margin:0 0 $padding;
		padding:0;
		li{
			@include clearfix;
			position:relative;
			padding:$padding 0 $padding 40px;
			border-bottom:1px solid #f8f8f8;
			.btn-vote{
				position:absolute;
				top:$padding;
				left:0;
				width:30px;
				margin:0 auto;
			}
			h3{
				font-size:18px;
			}
			.tags-nav{
				font-size:12px;
				img{
					max-width:12px;
				}
			}
			.author{
				.avatar{
					float:none;
				}
				img{
					max-height:20px;
				}
			}
		}
	}
}



// Footer nav
// Bottom of every page
.footer-nav{
	a{
		font-size:16px;
		display:block;
		float:left;
		padding:$padding 12px;
		color:rgba(#000,.4);
		text-decoration:none;
		text-transform:capitalize;
		&:hover,&:focus{
			color:rgba(#000,.8);
		}
	}
	&:first-child{
		a{
			padding-left:0;
		}
	}
}


// Social icons
// Used in footer and team about page
.social-icons{
	a{
		display:block;
		float:left;
		margin-right:10px;
		background:url(assets/sprite@2x.png);
		background-size:1000px 1000px;
		text-indent:-9999px;
		width:28px;
		height:28px;
		opacity:.6;
		&.twitter{
			background-position:0 -200px;
		}
		&.github{
			background-position:-100px -200px;
		}
		&.so{
			background-position:-200px -200px;
		}
		&:hover,&:focus{
			opacity:1;
		}
	}
}

// Social icons used in footer
footer .social-icons{
	float:right;
	a{
		margin:$padding 6px;
	}
	&:last-child{
		a{
			margin-right:0;
		}
	}
}

// Channel/Stack select
// New code example modal
.select-stack-nav{
	ul{
		@include clearfix;
		list-style:none;
		margin:0 0 $padding;
		padding:0;
		li{
			@extend .span2;
			text-align:center;
			&:nth-child(6n){
				@extend .last;
			}
			&:nth-child(6n+1){
				clear:both;
				margin-bottom:$padding/2;
			}
			a{
				text-decoration:none;
				display:block;
				span{
					display:block;
					height:52px;
					line-height:40px;
					@include box-sizing(border-box);
					padding:10px 0;
					border:1px solid #ccc;
					background:#fff;
					//@include background-image(linear-gradient(#fff,#f2f2f2));
					@include box-shadow(0 1px 3px (rgba(0,0,0,.1)));
					@include clearfix;
					margin-bottom:5px;
				}
				img{
					max-height:30px;
					max-width:60%;
				}
				&:hover,&:focus{
					color:$primary-color;
					span{
						border-color:$blue-light;
					}
				}
			}
		}
	}
}

// Tabbed navigation
.tab-nav{
	@include clearfix;
	margin:0;
	padding:0;
	list-style:none;
	width:100%;
	position:relative;
	border-bottom:1px solid #e8e8e8;
	a{
		display:block;
		float:left;
		margin-right:5px;
		padding:10px;
		font-size:14px;
		background:#fff;
		border:1px solid #e8e8e8;
		border-bottom:none;
		@include border-radius($br $br 0 0);
		&:hover{
			text-decoration:none;
			border-color:#ccc;
		}
		&.selected{
			position:relative;
			margin-bottom:-1px;
			z-index:2;
			padding-bottom:11px;
			color:$font-color-primary;
			&:hover{
				border-color:#e8e8e8;
			}
		}
	}
}

// Pagination
.pagination{
	margin-bottom:$padding;
	@include clearfix;
	.previous,.next{
		@extend .btn;
	}
}
