.aligncenter{
	text-align:center;
}

.alignright{
	text-align:right;
}

.clear{
	clear:both;
}

.right{
	float:right;
}

.left{
	float:left;
}

.valign{
	vertical-align: middle;
}

.relative{
	position:relative;
}

.block{
	display:block;
}

hr{
	border:none;
	height:0;
	border-bottom:1px dashed #ccc;
	margin:$padding 0;
}

.nolist{
	list-style:none;
	padding-left:0;
	margin-left:0;
}

.display-none {
	display: none;
}

.display-none-important {
	display:none !important;
}