.aligncenter{
	text-align:center;
}

.alignright{
	text-align:right;
}

.clear{
	clear:both;
}

.right{
	float:right;
}

.left{
	float:left;
}

.valign{
	vertical-align: middle;
}

.relative{
	position:relative;
}

.block{
	display:block;
}