<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-body">
      <p>Connect your account with Github to add repositories to this project.</p>
      <a data-pass-thru href="/api/-/auth/github" class="btn btn-block purple">
        <object data="/images/icons/icons-git.svg" type="image/svg+xml"></object>
        Log in with Github
      </a>
    </div>
  </div>
</div>