{{#if fullpage}}
{{view 'header_view' nosearch=true noactions=true}}
<div class="modal-page">
{{/if}}

  <div class="modal-dialog">
    <div id="signup" class="modal-content">
      <a data-pass-thru href="/auth/github" class="btn purple">
        <object data="/images/icons/icons-git.svg" type="image/svg+xml"></object>
        Sign up with Github
      </a>
      <small>or</small>
      <form id="signup-form" class="modal-body">
        <input class="form-control" name="username" placeholder="Username" autocapitalize="off" autofocus required>
        <input type="email" class="form-control" name="email" placeholder="Email" required>
        <input type="password" class="form-control" name="password" placeholder="Password" required>
        <button class="orange col-sm-12">Sign Up</button>
      </form>
      <p>Already have an account? <a class="flip-link">Log In</a></p>
    </div>
    <div id="login" class="modal-content">
      <a data-pass-thru href="/auth/github" class="btn purple">
        <object data="/images/icons/icons-git.svg" type="image/svg+xml"></object>
        Log in with Github
      </a>
      <small>or</small>
      <form id="login-form" class="modal-body">
        <input class="form-control" name="username" placeholder="Email or Username" autocapitalize="off" autofocus required>
        <input type="password" class="form-control" name="password" placeholder="Password" required>
        <button class="orange col-sm-12">Log In</button>
        <a class="reset-link">Reset Password</a>
      </form>
      <p>Don't have an account yet? <a class="flip-link">Sign Up</a></p>
    </div>
  </div>

{{#if fullpage}}
</div>
{{view 'footer_view'}}
{{/if}}
