<div class="container">
  <div class="span9">
    <nav class="project-nav">
      <ul>
      {{#each images.models}}
        {{view "runnable_item_view" model=.}}
      {{/each}}
      </ul>
    </nav>
  </div>
  <div class="span3 last">
    <section class="module">
      <h3>Tags</h3>
      <nav class="tags-nav">
        <a href="/facebook"><span class="thumbnail"><img src="/images/channels/facebook.png" alt="Facebook"></span> Facebook</a>
        <a href="/twitter"><span class="thumbnail"><img src="/images/channels/twitter.png" alt="Twitter"></span> Twitter</a>
        <a href="/google"><span class="thumbnail"><img src="/images/channels/google.png" alt="Google"></span> Google</a>
        <a href="/paypal"><span class="thumbnail"><img src="/images/channels/paypal.png" alt="MongoDB"></span> PayPal</a>
        <a href="/node-mongodb-native"><span class="thumbnail"><img src="/images/channels/node-mongodb-native.png" alt="MongoDB"></span> MongoDB</a>
        <a href="/angularjs"><span class="thumbnail"><img src="/images/channels/angularjs.png" alt="AngularJS"></span> AngularJS</a>
        <a href="/codeigniter"><span class="thumbnail"><img src="/images/channels/codeigniter.png" alt="Codeigniter"></span> Codeigniter</a>
        <a href="/express"><span class="thumbnail"><img src="/images/channels/express.png" alt="Express"></span> Express</a>
        <a href="/nodejs"><span class="thumbnail"><img src="/images/channels/nodejs.png" alt="Node.js"></span> Node.js Examples</a>
        <a href="/php"><span class="thumbnail"><img src="/images/channels/php.png" alt="PHP"></span> PHP Examples</a>
        <a href="/python"><span class="thumbnail"><img src="/images/channels/python.png" alt="Python"></span> Python Examples</a>
        <a href="/jquery"><span class="thumbnail"><img src="/images/channels/jquery.png" alt="jQuery"></span> jQuery</a>
      </nav>
    </section>
  </div>
</div>
