<style>
  html,
  body,
  #content {
    background: transparent;
    height: 100%;
  }

  body {
    background: #5B3777; /* $purple */
    overflow: hidden;
    position: relative;
  }
</style>

<main id="error" class="container">
  <a id="logo" href="/"></a>
  <img class="hero-animate globe" src="/images/hero-logos/globe.svg">
  <h1>Sorry, but the page you are trying to view does not exist.</h1>
  <form class="input-group" id="searchbox" method="get" action="/search">
    <input name="q" placeholder="Try a search" class="form-control" required>
    <button class="orange glyphicons search"></button>
  </form>
  <img src="/images/bear.png" height="244" width="250" alt="Please bear with us." title="Please bear with us." id="bear">
  <aside>404</aside>
</main>