<link href="/styles/index.css" rel="stylesheet">

<style>
  html,
  body,
  #content {
    height: 100%;
  }

  body {
    background: #5B3777; /* $purple */
    overflow: hidden;
    position: relative;
  }
</style>

<main id="error" class="container">
  <a id="logo" href="/"></a>
  <img class="hero-animate cog" src="/images/hero-logos/cog.svg">
  <h1>Oh no, there's a problem with Runnable!</h1>
  <p>Head to <a href="http://support.runnable.com">support.runnable.com</a> for help.
  <div class="or"><span>or</span></div>
  <p>Tweet <a href="https://twitter.com/GetRunnable" target="_blank">@GetRunnable</a>.
  <img src="/images/bear.png" height="244" width="250" alt="Please bear with us." title="Please bear with us." id="bear">
  <aside>500</aside>
</main>