<div class="modal-dialog spec-modal" id="add-spec-modal">

  <div class="modal-content">

    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title">Select an API</h4>
    </div><!--/.modal-header-->

    <div class="modal-body">
      <ul>
        {{#each collection.models}}
        <li>
          <a class="existing" href="javascript:" data-id="{{id}}">
            <!--img src="/images/provider-icons/icon-codeigniter.png" height="31" width="30"-->
            <span>{{attributes.name}}</span>
          </a>
        </li>
        {{/each}}
      </ul>
      <a class="new" href="javascript:">Add New API</a>
    </div><!--/.modal-body-->

  </div><!--/.modal-content-->

</div><!--/.modal-dialog-->