<div class="arrow"></div>
<div class="popover-content">
  <div id="add-tab-options">
    <ul class="popover-body">
      <li>
        <a>
          <object class="iconnables" data="/images/icons/icons-terminal.svg" type="image/svg+xml"></object>
          Terminal
        </a>
      <li>
        <a>
          <span class="glyphicons redo"></span>
          Shortcut
        </a>
    </ul>
  </div>

  <div id="shortcuts">
    <ul class="popover-body">
      <li>
        Shortcut 1
        {{!-- {{#if isOwner}} --}}
          <button class="delete" type="button">
            <span>Delete</span>
            <span class="glyphicons circle-remove"></span>
          </button>
        {{!-- {{/if}} --}}
      <li>
        Shortcut 2
        {{!-- {{#if isOwner}} --}}
        <button class="delete" type="button">
          <span>Delete</span>
          <span class="glyphicons circle-remove"></span>
        </button>
      {{!-- {{/if}} --}}
    </ul>
    <button class="silver" type="button">New Shortcut</button>
  </div>

  <form id="new-shortcut">
    <input class="form-control" placeholder="Shortcut Name" required>
    <input class="form-control" placeholder="Shortcut CMD" required>
    {{!-- {{#if model=container}} --}}
    <div class="form-group toggle-group">
      <label{{#unless model.attributes.output_format}} class="active"{{/unless}}>
        <div class="sprite-icons-output"></div>
        Web &amp; Terminal
        <input type="radio" name="output_format" value=""{{#unless model.attributes.output_format}} checked{{/unless}}>
      </label>
      <label{{#if_eq model.attributes.output_format compare="web"}} class="active"{{/if_eq}}>
        <div class="sprite-icons-output"></div>
        Only Web
        <input type="radio" name="output_format" value="web"{{#if_eq model.attributes.output_format compare="web"}} checked{{/if_eq}}>
      </label>
      <label{{#if_eq model.attributes.output_format compare="terminal"}} class="active"{{/if_eq}}>
        <div class="sprite-icons-output"></div>
        Only Terminal
        <input type="radio" name="output_format" value="terminal"{{#if_eq model.attributes.output_format compare="terminal"}} checked{{/if_eq}}>
      </label>
    </div>
    {{!-- {{/if}} --}}
    <button class="orange">Create New Shortcut</button>
  </form>
</div>