{{view "file_tabs" collection=defaultFiles}}
<div id="project-editor-container">
  <!--googleoff: anchor-->
  {{view "code" collection=defaultFiles}}
  <!--googleon: anchor-->
  <a class="open-file-explorer" href="#"><img src="/images/icon-expand.png" height="17" width="24" alt="Open File Explorer" /></a>
  {{view "file_explorer" container=container rootDir=rootDir editmode=editmode}}
</div>