{{!view "file_tabs" model=project fileCollection=files}}
<div class="file-content">
  {{!view "code" model=project}}
  <button class="btn-tertiary btn-small btn-show-file-browser">
    <i class="icon-folder-open"></i> Show file browser</button>
  <div class="file-browser">
    <nav class="file-browser-toolbar">
      <button class="hint--bottom" data-hint="File browser options"><i class="icon-cog"></i></button>
      <button class="hint--bottom" data-hint="Hide file browser"><i class="icon-collapse-alt"></i></button>
    </nav>
    <nav class="file-tree">
      <ul>
        <li class={{rootDir.attributes.type}}>
          {{view "file_tree_item" model=rootDir}}
          {{view "file_tree" collection=rootDir.contents path='/'}}
        </li>
      </ul>
    </nav>
  </div>
</div>
