{{view "file_tabs" collection=defaultFiles}}
<div class="file-content">
  {{view "code" collection=defaultFiles}}
  <button class="btn-tertiary btn-small btn-show-file-browser">
    <i class="icon-folder-open"></i> Show file browser</button>
  <div class="file-browser display-none">
    <nav class="file-browser-toolbar">
      {{view "sync_button" model=container}}
      {{! <button class="hint--bottom" data-hint="File browser options"><i class="icon-cog"></i></button> }}
      <button class="hint--bottom btn-hide-file-browser" data-hint="Hide file browser"><i class="icon-collapse-alt"></i></button>
    </nav>
    <nav id="file-tree" class="file-tree">
      <ul>
        {{view "file_tree" model=rootDir editmode=editmode}}
      </ul>
    </nav>
  </div>
</div>