<a class="open-file-explorer glyphicons folder-closed"></a>
{{view "file_tabs" collection=defaultFiles}}
{{view "file_explorer" container=container rootDir=rootDir editmode=editmode lock=lock}}
<div id="project-select-tabs" class="dropdown alt">
  <button type="button"></button>
  {{view "file_tabs" collection=defaultFiles select=true}}
</div>
<div id="project-editor-container">
  <!--googleoff: anchor-->
  {{view "code" collection=defaultFiles}}
  <!--googleon: anchor-->
</div>