{{view "file_tabs" collection=defaultFiles}}
<div class="file-content">
  {{view "code" collection=defaultFiles}}
  <button class="btn-tertiary btn-small btn-show-file-browser">
    <i class="icon-folder-open"></i> Show file browser</button>
  <div class="file-browser">
    {{! <nav class="file-browser-toolbar">
      <button class="hint--bottom" data-hint="File browser options"><i class="icon-cog"></i></button>
      <button class="hint--bottom" data-hint="Hide file browser"><i class="icon-collapse-alt"></i></button>
    </nav> }}
    <nav class="file-tree">
      <ul>
        {{view "file_tree" model=rootDir}}
      </ul>
    </nav>
  </div>
</div>
