<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title">Send us a Message</h4>
    </div>
    <div class="modal-body">
      {{view "contact_form" modal=true}}
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->