{{#if modal}}
  {{#if simple}}
  <input type="email" class="form-control" name="EMAIL" placeholder="Email Address" required />
  {{else}}
  <input type="text" class="form-control" name="NAME" placeholder="Full Name" autofocus required />
  <input type="email" class="form-control" name="EMAIL" placeholder="Email Address" required />
  <input type="tel" class="form-control" name="PHONE" placeholder="Phone Number (optional)" />
  <textarea name="DETAILS" class="form-control" placeholder="Message"></textarea>
  {{/if}}
  <button type="submit" class="orange">Send Message</button>
{{else}}
<h2>Contact Us</h2>
<div>
  <input type="text" class="form-control" name="NAME" placeholder="Full Name" required>
  <input class="form-control" type="email" name="EMAIL" placeholder="Email Address" required>
  <input class="form-control" type="tel" name="PHONE" placeholder="Phone Number (optional)">
</div>
<div>
  <textarea class="form-control" rows="3" name="DETAILS" placeholder="Message"></textarea>
  <button type="submit" class="orange">Send Message</button>
</div>
{{/if}}