{{#if simple}}
<input type="email" class="form-control" name="EMAIL" placeholder="Email Address" required>
{{else}}
<input type="text" class="form-control" name="NAME" placeholder="Full Name" autofocus required>
<input type="email" class="form-control" name="EMAIL" placeholder="Email Address" required>
<input type="tel" class="form-control" name="PHONE" placeholder="Phone Number (optional)">
<textarea name="DETAILS" class="form-control" placeholder="Message" required></textarea>
{{/if}}
<button class="orange">Send Message</button>