<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title">
      {{#if header}}{{header}}{{else}}Send us a Message{{/if}}
      </h4>
    </div>
    <div class="modal-body">
      {{{message}}}
      {{view "contact_form" modal=true simple=simple}}
      <div class="confirmation">
        <h2>Thanks!</h2>
        <p>We've got your message and will get back to you shortly.</p>
        <button type="button" class="silver">You're Welcome</button>
      </div>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->