<h3>
  <a href="#">Using Hypercubed/frontman</a>
</h3>
<p>
  <span><span class="glyphicon glyphicon-play"></span> 10k</span>&bull;
  <span><span class="glyphicon glyphicon-eye-open"></span> 22k</span>&bull;
  <span><img src="/images/button-save.png" height="12" width="14"> 102</span>&bull;
  <span>Published 3 months ago</span>&bull;
  <span class="tags">
    <a href="/Node.js" data-view="tag_link" data-name="Node.js">
      <img class="display-none" data-view="channel_image" data-name="Node.js" data-tag="true" data-height="12" data-width="12">Node.js
    </a>
    <a href="/front matter" data-view="tag_link" data-name="front matter">front matter</a>
  </span>
  <button type="button">x</button>
</p>