{{#each collection.models}}
{{view "dashboard_item_view" model=. isimage=../isimage editmode=../editmode collection=../collection}}
{{else}}
<li>
  <h2><a>No {{#if isimage}}Published{{else}}Draft{{/if}} Runnables</a></h2>
</li>
{{/each}}