<h3>
  <a href="#">
    Using Hypercubed/frontman
  </a>
</h3>
<p>
  <span class="vote-up">
    <span>123</span>
  </span>
  &bull;
  <span>Published 3 months ago</span>
  &bull;
  <span class="tags">
    <a href="/Node.js" data-view="tag_link" data-name="Node.js">
      <img class="display-none" data-view="channel_image" data-name="Node.js" data-tag="true" data-height="12" data-width="12">
Node.js
    </a>
    <a href="/front matter" data-view="tag_link" data-name="front matter">
    front matter
    </a>
  </span>
</p>