<h3>
  Filter<span>ing</span>
  <button data-action="show-all" type="button">Show All</button>
</h3>
<ol>
  {{#each collection.models}}
    {{#with attributes}}
    {{#if display}}
      <li data-name="{{name}}">
        {{view 'channel_image' name=name alt=true}}
        {{name}}

        {{#if count}}
          <span class="count">{{count}}</span>
        {{/if}}

        <button type="button" class="glyphicons circle-remove"></button>
    {{/if}}
    {{/with}}
  {{/each}}
  {{#if collection.params.channel}}
    {{#if_gte collection.length compare="15"}}
      <li class="show-more"><span></span>
    {{/if_gte}}
  {{/if}}
</ol>