<h3>Filter<span>ing</span></h3>
<ul>
  {{#each collection.models}}
  {{#with attributes}}
  <li>
    {{view 'channel_image' name=name}}
    {{name}}
    <span class="glyphicons circle-ok"></span>
  {{/with}}
  {{/each}}
</ul>