<h3>Filter<span>ing</span><button type="button">Show All</button></h3>
<ul class="clearfix">
  {{#each collection.models}}
    {{#with attributes}}
      <li data-name="{{name}}">
        {{view 'channel_image' name=name alt=true}}
        {{name}}

        {{#if count}}
          <span class="count">{{count}}</span>
        {{/if}}
    {{/with}}
  {{/each}}
</ul>
