<button id="trending" {{#if activeTrending}}class="active"{{/if}}>
	<a href="?{{trendingLink}}">Trending</a>
</button>
<button id="popular" {{#if activePopular}}class="active"{{/if}}>
	<a href="?{{popularLink}}">Popular</a>
</button>
