<ul id="controls">
  <li class="dark-theme theme active tooltip" data-title="Dark Theme">
    <span></span>
  <li class="light-theme theme tooltip" data-title="Light Theme">
    <span></span>
  <li class="open-context-menu pull-right tooltip" data-title="Add">
    <span class="glyphicons plus"></span>
  <li data-action="download" class="pull-right tooltip" data-title="Download">
    <span class="glyphicons disk-save"></span>
  </li>
  {{#unless lock}}
    {{view "sync_button" model=container}}
  {{/unless}}
</ul>

{{#unless lock}}
<a id="drop-to-add">
  <div>Drag a file in to add it.</div>
  <div>Drop it here, or in the file tree.</div>
</a>
{{/unless}}

<div class="file-header in">
  <a></a>
  <h6>Dockerfiles</h6>
  <ul class="nav nav-pills nav-stacked">
    <li class="folder open ui-droppable">
      <ul class="fs-list nav-collapse in">
        <li>
          <div>
            <a title="Dockerfile" class="ui-draggable">Dockerfile</a>
          </div>
        <li>
          <div>
            <a title="this.config" class="ui-draggable">this.config</a>
          </div>
      </ul>
  </ul>
</div>

<div class="file-header in">
  <a></a>
  <h6>Container</h6>
  <ul class="nav nav-pills nav-stacked">
    {{view "file_tree" model=rootDir editmode=editmode}}
  </ul>
</div>