{{#unless createOnly}}
  <li><a class="rename">Rename</a>
  <li><a class="delete">Delete</a>
  {{!--
  {{#if showDefault}}
    {{#if isFile}}
      {{#if model.attributes.default}}
      <li><a class="undefault">Set: Closed by Default</a>
      {{else}}
      <li><a class="default">Set: Opened by Default</a>
      {{/if}}
    {{/if}}
  {{/if}}
  --}}
  <li class="divider">
{{/unless}}
<li><a class="create-file">New File</a>
<li><a class="create-dir">New Folder</a>