{{view "file_tree_item" model=model}}
{{view "fs_list" directoryid=model.id collection=model.contents open=model.attributes.open editmode=editmode}}
{{#if_result model method="isRootDir"}}
<a id="drop-to-add" href="#">
  <div class="drop-to-add-icon-container">
    <div class="drop-to-add-icon"></div>
    <p>Drop to add</p>
  </div>
</a>
{{/if_result}}