<span class="glyphicons cogwheel"></span>

<div class="popover fade bottom menu {{#unless git}}no-git{{/unless}}">
  <div class="arrow"></div>
  <div class="popover-content">

    <ul id="file-explorer-options" class="popover-body col-popover-3">
      <li>
        <a>
          <object class="iconnables" data="/images/icons/icons-new-file.svg" type="image/svg+xml"></object>
          New File
        </a>
      <li>
        <a>
          <object class="iconnables" data="/images/icons/icons-new-folder.svg" type="image/svg+xml"></object>
          New Folder
        </a>
      <li>
        <a id="add-repo-link">
          <object class="iconnables" data="/images/icons/icons-octocat.svg" type="image/svg+xml"></object>
          Add Repo
        </a>
    </ul>

    <div id="add-repo" class="popover-body">
      {{!--<button> doesn't work here, handlebars bug?--}}
      <form>
        <input type="search" class="form-control" placeholder="Filter Repositories">
      </form>
      <ul class="popover-list">
        <li>
          <a class="select-repo">
            username/reponame
            <a class="btn btn-sm silver glyphicons cogwheel select-branch"></a>
          </a>
          <form class="add-repo-form">
            <input class="form-control" placeholder="Branch or SHA (optional)">
            <a class="btn btn-block orange">Add Repository</a>
          </form>
        <li>
          <a class="select-repo">
            username/reponame
            <a class="btn btn-sm silver glyphicons cogwheel select-branch"></a>
          </a>
          <form class="add-repo-form">
            <input class="form-control" placeholder="Branch or SHA (optional)">
            <a class="btn btn-block orange">Add Repository</a>
          </form>
        <li>
          <a class="select-repo">
            username/reponame
            <a class="btn btn-sm silver glyphicons cogwheel select-branch"></a>
          </a>
          <form class="add-repo-form">
            <input class="form-control" placeholder="Branch or SHA (optional)">
            <a class="btn btn-block orange">Add Repository</a>
          </form>
        <li>
          <a class="select-repo">
            username/reponame
            <a class="btn btn-sm silver glyphicons cogwheel select-branch"></a>
          </a>
          <form class="add-repo-form">
            <input class="form-control" placeholder="Branch or SHA (optional)">
            <a class="btn btn-block orange">Add Repository</a>
          </form>
        <li>
          <a class="select-repo">
            username/reponame
            <a class="btn btn-sm silver glyphicons cogwheel select-branch"></a>
          </a>
          <form class="add-repo-form">
            <input class="form-control" placeholder="Branch or SHA (optional)">
            <a class="btn btn-block orange">Add Repository</a>
          </form>
      </ul>
    </div>
  </div>
</div>