<ul class="controls">
  <li class="dark-theme theme active" rel="tooltip" title="Dark Theme">
  <li class="light-theme theme" rel="tooltip" title="Light Theme">
  <li class="open-context-menu glyphicons plus pull-right" rel="tooltip" title="Add">
  <li class="glyphicons disk-save pull-right" rel="tooltip" title="Download ZIP">
  {{#unless lock}}
    {{view "sync_button" model=container}}
  {{/unless}}
</ul>

{{#unless lock}}
<a id="drop-to-add">
  <div>Drag a file in to add it.</div>
  <div>Drop it here, or in the file tree.</div>
</a>
{{/unless}}

<ul class="nav nav-pills nav-stacked">
  {{view "file_tree" model=rootDir editmode=editmode}}
</ul>