<ul class="controls">
  <li class="dark-theme theme active" rel="tooltip" title="Dark Theme">
  <li class="light-theme theme" rel="tooltip" title="Light Theme">
  <li class="open-context-menu glyphicons plus" rel="tooltip" title="Add">
  {{#unless lock}}
    {{view "sync_button" model=container}}
  {{/unless}}
</ul>

{{#unless lock}}
<a id="drop-to-add">
  <span class="glyphicons circle-arrow-down"></span>
  Drop to Add
</a>
{{/unless}}

<ul class="nav nav-pills nav-stacked">
  {{view "file_tree" model=rootDir editmode=editmode}}
</ul>