<span class="glyphicons cogwheel"></span>
<div class="popover fade bottom menu">
  <div class="arrow"></div>
  <div class="popover-content">
    <div id="file-explorer-menu-options">
      <ul class="popover-body">
        <li>
          <a>
            <object class="iconnables" data="/images/icons/icons-new-file.svg" type="image/svg+xml"></object>
            New File
          </a>
        <li>
          <a>
            <object class="iconnables" data="/images/icons/icons-new-folder.svg" type="image/svg+xml"></object>
            New Folder
          </a>
        <li>
          <a>
            <object class="iconnables" data="/images/icons/icons-octocat.svg" type="image/svg+xml"></object>
            Add Repo
          </a>
      </ul>
    </div>
  </div>
</div>