<ul id="controls">
  <li class="dark-theme theme active tooltip" data-title="Dark Theme">
    <span></span>
  <li class="light-theme theme tooltip" data-title="Light Theme">
    <span></span>
  {{!--
  <li data-action="download" class="pull-right tooltip" data-title="Download">
    <span class="glyphicons disk-save"></span>
  </li>
  {{#unless lock}}
    {{view "sync_button" model=container}}
  {{/unless}}
  --}}
</ul>

{{!--
<a id="drop-to-add">
  <div>Drag a file in to add it.</div>
  <div>Drop it here, or in the file tree.</div>
</a>
--}}

<div id="build-files" class="sub-tree in">
  <a></a>
  <h6>
    BUILD FILES
    {{#if editmode}}
    <button type="button" class="silver btn-sm glyphicons plus"></button>
    {{/if}}
  </h6>
  {{!--demo data--}}
  <ul class="nav nav-pills nav-stacked">
    <li class="folder open ui-droppable">
      <ul class="fs-list nav-collapse in">
        <li class="folder ui-droppable">
          <div>
            <a class="arrow collapsed ui-draggable" title="bin">
              <object class="iconnables filetypes" data="/images/icons/filetypes/icons-folder.svg" type="image/svg+xml"></object>
              bin
            </a>
          </div>
          <ul class="fs-list nav-collapse collapse">
            <li class="loading">
              <div><img src="/images/loading.gif" width="16"></div>
          </ul>
        <li>
          <div>
            <a title="Dockerfile" class="ui-draggable">
              <object class="iconnables filetypes" data="/images/icons/filetypes/icons-file.svg" type="image/svg+xml"></object>
              Dockerfile
            </a>
          </div>
        <li>
          <div>
            <a title="this.config" class="ui-draggable">
              <object class="iconnables filetypes" data="/images/icons/filetypes/icons-file.svg" type="image/svg+xml"></object>
              this.config
            </a>
          </div>
        <li>
          <div>
            <a title="CodeNow/runnable-web.git" class="ui-draggable">
              <object class="iconnables filetypes" data="/images/icons/filetypes/icons-git.svg" type="image/svg+xml"></object>
              CodeNow/runnable-web
            </a>
          </div>
        <li>
          <div>
            <a title="twbs/bootstrap/commit/06fae12023293ea495c7c0e5f21dc9fa8cc86b44" class="ui-draggable">
              <object class="iconnables filetypes" data="/images/icons/filetypes/icons-git.svg" type="image/svg+xml"></object>
              twbs/bootstrap#06fae12023293ea495c7c0e5f21dc9fa8cc86b44
            </a>
          </div>
      </ul>
  </ul>
  {{!--/demo data--}}
</div>

<div id="container-files" class="sub-tree in">
  <a></a>
  <h6>
    CONTAINER
    {{#if editmode}}
    <div class="btn-group">
      <button id="rebuild" type="button" class="silver btn-sm">Rebuild</button>
      <button id="tip" type="button" class="silver btn-sm glyphicons warning-sign"></button>
      <button type="button" class="silver btn-sm glyphicons plus"></button>
      {{view "preview_popover"}}
    </div>
    {{else}}
    <button type="button" class="silver btn-sm glyphicons plus"></button>
    {{/if}}
  </h6>
  <ul class="nav nav-pills nav-stacked">
    {{view "file_tree" model=rootDir editmode=editmode}}
  </ul>
</div>