{{#each collection.models}}
{{view "file_tab" model=.}}
{{/each}} 

<li>
  <a data-type="special-tab" title="Output" class="tab-body" style="color:red; background:#000;">Output</a>
  <a class="glyphicons remove-2"></a>
</li>
<li>
  <a data-type="special-tab" title="Terminal" class="tab-body" style="color:red; background:#000;">Terminal</a>
  <a class="glyphicons remove-2"></a>
</li>
