<ul class="open-file-tabs">
  <li class="selected"><a href="">index.html</a><i class="close-file"></i></li>
  <li><a href="">server.js</a><i class="close-file"></i></li>
  <li><a href="">styles.css</a><i class="close-file"></i></li>
</ul>
