<a href="javascript:void(0);" title="{{path}}{{name}}" class="tab-body">{{name}}</a>
<a class="close-tab" href="javascript:void(0);">
  <img src="/images/tab-close.png" height="10" width="11" alt="Close Tab" />
</a>