<div class="container">
  <ul class="row">
    <li><a href="/publish">API Providers</a>
    <li><a href="/about">About Us</a>
    <li><a href="//twitter.com/getrunnable">Twitter</a>
    <li><a href="/jobs">Jobs</a>
    {{!-- <li><a href="//status.runnable.com" target="_blank">Status</a> --}}
    <li><a class="contact">Contact Us</a>
    <li><a href="/privacy">Privacy</a>
  </ul>
  <small class="row">&copy; 2015 Runnable</small>
</div>
{{view "page_loader"}}
