<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="navbar-header">
        <p class="navbar-brand">Copyright 2013 Runnable.com</p>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/publish">API Providers</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="//blog.runnable.com">Blog</a></li>
        <li><a href="/jobs">Jobs</a></li>
        <li><a href="//support.runnable.com">Support</a></li>
        <li><a class="contact" href="javascript:void(0);">Contact Us</a></li>
        <li><a href="/privacy">Privacy</a></li>
      </ul>
    </div>
  </div>
</div>
{{view "page_loader"}}