<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="navbar-header">
        <p class="navbar-brand">&copy; 2014 Runnable</p>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/publish">API Providers</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="//twitter.com/getrunnable">Twitter</a></li>
        <li><a href="/jobs">Jobs</a></li>
        <li><a href="//status.{{domain}}" target="_blank">Status</a></li>
        <li><a href="//support.{{domain}}">Support</a></li>
        <li><a class="contact" href="javascript:void(0);">Contact Us</a></li>
        <li><a href="/privacy">Privacy</a></li>
      </ul>
    </div>
  </div>
</div>
{{view "page_loader"}}