<div class="container">
  <nav class="footer-nav">
        <a href="/providers">API Providers</a>
          <a href="/about">About Us</a>
          <a href="/jobs">Jobs</a>
          <a href="mailto:support@runnable.com?subject=Hi">Contact</a>
          <a href="/privacy">Privacy</a>
      </nav>
      <nav class="social-icons">
        <a href="http://twitter.com/GetRunnable" class="twitter" title="Follow @GetRunnable on Twitter">Follow @GetRunnable</a>
          <a href="http://github.com/runnable" class="github" title="Check us out on Github">Github Runnable</a>
      </nav>
</div>