<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="navbar-header">
        <p class="navbar-brand">Copyright 2013 Runnable.com</p>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/providers">API Providers</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/jobs">Jobs</a></li>
        <li><a href="mailto:support@runnable.com?subject=Hi">Contact Us</a></li>
        <li><a href="/privacy">Privacy</a></li>
      </ul>
    </div>
  </div>
</div>
