<div class="container">
  <ul>
    <li><a href="/publish">API Providers</a>
    <li><a href="/about">About Us</a>
    <li><a href="//twitter.com/getrunnable">Twitter</a>
    <li><a href="/jobs">Jobs</a>
    <li><a href="//status.{{domain}}" target="_blank">Status</a>
    <li><a href="//support.{{domain}}">Support</a>
    <li><a class="contact">Contact Us</a>
    <li><a href="/privacy">Privacy</a>
  </ul>
  <small>&copy; 2014 Runnable</small>
</div>
{{view "page_loader"}}
