<div class="container">
  <div class="row">
    <div class="col-sm-2">
      <small>&copy; 2014 Runnable</small>
    </div>
    <div class="col-sm-10">
      <ul>
        <li><a href="/publish">API Providers</a>
        <li><a href="/about">About Us</a>
        <li><a href="//twitter.com/getrunnable">Twitter</a>
        <li><a href="/jobs">Jobs</a>
        <li><a href="//status.{{domain}}" target="_blank">Status</a>
        <li><a href="//support.{{domain}}">Support</a>
        <li><a class="contact">Contact Us</a>
        <li><a href="/privacy">Privacy</a>
      </ul>
    </div>
  </div>
</div>
{{view "page_loader"}}
