<div class="well">
  <label class="new">New!</label>
  <p class="p">Does your team have a staging problem? Fix it with our new product.</p>
  <a class="btn orange" href="//runnable.io">Discover Sandboxes</a>
</div>