<div class="container">
  <nav class="row">
    <div class="col-sm-4">
      <a id="logo" href="/">
        <span></span>
        <sup>&lt;beta&gt;</sup>
      </a>
    </div>
    {{#unless noactions}}
    {{view "header_actions" model=model}}
    {{/unless}}
    {{#unless nosearch}}
       {{view "searchbar" classname="col-sm-4 col-md-3 col-lg-2" inputclass="form-control" placeholder="Search for code"}}
    {{/unless}}
  </nav>
</div>
