<div class="container">
  <nav class="row">
    <div id="logo" class="col-sm-4">
      <a href="/"></a>
      <sup>&lt;beta&gt;</sup>
    </div>
    {{#unless nosearch}}
    {{view "searchbar" classname="col-sm-4" inputclass="form-control" placeholder="Search for code"}}
    {{/unless}}
    {{#unless noactions}}
    {{view "header_actions" model=model}}
    {{/unless}}
  </nav>
</div>
