<div class="container">
  <nav class="row">
    <div id="logo" class="navbar-header">
      <a class="navbar-brand" href="/"><img src="/images/logo.png" height="24"  /></a>
    </div>
    {{#unless nosearch}}
    {{view "searchbar" classname="navbar-form navbar-left" divclass="form-group" inputclass="form-control" placeholder="Search for an Example"}}
    {{/unless}}
    {{view "header_actions" model=model}}
  </nav>
</div>
