<div class="container">
  <nav class="row">
    <div class="col-sm-4">
      <a id="logo" href="/">
        <span></span>
        <sup>&lt;beta&gt;</sup>
      </a>
    </div>
    {{#unless noactions}}
    {{view "header_actions" model=model}}
    {{/unless}}
    {{view "searchbar" classname="col-sm-4" inputclass="form-control" placeholder="Search for code"}}
  </nav>
</div>
