<div class="container">
  <nav class="row">
    <div id="logo" class="navbar-header">
      <a class="navbar-brand" href="/"><img src="/images/runnable-logo.png" height="24" width="129" /></a>
    </div>
    {{view "search_bar_view"}}
    {{view "header_actions" model=model}}
  </nav>
</div>