<div class="arrow"></div>

<h3 class="popover-title">
  Send a message to the author
  <button type="button" class="close">×</button>
</h3>

<div class="popover-content">
  <!-- TJ You have to make this "proper" - Praful -->
  <form id="improve_from_1337" class="clearfix">
    {{!--
    <div class="dropdown">
      <button type="button">
        <span class="selected">Category [optional]</span>
      </button>
      <select>
        <option selected disabled>Select a category
        <option value="Doesn't seem to run.">Doesn't seem to run.
        <option value="Doesn't run as expected.">Doesn't run as expected.
        <option value="Error printed on run.">Error printed on run.
        <option value="It's unclear how this example works.">It's unclear how this example works.
        <option value="Something else.">Something else.
      </select>
    </div>
     --}}
    <textarea style="min-height:100px;" class="form-control feedback-description" placeholder="Type your message here." required></textarea>
    <div class="modal-footer">
      <button class="orange">Send</button>
    </div>
  </form>
</div>