<div class="arrow"></div>
 <div class="popover-content">
  <!-- TJ You have to make this "proper" - Praful -->
  <form id="improve_from_1337" class="clearfix">
    <textarea class="form-control feedback-description" placeholder="Send a message to the author" required></textarea>
    <button class="orange">Send</button>
  </form>
</div>