<form method="post" action="" class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title">{{header}}</h4>
    </div>
    <div class="modal-body">
      <input type="text" class="form-control" name="username" placeholder="Email or Username" />
      <input type="password" class="form-control" name="password" placeholder="Password" />
      <button type="submit" class="orange">Sign In</button>
      <p>Not Registered? <a class="signup-link" href="/invite">Sign up for a free account.</a></p>
    </div>
  </div><!-- /.modal-content -->
</form><!-- /.modal-dialog -->