<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title">We are Experiencing High Demand!</h4>
    </div>
    <div class="modal-body">
      Your account is in queue. We will email you as soon as it's ready. <br><br> - The Runnable Team
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->