<div class="modal">
  <section class="modal-header">
    <h3>Add a new {{type}} to this runnable</h3>
    <button type="button" class="btn-close"><i class="icon-remove"></i></button>
  </section>
  <section class="modal-body">
    <form>
      <div class="item">
        <label for="">Name of {{type}}</label>
        <input type="text" maxlength="25" class="input-name" name='name'>
      </div>
      <div class="actions">
        <button class="btn-primary">Save file</button>
        <button class="btn-text btn-cancel" type="button">Cancel</button>
      </div>
    </form>
  </section>
</div>
