<form class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title">Add a new {{type}} to this runnable</h4>
    </div>
    <div class="modal-body">
      <input type="text" class="form-control" name="name" maxlength="256" placeholder="Name of {{type}}" autofocus required />
      <button type="submit" class="orange col-sm-12">Create</button>
    </div>
  </div><!-- /.modal-content -->
</form><!-- /.modal-dialog -->