{{#if show}}
  <section class="status-bar">
    <div class="container">
      <div class="row">
        <p>You are the owner of this project, you can Edit{{!or Delete}} it.</p>
        <div>
          {{view "edit_button" containerid=containerid}}
          {{! <button class="purple light">Delete Project</button> }}
        </div>
      </div><!--/.row-->
    </div><!--/.container-->
  </section>
{{/if}}