{{#if show}}
  <section class="status-bar">
    <div class="container">
      <div class="row">
        {{view "edit_button" containerid=containerid}}
        <p><b>You own this project!</b><span> Feel free to edit it.</span></p>
      </div><!--/.row-->
    </div><!--/.container-->
  </section>
{{/if}}