<a href=""><img src="/images/channels/facebook.png" alt=""> Facebook</a>
<a href=""><img src="/images/channels/nodejs.png" alt=""> Node.js</a>
<a href=""><img src="/images/channels/codeigniter.png" alt=""> Codeigniter</a>
<a href=""><img src="/images/channels/jquery.png" alt=""> jQuery <i class="icon-remove remove-tag"></i></a>