<section class="status-bar">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        Lorem Ipsum Text.
      </div>
    </div><!--/.row-->
  </div><!--/.container-->
  {{view "publish_loader" model=model}}
</section>
