<section class="status-bar">
  <div class="container">
    <div class="row">

      {{#if_result user method="canEdit" a0=model}}
        <button id="pubwarn-back-button">Publish</button>
      {{/if_result}}

      {{#if_result user method="isVerified"}}
        <button id="pubwarn-new-button">Publish as a New Project</button> 
      {{else}}
        <button id="pubwarn-request-button">Publish as a New Project</button>
      {{/if_result}}

      <p><strong>You're in <b>Draft Mode</b>!</strong><span> Publish it when you're ready to show it off to the world.</span></p>
    </div><!--/.row-->
  </div><!--/.container-->
  {{view "publish_loader" model=context.container}}
</section>
