<p><b>Your code is currently in draft mode. When you're ready to show it off to the world hit publish.</b></p>
<p>
  {{#if canedit}}
  <button id="pubwarn-back-button" class="orange">Publish back as Existing Example</button>
  <button id="pubwarn-new-button" class="orange">Publish as New Example</button>
  {{else}}
  <button id="pubwarn-new-button" class="orange">Publish as New Example</button>
  {{/if}}
</p>