<section class="status-bar">
  <div class="container">
    <div class="row">
      <div class="preview-bar">
        <button class="silver" type="button">Exit Preview</button>
        <p>
          If you've made changes to your container, you'll need to update your dockerfile.
      </div>
      <div class="sandbox-bar">
        {{view "preview_button"}}
        <p>
          <strong>You're in <b>Edit Mode</b>!</strong>
          <span> Preview it to see what the public sees.</span>
      </div>
    </div><!--/.row-->
  </div><!--/.container-->
  {{view "publish_loader" model=model}}
</section>
