{{#if show}}
<div class="status-bar">
  <div class="container">
    <div class="status-message col-sm-8">
      <p>Your code is currently in <b>Draft Mode</b>. When you're ready to show it off to the world, hit <b>Publish</b>.</p>
    </div>
    <div class="status-buttons col-sm-4">
      {{#if_result user method="canEdit" a0=model}}
      <button id="pubwarn-back-button" class="purple">Publish</button>
      {{/if_result}}
      <button id="pubwarn-new-button" class="purple">Publish as New Example</button>
    </div>
  </div>
</div>
{{/if}}