<p>Your code is currently in draft mode. When you're ready to show it off to the world hit publish.</p>
<p>
  {{#if permissions.edit}}
	<button id="pubwarn-back-button" class="btn-primary">Publish back to existing example</button>
  {{else}}
  	<button id="pubwarn-new-button" class="btn-primary">Publish as new code example</button>
  {{/if}}
</p>