<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title">Get an Invite to Publish Code</h4>
    </div>
    <div class="modal-body">
      {{view "publish_request_form" modal=true}}
      <a class="request-link" href="/publish">Learn More »</a>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->