<section class="status-bar">
  <div class="container">
    <div class="row">
      <div class="preview-bar">
        <button id="exit-preview-button" class="purple" type="button"><span class="glyphicons unshare"></span>Exit Preview</button>
        <p>
          If you've made changes to your container, you'll need to update your dockerfile.
      </div>
      <div class="sandbox-bar">
        <button id="preview-button" class="purple" type="button"><span class="glyphicons imac"></span> Public Preview</button>
        <p>
          Preview will show you what the public sees.
      </div>
    </div><!--/.row-->
  </div><!--/.container-->
  {{view "publish_loader" model=model}}
</section>
