<pre class="loader-text">
>> File "public/styles/index.css" changed.

Completed in 0.004s at Thu Apr 24 2014 17:26:23 GMT-0700 (PDT) - Waiting...
OK
>> File "assets/scss/loader.scss" changed.

Running "noop" task

Done, without errors.
^Ctonypro:runnable-web tonyli$ grunt server
Running "handlebars:compile" (handlebars) task
File "app/templates/compiledTemplates.js" created.

Running "channel-images-hash" task

Running "commit-hash-file" task

Running "rendr_stitch:compile" (rendr_stitch) task
File "public/mergedAssets.js" created.

Running "compass:compile" (compass) task
overwrite public/styles/index.css

Running "compass:server" (compass) task
overwrite public/styles/index.css

Running "concat:dev" (concat) task
File "public/styles/index.css" created.

Running "copy:dev" (copy) task
Copied 1 files

Running "copy:layout" (copy) task
Copied 1 files

Running "autoprefixer:single_file" (autoprefixer) task
File "public/styles/index.css" prefixed.

Running "bgShell:server" (bgShell) task

Running "watch" task
Waiting...24 Apr 17:27:39 - [nodemon] v0.7.10
24 Apr 17:27:39 - [nodemon] to restart at any time, enter `rs`
24 Apr 17:27:39 - [nodemon] watching: /Users/tonyli/Runnable/runnable-web
24 Apr 17:27:39 - [nodemon] starting `node index.js`
24 Apr 17:27:39 - [nodemon] reading ignore list
[index.js:44] Creating new worker 1
[index.js:44] Creating new worker 2
[index.js:44] Creating new worker 3
[index.js:44] Creating new worker 4
[index.js:44] Creating new worker 5
[index.js:44] Creating new worker 6
[index.js:44] Creating new worker 7
[index.js:44] Creating new worker 8
[server/server.js:59] attempt listen on port 3000
[server/server.js:61] server pid 43398 listening on port 3000 in development mode
[server/server.js:59] attempt listen on port 3000
[server/server.js:61] server pid 43399 listening on port 3000 in development mode
[server/server.js:59] attempt listen on port 3000
[server/server.js:61] server pid 43400 listening on port 3000 in development mode
[server/server.js:59] attempt listen on port 3000
[server/server.js:61] server pid 43397 listening on port 3000 in development mode
[server/server.js:59] attempt listen on port 3000
[server/server.js:61] server pid 43401 listening on port 3000 in development mode
[server/server.js:59] attempt listen on port 3000
[server/server.js:61] server pid 43402 listening on port 3000 in development mode
[server/server.js:59] attempt listen on port 3000
[server/server.js:61] server pid 43403 listening on port 3000 in development mode
[server/server.js:59] attempt listen on port 3000
[server/server.js:61] server pid 43404 listening on port 3000 in development mode
</pre>

<div>
  {{view "spinner"}}
  <a>Cancel</a>
</div>