<div class="modal-dialog spec-modal" id="review-spec-modal">

  <div class="modal-content">
    {{#with specification.attributes}}

    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title">Review {{name}} API</h4>
    </div><!--/.modal-header-->

    <div class="status-bar">
      <div class="container">
        <div class="status-message col-sm-8">
          <p>Wanna make changes?</p>
        </div>
        <div class="status-buttons">
          <button class="purple">Edit</button>
        </div>
      </div>
    </div><!--/.status-bar-->

    <div class="modal-body">
      <div>
          <p>API Keys</p>
          {{#each requirements}}
            <input class="form-control" value="{{.}}" disabled>
          {{/each}}
          <hr>
          <p>Instructions</p>
          <!--<div>{{instructions}}</div>-->
          <div>{{markdown instructions}}</div>
      </div>
      <a href="javascript:" class="back">Go Back</a>
      <button class="orange done">Add</button>
    </div><!--/.modal-body-->

    {{/with}}
  </div><!--/.modal-content-->

</div><!--/.modal-dialog-->