<img src="/images/button-run.png" height="13" width="10" />
<span>Run</span>
{{view "implement_link"
  model=specification
  collection=context.implementations
  containerid=model.id
  classname="hide"}}
