{{#if canedit}}
  <form>
    <input class="form-control" name="name" placeholder="Give your code example a title" value="{{model.attributes.name}}" maxlength="2000" autofocus required>
  </form>
{{else}}
  <span>{{model.virtual.nameWithTags}}</span>
{{/if}}