{{#if editmode}}
  <form action="javascript:void(0);">
    <div class="item">
      <input class="form-control" name="name" autofocus placeholder="Give your code example a title" value="{{model.attributes.name}}" maxlength="2000" required>
    </div>
    <button class="silver">Save</button>
    <button class="silver btn-cancel" type="button">Cancel</button>
  </form>
{{else}}
  {{model.virtual.nameWithTags}}
  {{#if canedit}}
  <a href="javascript:void(0);" class="edit-title"></a>
  {{/if}}
{{/if}}