{{#unless editMode}}
  {{#with runnable}}
  {{name}}
    <h1>{{isOwner}}</h1>
    <a href="javascript:void(0);" class="edit-link">Edit</a>
  {{/with}}
{{else}}
  {{#with runnable}}
  <form>
    <div class="item">
      <input type="text" class="title-input" name="name" autofocus placeholder="Give your code example a title" value="{{name}}" />
    </div>
    <button class="btn-secondary">Save title</button>
  </form>
  {{/with}}
{{/unless}}