{{#if specification}}
{{#with specification.attributes}}
<div class="left name"><b>{{name}}</b></div>
{{/with}}
<ul class="nav right">
  {{#if editmode}}
  <li>
    <a class="edit-service" href="javascript:void(0);">
      <span class="glyphicon glyphicon-cog"></span>
    </a>
  </li>
  <li>
    <a class="remove-service" href="javascript:void(0);">
      <span class="glyphicon glyphicon-remove"></span>
    </a>
  </li>
  {{/if}}
</ul>
<div class="clear"></div>
{{view "implement_form" model=specification collection=context.implementations containerid=model.id}}
{{else}}
{{#if editmode}}
<button name="add" class="silver">
  <i class="icon-plus"></i>
  Add
</button>
{{/if}}
{{/if}}
