{{#each tags}}
<a href="/{{urlFriendly name}}"><img src="/images/channels/{{urlFriendly name}}.png" alt="">
{{name}}
{{#if ../editMode}}
<i data-id="{{_id}}" class="icon-remove remove-tag"></i>
{{/if}}
</a>
{{/each}}