<input class="form-control" value="{{shorturl}}" readonly="">
<button class="silver left facebook">
  <img src="/images/icon-share-fb.png" height="17" width="8">
  {{! <span>190</span> }}
</button>
<button class="silver middle twitter">
  <img src="/images/icon-share-tw.png" height="13" width="16">
  {{! <span>190</span> }}
</button>
<button class="silver right email">
  <img src="/images/icon-share-gp.png" height="17" width="15">
  {{! <span>190</span> }}
</button>