{{#if editMode}}
<form action="javascript:void(0);">
  <div class="item">
    <input type="text" class="title-input form-control" name="description" autofocus placeholder="Give your code example a description" value="{{model.attributes.description}}" />
  </div>
  <button class="silver" type="submit">Save title</button>
  <button class="silver btn-cancel" type="button">Cancel</button>
</form>
{{else}}
  <p class="description">
    {{model.attributes.description}}<!--a class="more" href="#">&bull; &bull; &bull;</a-->
    {{#if canEdit}}
      {{#if model.attributes.description}}
      <a href="javascript:void(0)" class="edit-link">Edit</a>
      {{else}}
      <a href="javascript:void(0)" class="edit-link">Add description</a>
      {{/if}}
    {{/if}}
  </p>
{{/if}}