{{#unless editMode}}
  <h1>
  {{model.virtual.nameWithTags}}
  {{#if canEdit}}
  <a href="javascript:void(0);" class="edit-link">Edit</a>
  {{/if}}
  </h1>
{{else}}
  <form action="javascript:void(0);">
    <div class="item">
      <input type="text" class="title-input" name="name" autofocus placeholder="Give your code example a title" value="{{model.attributes.name}}" />
    </div>
    <button class="btn-secondary" type="submit">Save title</button>
    <button class="btn-text btn-cancel" type="button">Cancel</button>
  </form>
{{/unless}}