<h2>
  <span class="glyphicons share"></span>Forked from <a href="#">Create a horizontal navigation menu bar using jQuery</a>.
</h2>
{{#with model.attributes}}
<data>
  <span class="glyphicons play-button"></span><b>{{runs}}</b> Runs
  <span class="glyphicons eye-open"></span><b>{{views}}</b> Views
  <span class="glyphicons notes-2"></span><b>{{copies}}</b> Copies
</data>
{{/with}}