<div class="arrow"></div>
<div class="popover-content">
  <form class="popover-body">
    <input class="tag-form-text form-control" name="name" required>
    <button class="orange">Add Tag</button>
  </form>
</div>