{{#if editmode}}
  <form>
    <input class="form-control" name="name" placeholder="Give your code example a title" value="{{model.attributes.name}}" maxlength="2000" autofocus required>
    <button class="silver">Save Title</button>
    <a class="cancel">Cancel</a>
  </form>
{{else}}
  <span>{{model.virtual.nameWithTags}}</span>
  {{#if canedit}}
  <a class="glyphicons edit"></a>
  {{/if}}
{{/if}}