<h2 class="col-sm-12">Lunch ROI calculator</h2>
<div class="col-sm-12">
  <ul>
    <li class="tag">
      <a>Python</a>
    <li class="tag">
      <a>Java</a>
    <li class="tag">
      <a>Bootstrap</a>
  </ul>
  <span>33s ago</span>
</div>
<div class="col-sm-12">
  <span>300 views</span>
  <span>by <a>Runnable</a></span>
</div>