{{#unless editMode}}
  {{model.attributes.name}}
  {{#if isOwner}}
  <a href="" class="edit-link">Edit</a>
  {{/if}}
{{else}}
  {{#with model.attributes}}
  <form>
    <div class="item">
      <input type="text" class="title-input" name="name" autofocus placeholder="Give your code example a title" value="{{name}}" />
    </div>
    <button class="btn-tertiary btn-cancel">Cancel</button>
    <button class="btn-primary">Save title</button>
  </form>
  {{/with}}
{{/unless}}