<form class="search-form">
  <label for="search-bar-input">Search for code example requests</label>
  <div class="relative">
	<input id="search-bar-input" type="search" autofocus placeholder="Search for runnable code examples"></input><i class="icon-search"></i>
	<div id="search-bar-dropdown" class="search-auto-complete">
		<ul id="search-bar-dropdown-suggestions">
		</ul>
	</div>
  </div>
</form>