<div class="{{divclass}}">
  <input name="q" type="text" placeholder="{{placeholder}}" class="{{inputclass}}"/>
  {{#if hasbutton}}
    <button class="orange"><span class="glyphicons search"></span></button>
  {{/if}}
</div>