<div class="{{divclass}}">
  <input name="q" type="text" placeholder="{{placeholder}}" class="{{inputclass}}" required>
  <button class="orange"><span class="glyphicons search"></span></button>
</div>