<div class="{{divclass}}">
  <input name="q" type="text" placeholder="{{placeholder}}" class="{{inputclass}}"/>
  {{#if hasbutton}}
  <span class="input-group-btn">
    <button class="btn btn-default" type="submit"><img src="/images/icon-search.png" height="16" width="16" /></button>
  </span>
  {{/if}}
</div>