<article class="modal">
  <section class="modal-header">
    <h3>{{header}}</h3>
    <button type="button" class="btn-close"><i class="icon-remove"></i></button>
  </section>
  <section class="modal-body">
    <div class="modal-content">
      <form id="login-form">
        <div class="item span8">
          <label for="username">Username</label>
          <input type="text" name="username" autofocus required>
        </div>
        <div class="item span8">
          <label for="email">Email</label>
          <input type="email" name="email" required>
        </div>
        <div class="item span8">
          <label for="password">Password</label>
          <input type="password" name="password" required>
        </div>
        <div class="actions">
          <button class="btn-secondary">Sign up</button>
        </div>
      </form>
      <p>Already have an account? <a class="login-link" href="javascript:void(0)">Log in here</a>.</p>
    </div>
  </section>
</article>