{{#each model.attributes.requirements}}
<div class="added-key">
  {{#if_eq @index compare=1}}
  <input class="form-control" placeholder="API Key"name="requirement" value="{{.}}" required>
  {{else}}
  <input class="form-control" placeholder="API Key"name="requirement" value="{{.}}">
  <a href="javascript:" class="col-sm-2 remove-key glyphicon glyphicon-remove"></a>
  {{/if_eq}}
</div>
{{else}}
<input class="form-control" placeholder="API Key" name="requirement" required>
{{/each}}
<a href="javascript:" class="add-key">Add Another Key</a>

<div class="template hide added-key">
  <input class="form-control" placeholder="API Key"name="requirement">
  <a href="javascript:" class="col-sm-2 remove-key glyphicon glyphicon-remove"></a>
</div>