{{#each model.attributes.requirements}}
<div class="added-key">
  <input class="form-control inline-block" name="requirement" value="{{.}}" disabled="disabled">
  <a href="javascript:" class="col-sm-2 remove-key glyphicon glyphicon-remove"></a>
</div>
{{/each}}
<div class="form-group">
  <input class="form-control" name="newrequirement" placeholder="New Key Name">
  <button type="button" class="silver">x</button>
</div>
<button type="button" class="silver col-sm-12 add-key">Add Key</button>