{{view "channel_image" name=name retina=true}}

{{#if meter}}
  <figure class="_{{meter}}">
    <div></div>
    <div></div>
  </figure>
{{/if}}

<figcaption>{{view "tag_link" name=name}} x {{contributions}}</figcaption>