{{#channelHasImage name}}
  {{view "channel_image" name=name tag=true height="12" width="12"}}
{{/channelHasImage}}

{{name}}

{{#if editmode}}
  <span data-id="{{_id}}" class="glyphicons remove-2"></span>
{{/if}}