{{#channelHasImage name}}{{view "channel_image" name=name tag=true height="12" width="12"}}{{/channelHasImage}}
{{name}}
{{#if editmode}}
<span data-id="{{_id}}" class="icon-remove remove-tag"><img src="/images/tab-close.png" height="10" width="11" alt="Close Tab"></span>
{{/if}}