<div class="loader">Loading..</div>
<h3 class="terminal-title">
  <span>Terminal</span>
  <a href="{{url}}" target=""><img src="/images/control-popout.png" height="11" width="11" alt="Pop Out" /></a>
</h3>
<iframe class="terminal-iframe" src="{{url}}" frameborder="0" height='100%' width='100%'>
</iframe>
