<div class="terminal-loader">
  <div class="terminal-loader-icon">
    <img src="/images/loader-terminal.png" height="36" width="53">
    <div class="dot dot-1"></div>
    <div class="dot dot-2"></div>
    <div class="dot dot-3"></div>
    <div class="dot dot-4"></div>
    <div class="dot dot-5"></div>
  </div>
</div>
<h3 class="terminal-title">
  Terminal
  <a href="{{termurl}}" target="_blank" class="glyphicons new-window-alt"></a>
  <aside id="terminal-help">
    <a class="file-sync">
      <span>Making changes to your files?</span>
      <i class="glyphicons refresh"></i>
      <span>Refresh the File Browser.</span>
    </a>

    {{#if isUserVerified}}
    <a class="message-us">
      <i class="glyphicons circle-question-mark"></i>
      <span>Message us if you need to auto-start a service or command.</span>
    </a>
    {{/if}}
  </aside>
</h3>
<iframe class="terminal-iframe" src="" frameborder="0" height='100%' width='100%'>
</iframe>
{{view 'timeout_notification'}}