<div class="loader-text">
  <h1>Your session has timed out.</h1>
  <button class="silver">
    Refresh
    <span>(discard unsaved changes)</span>
  </button>
  <a>Dismiss (the page may not function properly).</a>
</div>