{{!-- <img src="/images/arrow-up.png" height="13" width="15" alt="Vote Up" />
<span>{{votes}}</span> --}}

<button type="button" class="btn silver">
  <span class="glyphicons thumbs-up"></span>
  {{votes}}
</button>