<div class="row">
  <form>
  <a id="output-reload" href="#"></a>
  <input type="text" class="form-control" value="{{currentUrl}}">
  <a id="output-popout" href="{{currentUrl}}" target="_blank"></a>
  </form>
</div>