<div class="top-pad">
  <button class="toolbar-action back-button" disabled="disabled" title="Back"><i class="icon-arrow-left"></i></button>
  <button class="toolbar-action refresh-button" title="Refresh web output"><i class="icon-repeat"></i></button>
  <form><input class="gray-bar address-bar" type="text" value="/"></form>
</div>