<div class="row">
  <form>
  <a id="output-reload" href="#"></a>
  <input type="text" class="form-control" value="{{currenturl}}">
  <a id="output-popout" href="{{currenturl}}" target="_blank"></a>
  </form>
</div>