<div class="top-pad">
  <div class="server-address">/</div><form><input class="gray-bar address-bar" type="text" value=""></form></input>
  <button class="toolbar-action back-button" disabled="disabled" title="Back"><i class="icon-arrow-left"></i></button>
  <button class="toolbar-action refresh-button" title="Refresh web output"><i class="icon-repeat"></i></button>
  {{! <button class="toolbar-action info-button active right tooltip-ne" title="Show/hide project information"><i class="icon-info-sign"></i></button> }}
</div>